In [208]:
import numpy as np
import re
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors
from sklearn.decomposition import PCA

In [209]:
df_23 = pd.read_csv('./Dataset/FIFA23_official_data.csv')
df_22 = pd.read_csv('./Dataset/FIFA22_official_data.csv')

In [210]:
# Filter df_22 and df_23 to keep only the common club names
common_clubs = set(df_22['Club']).intersection(set(df_23['Club']))
df_22_common = df_22[df_22['Club'].isin(common_clubs)]
df_23_common = df_23[df_23['Club'].isin(common_clubs)]

# Merge the filtered DataFrames
merged = pd.merge(df_22_common, df_23_common, on='ID', how='inner', suffixes=('_22', '_23'))

In [211]:
transfers = merged[merged['Club_22'] != merged['Club_23']][['ID', 'Name_22','Club_22','Club_23',"Best Position"]]

In [212]:
transfers

,ID,Name_22,Club_22,Club_23,Best Position
2,176580,L. Suárez,Atlético de Madrid,Club Nacional de Football,ST
7,181291,G. Wijnaldum,Paris Saint-Germain,Roma,CM
16,212462,Alex Telles,Manchester United,Sevilla FC,LB
22,200458,L. Digne,Everton,Aston Villa,LB
27,195864,P. Pogba,Manchester United,Juventus,CM
...,...,...,...,...,...
7538,254122,H. Cartwright,Hull City,Peterborough United,GK
7541,258928,V. Sinisalo,Aston Villa,Burton Albion,GK
7563,257138,B. Nna Noukeu,Crawley Town,Stoke City,GK
7569,263373,J. Searle,Swansea City,Barnsley,GK
7570,259718,F. Gebhardt,FC Basel 1893,Hallescher FC,GK

In [213]:
transfers.to_csv('./rec_extended_data/ground_truth.csv')

## Approach 1: KNN

In [214]:
Unimportant_features  = ["Photo", "Flag", "Club Logo", "Wage", "Special", "International Reputation", "Work Rate", "Body Type", "Real Face", "Jersey Number", "Contract Valid Until", "Best Overall Rating","Joined","Loaned From"]
df_22.drop(Unimportant_features, axis = 1, inplace = True)

In [215]:
#One - Hot Encoding the Preferred Foot
df_22 = pd.get_dummies(df_22,columns = ["Preferred Foot"])

In [216]:
detailed_features = ['Age','Overall', 'Potential', 'Weak Foot', 'Skill Moves', 'Height', 'Weight', 'Crossing', 'Finishing',
       'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve',
       'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Preferred Foot_Left', 'Preferred Foot_Right']

In [217]:
df_22[detailed_features] = df_22[detailed_features].fillna(0)

In [218]:
# Clean height column
feet_inches_re = re.compile(r"(\d)'(\d+)")

# Define a function to convert feet'inches to cm
def feet_inches_to_cm(s):
    match = feet_inches_re.match(s)
    if match:
        feet = int(match.group(1))
        inches = int(match.group(2))
        return round((feet*12 + inches) * 2.54, 2)
    else:
        return float(s.replace('cm', ''))
df_22['Height'] = pd.to_numeric(df_22['Height'].apply(feet_inches_to_cm))

In [219]:
# Clean Weight Column
def convert_weight(weight_str):
    if 'kg' in weight_str:
        # If weight is in kg, remove the 'kg' suffix and return as float
        return float(weight_str.replace('kg', ''))
    elif 'lbs' in weight_str:
        # If weight is in lbs, convert to kg and return as float
        return float(weight_str.replace('lbs', '')) * 0.453592
    else:
        print("oops")
        # Return NaN if weight format is not recognized
        return pd.np.nan

# Apply the function to the Weight column and create a new column 'Weight_kg'
df_22['Weight'] = df_22['Weight'].apply(convert_weight)

In [220]:
df = df_22.select_dtypes(include = 'number')
df.shape

(16710, 45)

In [221]:
# Compute the correlation matrix
corr = df.corr()

In [222]:
df = df.fillna(0)

In [224]:
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler

# Separate the ID column and scale the data
X = df.drop('ID', axis=1).fillna(0)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Create the KNN model
knn = NearestNeighbors() # don't specify the number of neighbors yet, we will set it in the function
knn.fit(X_scaled)

# Define a function to get the top k closest neighbors of a player
def get_top_k_neighbors(player_id, k=5):
    knn.set_params(n_neighbors=k+1) # add 1 to include the input player in the neighbors
    player_row = df[df['ID'] == player_id].drop('ID', axis=1).fillna(0)
    player_row_scaled = scaler.transform(player_row)
    distances, indices = knn.kneighbors(player_row_scaled)
    neighbor_ids = df.iloc[indices[0]][1:]['ID'].values # exclude the first index which is the input player
    return df[df['ID'].isin(neighbor_ids)].reset_index(drop=True)

In [225]:
real_transfers = pd.read_csv('./rec_extended_data/ground_truth.csv')
real_transfers

,Unnamed: 0,ID,Name_22,Club_22,Club_23,Best Position
0,2,176580,L. Suárez,Atlético de Madrid,Club Nacional de Football,ST
1,7,181291,G. Wijnaldum,Paris Saint-Germain,Roma,CM
2,16,212462,Alex Telles,Manchester United,Sevilla FC,LB
3,22,200458,L. Digne,Everton,Aston Villa,LB
4,27,195864,P. Pogba,Manchester United,Juventus,CM
...,...,...,...,...,...,...
2187,7538,254122,H. Cartwright,Hull City,Peterborough United,GK
2188,7541,258928,V. Sinisalo,Aston Villa,Burton Albion,GK
2189,7563,257138,B. Nna Noukeu,Crawley Town,Stoke City,GK
2190,7569,263373,J. Searle,Swansea City,Barnsley,GK
2191,7570,259718,F. Gebhardt,FC Basel 1893,Hallescher FC,GK

In [226]:
def find_top_players(df_22, real_transfers):
    top_players_dict = {}
    id_list = []

    for index, row in real_transfers.iterrows():
        club_23 = row["Club_23"]
        ID = row["ID"]
        best_position = row["Best Position"]
        club_df = df_22[(df_22["Club"] == club_23) & (df_22["Best Position"] == best_position)]
        if club_df.empty:
            # print(f"No players found for {club_23} in {best_position} for {row['Name_22']}")
            # real_transfers = real_transfers.drop(index=index)
            pass
        else:
            # Sort the filtered dataframe by the Overall column in descending order
            sorted_df = club_df.sort_values(by="Overall", ascending=False)

            # Take the top 2 players and store their IDs in the dictionary
            top_players_dict[(club_23, best_position,ID)] = list(sorted_df.head(2)["ID"])
            id_list.append(ID)
    return top_players_dict,id_list

In [227]:
top_players_dict,id_list= find_top_players(df_22, real_transfers)

In [228]:
len(real_transfers)

2192

In [229]:
len(top_players_dict)

1795

In [232]:
final_real_transgers_df = real_transfers[real_transfers["ID"].isin(id_list)]
final_real_transgers_df

,Unnamed: 0,ID,Name_22,Club_22,Club_23,Best Position
0,2,176580,L. Suárez,Atlético de Madrid,Club Nacional de Football,ST
1,7,181291,G. Wijnaldum,Paris Saint-Germain,Roma,CM
2,16,212462,Alex Telles,Manchester United,Sevilla FC,LB
3,22,200458,L. Digne,Everton,Aston Villa,LB
4,27,195864,P. Pogba,Manchester United,Juventus,CM
...,...,...,...,...,...,...
2187,7538,254122,H. Cartwright,Hull City,Peterborough United,GK
2188,7541,258928,V. Sinisalo,Aston Villa,Burton Albion,GK
2189,7563,257138,B. Nna Noukeu,Crawley Town,Stoke City,GK
2190,7569,263373,J. Searle,Swansea City,Barnsley,GK
2191,7570,259718,F. Gebhardt,FC Basel 1893,Hallescher FC,GK

### Top 5

In [239]:
pred_5 =0 
total_5 =0
for key, value in top_players_dict.items():
    club_23 = key[0]
    best_position = key[1]
    ID = key[2]
    top_player_ids = value

    for id in top_player_ids:
        top_5_neighbors = get_top_k_neighbors(id)["ID"].tolist()
        total_5 = total_5 +1
        # print(top_5_neighbors)
        if ID in top_5_neighbors:
            pred_5 = pred_5 +1
            print("Player has matched",ID,df_22[df_22["ID"]==ID]["Name"])

Player has matched 233419 261    Raphinha
Name: Name, dtype: object
Player has matched 220332 430    A. Romero
Name: Name, dtype: object
Player has matched 226166 972    N. Mukiele
Name: Name, dtype: object
Player has matched 225018 2161    F. Andone
Name: Name, dtype: object
Player has matched 202695 3121    J. Tarkowski
Name: Name, dtype: object
Player has matched 221705 3394    K. Dempsey
Name: Name, dtype: object
Player has matched 215353 4314    L. Alario
Name: Name, dtype: object
Player has matched 257398 5348    21 A. Albanese
Name: Name, dtype: object
Player has matched 232185 5753    C. Brittain
Name: Name, dtype: object
Player has matched 255409 5925    R. Boženík
Name: Name, dtype: object
Player has matched 213152 9503    C. Morris
Name: Name, dtype: object
Player has matched 253715 10204    D. Sarmiento
Name: Name, dtype: object
Player has matched 177597 11705    21 R. Taylor
Name: Name, dtype: object
Player has matched 224987 15510    I. Provedel
Name: Name, dtype: object
Player has matched 152523 16096    S. Flinders
Name: Name, dtype: object

### Top 10

In [240]:
pred_10 =0 
total_10 =0
for key, value in top_players_dict.items():
    club_23 = key[0]
    best_position = key[1]
    ID = key[2]
    top_player_ids = value

    for id in top_player_ids:
        top_5_neighbors = get_top_k_neighbors(id,10)["ID"].tolist()
        total_10 = total_10 +1
        # print(top_5_neighbors)
        if ID in top_5_neighbors:
            pred_10 = pred_10 +1
            print("Player has matched",ID,df_22[df_22["ID"]==ID]["Name"])

Player has matched 172522 57    D. Wass
Name: Name, dtype: object
Player has matched 233419 261    Raphinha
Name: Name, dtype: object
Player has matched 220332 430    A. Romero
Name: Name, dtype: object
Player has matched 212678 825    L. Augustinsson
Name: Name, dtype: object
Player has matched 226166 972    N. Mukiele
Name: Name, dtype: object
Player has matched 225018 2161    F. Andone
Name: Name, dtype: object
Player has matched 202695 3121    J. Tarkowski
Name: Name, dtype: object
Player has matched 221705 3394    K. Dempsey
Name: Name, dtype: object
Player has matched 199852 3748    N. Jørgensen
Name: Name, dtype: object
Player has matched 215353 4314    L. Alario
Name: Name, dtype: object
Player has matched 257398 5348    21 A. Albanese
Name: Name, dtype: object
Player has matched 232185 5753    C. Brittain
Name: Name, dtype: object
Player has matched 244749 5762    N. Aguerd
Name: Name, dtype: object
Player has matched 255409 5925    R. Boženík
Name: Name, dtype: object
Player has matched 235771 6023    T. Lowery
Name: Name, dtype: object
Player has matched 232658 8663    D. Doekhi
Name: Name, dtype: object
Player has matched 213152 9503    C. Morris
Name: Name, dtype: object
Player has matched 253715 10204    D. Sarmiento
Name: Name, dtype: object
Player has matched 231823 11613    J. Hoogma
Name: Name, dtype: object
Player has matched 177597 11705    21 R. Taylor
Name: Name, dtype: object
Player has matched 242965 12874    F. Hornby
Name: Name, dtype: object
Player has matched 224987 15510    I. Provedel
Name: Name, dtype: object
Player has matched 152523 16096    S. Flinders
Name: Name, dtype: object
Player has matched 152523 16096    S. Flinders
Name: Name, dtype: object
Player has matched 256953 16300    X. Dziekoński
Name: Name, dtype: object

### Top 25

In [241]:
pred_25 =0 
total_25 =0
for key, value in top_players_dict.items():
    club_23 = key[0]
    best_position = key[1]
    ID = key[2]
    top_player_ids = value

    for id in top_player_ids:
        top_5_neighbors = get_top_k_neighbors(id,25)["ID"].tolist()
        total_25 = total_25 +1
        # print(top_5_neighbors)
        if ID in top_5_neighbors:
            pred_25 = pred_25 +1
            print("Player has matched",ID,df_22[df_22["ID"]==ID]["Name"])

Player has matched 212462 16    Alex Telles
Name: Name, dtype: object
Player has matched 188545 33    R. Lewandowski
Name: Name, dtype: object
Player has matched 172522 57    D. Wass
Name: Name, dtype: object
Player has matched 172522 57    D. Wass
Name: Name, dtype: object
Player has matched 231943 182    Richarlison
Name: Name, dtype: object
Player has matched 227535 258    R. Bentancur
Name: Name, dtype: object
Player has matched 233419 261    Raphinha
Name: Name, dtype: object
Player has matched 224081 296    K. Phillips
Name: Name, dtype: object
Player has matched 220332 430    A. Romero
Name: Name, dtype: object
Player has matched 192679 519    Escudero
Name: Name, dtype: object
Player has matched 242577 545    R. Faivre
Name: Name, dtype: object
Player has matched 199652 771    D. Praet
Name: Name, dtype: object
Player has matched 212188 812    T. Werner
Name: Name, dtype: object
Player has matched 212678 825    L. Augustinsson
Name: Name, dtype: object
Player has matched 226166 972    N. Mukiele
Name: Name, dtype: object
Player has matched 236898 1019    M. Aebischer
Name: Name, dtype: object
Player has matched 189860 1310    Kiko Femenía
Name: Name, dtype: object
Player has matched 225018 2161    F. Andone
Name: Name, dtype: object
Player has matched 185422 2280    J. King
Name: Name, dtype: object
Player has matched 257536 2345    J. Kuchta
Name: Name, dtype: object
Player has matched 239482 2886    Galeno
Name: Name, dtype: object
Player has matched 239335 2989    Óscar
Name: Name, dtype: object
Player has matched 202695 3121    J. Tarkowski
Name: Name, dtype: object
Player has matched 221705 3394    K. Dempsey
Name: Name, dtype: object
Player has matched 199852 3748    N. Jørgensen
Name: Name, dtype: object
Player has matched 199852 3748    N. Jørgensen
Name: Name, dtype: object
Player has matched 210897 4059    C. Mbemba
Name: Name, dtype: object
Player has matched 215353 4314    L. Alario
Name: Name, dtype: object
Player has matched 221740 5060    E. Crivelli
Name: Name, dtype: object
Player has matched 211966 5193    M. Romeo
Name: Name, dtype: object
Player has matched 257398 5348    21 A. Albanese
Name: Name, dtype: object
Player has matched 181375 5533    21 M. Martins
Name: Name, dtype: object
Player has matched 232185 5753    C. Brittain
Name: Name, dtype: object
Player has matched 244749 5762    N. Aguerd
Name: Name, dtype: object
Player has matched 257073 5777    Tiago Tomás
Name: Name, dtype: object
Player has matched 255409 5925    R. Boženík
Name: Name, dtype: object
Player has matched 210413 5975    A. Romagnoli
Name: Name, dtype: object
Player has matched 235771 6023    T. Lowery
Name: Name, dtype: object
Player has matched 246800 6075    T. Buchanan
Name: Name, dtype: object
Player has matched 244797 6112    P. Musa
Name: Name, dtype: object
Player has matched 246106 6659    A. Herrera
Name: Name, dtype: object
Player has matched 227558 6883    J. Siebatcheu
Name: Name, dtype: object
Player has matched 237715 7460    P. Cutrone
Name: Name, dtype: object
Player has matched 220165 7528    J. Pohjanpalo
Name: Name, dtype: object
Player has matched 256421 7754    A. Forrest
Name: Name, dtype: object
Player has matched 241379 8418    O. Bailey
Name: Name, dtype: object
Player has matched 232658 8663    D. Doekhi
Name: Name, dtype: object
Player has matched 257279 9325    Alex Baena
Name: Name, dtype: object
Player has matched 213152 9503    C. Morris
Name: Name, dtype: object
Player has matched 254496 9921    C. Grant
Name: Name, dtype: object
Player has matched 251198 10178    E. Simms
Name: Name, dtype: object
Player has matched 253715 10204    D. Sarmiento
Name: Name, dtype: object
Player has matched 235769 10252    O. Dale
Name: Name, dtype: object
Player has matched 243632 10380    C. Abi
Name: Name, dtype: object
Player has matched 238370 10862    M. Pongračić
Name: Name, dtype: object
Player has matched 25798 10952    R. Santa Cruz
Name: Name, dtype: object
Player has matched 236557 11406    O. Patrick
Name: Name, dtype: object
Player has matched 242541 11563    C. Brown
Name: Name, dtype: object
Player has matched 231823 11613    J. Hoogma
Name: Name, dtype: object
Player has matched 260290 11622    M. Pieringer
Name: Name, dtype: object
Player has matched 177597 11705    21 R. Taylor
Name: Name, dtype: object
Player has matched 198857 11722    S. Romagnoli
Name: Name, dtype: object
Player has matched 228382 12134    D. Agyei
Name: Name, dtype: object
Player has matched 247014 12625    A. Keita
Name: Name, dtype: object
Player has matched 237683 12707    N. Holland
Name: Name, dtype: object
Player has matched 242965 12874    F. Hornby
Name: Name, dtype: object
Player has matched 264409 14319    F. Alidou
Name: Name, dtype: object
Player has matched 200159 14522    S. Ortega
Name: Name, dtype: object
Player has matched 200159 14522    S. Ortega
Name: Name, dtype: object
Player has matched 258053 14782    J. Aguayo
Name: Name, dtype: object
Player has matched 183567 15468    E. Mulder
Name: Name, dtype: object
Player has matched 224987 15510    I. Provedel
Name: Name, dtype: object
Player has matched 152523 16096    S. Flinders
Name: Name, dtype: object
Player has matched 152523 16096    S. Flinders
Name: Name, dtype: object
Player has matched 234341 16195    I. Eğribayat
Name: Name, dtype: object
Player has matched 242242 16224    S. Cibois
Name: Name, dtype: object
Player has matched 256953 16300    X. Dziekoński
Name: Name, dtype: object
Player has matched 241532 16435    20 Moha Ramos
Name: Name, dtype: object

### Top 50

In [242]:
pred_50 =0 
total_50 =0
for key, value in top_players_dict.items():
    club_23 = key[0]
    best_position = key[1]
    ID = key[2]
    top_player_ids = value

    for id in top_player_ids:
        top_5_neighbors = get_top_k_neighbors(id,50)["ID"].tolist()
        total_50 = total_50 +1
        # print(top_5_neighbors)
        if ID in top_5_neighbors:
            pred_50 = pred_50 +1
            print("Player has matched",ID,df_22[df_22["ID"]==ID]["Name"])

Player has matched 212462 16    Alex Telles
Name: Name, dtype: object
Player has matched 188545 33    R. Lewandowski
Name: Name, dtype: object
Player has matched 172522 57    D. Wass
Name: Name, dtype: object
Player has matched 172522 57    D. Wass
Name: Name, dtype: object
Player has matched 231943 182    Richarlison
Name: Name, dtype: object
Player has matched 227535 258    R. Bentancur
Name: Name, dtype: object
Player has matched 233419 261    Raphinha
Name: Name, dtype: object
Player has matched 224081 296    K. Phillips
Name: Name, dtype: object
Player has matched 224081 296    K. Phillips
Name: Name, dtype: object
Player has matched 220332 430    A. Romero
Name: Name, dtype: object
Player has matched 230666 436    Gabriel Jesus
Name: Name, dtype: object
Player has matched 192679 519    Escudero
Name: Name, dtype: object
Player has matched 188567 527    P. Aubameyang
Name: Name, dtype: object
Player has matched 242577 545    R. Faivre
Name: Name, dtype: object
Player has matched 229261 611    D. Zakaria
Name: Name, dtype: object
Player has matched 199652 771    D. Praet
Name: Name, dtype: object
Player has matched 239093 805    J. Clauss
Name: Name, dtype: object
Player has matched 212188 812    T. Werner
Name: Name, dtype: object
Player has matched 212678 825    L. Augustinsson
Name: Name, dtype: object
Player has matched 226166 972    N. Mukiele
Name: Name, dtype: object
Player has matched 236898 1019    M. Aebischer
Name: Name, dtype: object
Player has matched 215322 1065    J. Silva
Name: Name, dtype: object
Player has matched 233301 1173    R. Kristensen
Name: Name, dtype: object
Player has matched 235243 1210    M. de Ligt
Name: Name, dtype: object
Player has matched 234035 1212    Odriozola
Name: Name, dtype: object
Player has matched 189860 1310    Kiko Femenía
Name: Name, dtype: object
Player has matched 201153 1661    Morata
Name: Name, dtype: object
Player has matched 246562 1746    D. Sorescu
Name: Name, dtype: object
Player has matched 205970 2008    J. Wallace
Name: Name, dtype: object
Player has matched 199829 2032    Timor
Name: Name, dtype: object
Player has matched 225018 2161    F. Andone
Name: Name, dtype: object
Player has matched 231236 2163    M. Cafaro
Name: Name, dtype: object
Player has matched 185422 2280    J. King
Name: Name, dtype: object
Player has matched 257536 2345    J. Kuchta
Name: Name, dtype: object
Player has matched 211382 2456    I. Amadou
Name: Name, dtype: object
Player has matched 228635 2519    Borja Mayoral
Name: Name, dtype: object
Player has matched 239482 2886    Galeno
Name: Name, dtype: object
Player has matched 212977 2960    N. Stark
Name: Name, dtype: object
Player has matched 239335 2989    Óscar
Name: Name, dtype: object
Player has matched 225146 3048    S. D'Almeida
Name: Name, dtype: object
Player has matched 202695 3121    J. Tarkowski
Name: Name, dtype: object
Player has matched 210489 3379    L. Schaub
Name: Name, dtype: object
Player has matched 221705 3394    K. Dempsey
Name: Name, dtype: object
Player has matched 213135 3694    D. Origi
Name: Name, dtype: object
Player has matched 179527 3734    L. Rémy
Name: Name, dtype: object
Player has matched 199852 3748    N. Jørgensen
Name: Name, dtype: object
Player has matched 199852 3748    N. Jørgensen
Name: Name, dtype: object
Player has matched 210897 4059    C. Mbemba
Name: Name, dtype: object
Player has matched 215353 4314    L. Alario
Name: Name, dtype: object
Player has matched 185431 4589    N. Kalinić
Name: Name, dtype: object
Player has matched 198019 4691    P. Testroet
Name: Name, dtype: object
Player has matched 259694 4957    Mingueza
Name: Name, dtype: object
Player has matched 221740 5060    E. Crivelli
Name: Name, dtype: object
Player has matched 211966 5193    M. Romeo
Name: Name, dtype: object
Player has matched 258626 5224    D. Sinani
Name: Name, dtype: object
Player has matched 257398 5348    21 A. Albanese
Name: Name, dtype: object
Player has matched 181375 5533    21 M. Martins
Name: Name, dtype: object
Player has matched 238177 5733    A. Hartigan
Name: Name, dtype: object
Player has matched 232185 5753    C. Brittain
Name: Name, dtype: object
Player has matched 244749 5762    N. Aguerd
Name: Name, dtype: object
Player has matched 257073 5777    Tiago Tomás
Name: Name, dtype: object
Player has matched 255409 5925    R. Boženík
Name: Name, dtype: object
Player has matched 210413 5975    A. Romagnoli
Name: Name, dtype: object
Player has matched 235771 6023    T. Lowery
Name: Name, dtype: object
Player has matched 246800 6075    T. Buchanan
Name: Name, dtype: object
Player has matched 244797 6112    P. Musa
Name: Name, dtype: object
Player has matched 229914 6124    E. Osadebe
Name: Name, dtype: object
Player has matched 212778 6458    Kwon Kyung Won
Name: Name, dtype: object
Player has matched 214766 6653    C. Izquierdoz
Name: Name, dtype: object
Player has matched 246106 6659    A. Herrera
Name: Name, dtype: object
Player has matched 263617 6677    Beñat Prados
Name: Name, dtype: object
Player has matched 256952 6722    S. Rooney
Name: Name, dtype: object
Player has matched 227558 6883    J. Siebatcheu
Name: Name, dtype: object
Player has matched 220039 7060    D. Charles
Name: Name, dtype: object
Player has matched 264450 7235    A. Marcus
Name: Name, dtype: object
Player has matched 237715 7460    P. Cutrone
Name: Name, dtype: object
Player has matched 234843 7477    M. Leitsch
Name: Name, dtype: object
Player has matched 220165 7528    J. Pohjanpalo
Name: Name, dtype: object
Player has matched 234234 7557    21 G. Kostadinov
Name: Name, dtype: object
Player has matched 256421 7754    A. Forrest
Name: Name, dtype: object
Player has matched 237086 8335    Kim Min Jae
Name: Name, dtype: object
Player has matched 241379 8418    O. Bailey
Name: Name, dtype: object
Player has matched 232658 8663    D. Doekhi
Name: Name, dtype: object
Player has matched 237524 8872    S. Kaba
Name: Name, dtype: object
Player has matched 257279 9325    Alex Baena
Name: Name, dtype: object
Player has matched 213152 9503    C. Morris
Name: Name, dtype: object
Player has matched 246230 9567    M. Phaëton
Name: Name, dtype: object
Player has matched 238061 9670    A. Lewis
Name: Name, dtype: object
Player has matched 254496 9921    C. Grant
Name: Name, dtype: object
Player has matched 251198 10178    E. Simms
Name: Name, dtype: object
Player has matched 253715 10204    D. Sarmiento
Name: Name, dtype: object
Player has matched 235769 10252    O. Dale
Name: Name, dtype: object
Player has matched 243632 10380    C. Abi
Name: Name, dtype: object
Player has matched 206286 10598    V. Davidsen
Name: Name, dtype: object
Player has matched 237677 10639    R. McCourt
Name: Name, dtype: object
Player has matched 257308 10672    21 S. Tijani
Name: Name, dtype: object
Player has matched 258027 10764    M. Marić
Name: Name, dtype: object
Player has matched 238370 10862    M. Pongračić
Name: Name, dtype: object
Player has matched 254019 10894    N. Gioacchini
Name: Name, dtype: object
Player has matched 25798 10952    R. Santa Cruz
Name: Name, dtype: object
Player has matched 240846 11229    E. Apeh
Name: Name, dtype: object
Player has matched 236557 11406    O. Patrick
Name: Name, dtype: object
Player has matched 242541 11563    C. Brown
Name: Name, dtype: object
Player has matched 231823 11613    J. Hoogma
Name: Name, dtype: object
Player has matched 260290 11622    M. Pieringer
Name: Name, dtype: object
Player has matched 177597 11705    21 R. Taylor
Name: Name, dtype: object
Player has matched 198857 11722    S. Romagnoli
Name: Name, dtype: object
Player has matched 192840 11863    M. Đurić
Name: Name, dtype: object
Player has matched 228382 12134    D. Agyei
Name: Name, dtype: object
Player has matched 247014 12625    A. Keita
Name: Name, dtype: object
Player has matched 237683 12707    N. Holland
Name: Name, dtype: object
Player has matched 242965 12874    F. Hornby
Name: Name, dtype: object
Player has matched 246979 13487    Elliot Simões
Name: Name, dtype: object
Player has matched 261377 13670    R. Lutiger
Name: Name, dtype: object
Player has matched 264421 13719    T. Small
Name: Name, dtype: object
Player has matched 260728 13801    A. Pressley
Name: Name, dtype: object
Player has matched 263556 13971    Rodrigo Guth
Name: Name, dtype: object
Player has matched 264409 14319    F. Alidou
Name: Name, dtype: object
Player has matched 259389 14369    L. Robinson
Name: Name, dtype: object
Player has matched 200159 14522    S. Ortega
Name: Name, dtype: object
Player has matched 200159 14522    S. Ortega
Name: Name, dtype: object
Player has matched 178750 14679    Sergio Asenjo
Name: Name, dtype: object
Player has matched 192563 14753    B. Leno
Name: Name, dtype: object
Player has matched 258053 14782    J. Aguayo
Name: Name, dtype: object
Player has matched 215223 15143    W. Benítez
Name: Name, dtype: object
Player has matched 215223 15143    W. Benítez
Name: Name, dtype: object
Player has matched 203841 15158    N. Pope
Name: Name, dtype: object
Player has matched 183567 15468    E. Mulder
Name: Name, dtype: object
Player has matched 224987 15510    I. Provedel
Name: Name, dtype: object
Player has matched 233267 15597    M. Turner
Name: Name, dtype: object
Player has matched 244316 15644    Luís Maximiano
Name: Name, dtype: object
Player has matched 200726 15689    B. Lecomte
Name: Name, dtype: object
Player has matched 260018 15824    D. Odumosu
Name: Name, dtype: object
Player has matched 162052 15918    D. Ousted
Name: Name, dtype: object
Player has matched 152523 16096    S. Flinders
Name: Name, dtype: object
Player has matched 152523 16096    S. Flinders
Name: Name, dtype: object
Player has matched 234341 16195    I. Eğribayat
Name: Name, dtype: object
Player has matched 242242 16224    S. Cibois
Name: Name, dtype: object
Player has matched 252773 16269    J. Griffiths
Name: Name, dtype: object
Player has matched 258585 16274    I. Pandur
Name: Name, dtype: object
Player has matched 256953 16300    X. Dziekoński
Name: Name, dtype: object
Player has matched 241532 16435    20 Moha Ramos
Name: Name, dtype: object

### Evaulations

In [244]:
pred_5/total_5

0.004570383912248629

In [245]:
pred_10/total_10

0.007617306520414382

In [246]:
pred_25/total_25

0.02376599634369287

In [247]:
pred_50/total_50

0.043266301035953685