In [37]:
import numpy as np
import re
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors
from sklearn.decomposition import PCA

In [38]:
df_23 = pd.read_csv('./Dataset/FIFA23_official_data.csv')
df_22 = pd.read_csv('./Dataset/FIFA22_official_data.csv')

In [39]:
# Filter df_22 and df_23 to keep only the common club names
common_clubs = set(df_22['Club']).intersection(set(df_23['Club']))
df_22_common = df_22[df_22['Club'].isin(common_clubs)]
df_23_common = df_23[df_23['Club'].isin(common_clubs)]

# Merge the filtered DataFrames
merged = pd.merge(df_22_common, df_23_common, on='ID', how='inner', suffixes=('_22', '_23'))

In [40]:
transfers = merged[merged['Club_22'] != merged['Club_23']][['ID', 'Name_22','Club_22','Club_23',"Best Position","BestPosition"]]

In [41]:
transfers

,ID,Name_22,Club_22,Club_23,Best Position,BestPosition
2,176580,L. Suárez,Atlético de Madrid,Club Nacional de Football,ST,ST
6,181291,G. Wijnaldum,Paris Saint-Germain,Roma,CM,CM
15,212462,Alex Telles,Manchester United,Sevilla FC,LB,LB
21,200458,L. Digne,Everton,Aston Villa,LB,LB
22,208574,F. Kostić,Eintracht Frankfurt,Juventus,LM,LM
...,...,...,...,...,...,...
9823,258928,V. Sinisalo,Aston Villa,Burton Albion,GK,GK
9840,257138,B. Nna Noukeu,Crawley Town,Stoke City,GK,GK
9845,263373,J. Searle,Swansea City,Barnsley,GK,GK
9846,259718,F. Gebhardt,FC Basel 1893,Hallescher FC,GK,GK
9847,251433,B. Voll,F.C. Hansa Rostock,Viktoria Köln,GK,GK

In [42]:
transfers.to_csv('./rec_extended_data/ground_truth.csv')

## Approach 1: KNN

In [43]:
Unimportant_features  = ["Photo", "Flag", "Club Logo", "Wage", "Special", "International Reputation", "Work Rate", "Body Type", "Real Face", "Jersey Number", "Contract Valid Until", "Best Overall Rating","Joined","Loaned From"]
df_22.drop(Unimportant_features, axis = 1, inplace = True)

In [44]:
#One - Hot Encoding the Preferred Foot
df_22 = pd.get_dummies(df_22,columns = ["Preferred Foot"])

In [45]:
detailed_features = ['Age','Overall', 'Potential', 'Weak Foot', 'Skill Moves', 'Height', 'Weight', 'Crossing', 'Finishing',
       'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve',
       'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Preferred Foot_Left', 'Preferred Foot_Right']

In [46]:
df_22[detailed_features] = df_22[detailed_features].fillna(0)

In [47]:
# Clean height column
feet_inches_re = re.compile(r"(\d)'(\d+)")

# Define a function to convert feet'inches to cm
def feet_inches_to_cm(s):
    match = feet_inches_re.match(s)
    if match:
        feet = int(match.group(1))
        inches = int(match.group(2))
        return round((feet*12 + inches) * 2.54, 2)
    else:
        return float(s.replace('cm', ''))
df_22['Height'] = pd.to_numeric(df_22['Height'].apply(feet_inches_to_cm))

In [48]:
# Clean Weight Column
def convert_weight(weight_str):
    if 'kg' in weight_str:
        # If weight is in kg, remove the 'kg' suffix and return as float
        return float(weight_str.replace('kg', ''))
    elif 'lbs' in weight_str:
        # If weight is in lbs, convert to kg and return as float
        return float(weight_str.replace('lbs', '')) * 0.453592
    else:
        print("oops")
        # Return NaN if weight format is not recognized
        return pd.np.nan

# Apply the function to the Weight column and create a new column 'Weight_kg'
df_22['Weight'] = df_22['Weight'].apply(convert_weight)

In [49]:
df = df_22.select_dtypes(include = 'number')
df.shape

(16710, 45)

In [50]:
# Compute the correlation matrix
corr = df.corr()

In [51]:
df = df.fillna(0)

In [52]:
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler

# Separate the ID column and scale the data
X = df.drop('ID', axis=1).fillna(0)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Create the KNN model
knn = NearestNeighbors() # don't specify the number of neighbors yet, we will set it in the function
knn.fit(X_scaled)

# Define a function to get the top k closest neighbors of a player
def get_top_k_neighbors(player_id, k=5):
    knn.set_params(n_neighbors=k+1) # add 1 to include the input player in the neighbors
    player_row = df[df['ID'] == player_id].drop('ID', axis=1).fillna(0)
    player_row_scaled = scaler.transform(player_row)
    distances, indices = knn.kneighbors(player_row_scaled)
    neighbor_ids = df.iloc[indices[0]][1:]['ID'].values # exclude the first index which is the input player
    return df[df['ID'].isin(neighbor_ids)].reset_index(drop=True)

In [53]:
real_transfers = pd.read_csv('./rec_extended_data/ground_truth.csv')
real_transfers

,Unnamed: 0,ID,Name_22,Club_22,Club_23,Best Position,BestPosition
0,2,176580,L. Suárez,Atlético de Madrid,Club Nacional de Football,ST,ST
1,6,181291,G. Wijnaldum,Paris Saint-Germain,Roma,CM,CM
2,15,212462,Alex Telles,Manchester United,Sevilla FC,LB,LB
3,21,200458,L. Digne,Everton,Aston Villa,LB,LB
4,22,208574,F. Kostić,Eintracht Frankfurt,Juventus,LM,LM
...,...,...,...,...,...,...,...
3562,9823,258928,V. Sinisalo,Aston Villa,Burton Albion,GK,GK
3563,9840,257138,B. Nna Noukeu,Crawley Town,Stoke City,GK,GK
3564,9845,263373,J. Searle,Swansea City,Barnsley,GK,GK
3565,9846,259718,F. Gebhardt,FC Basel 1893,Hallescher FC,GK,GK
3566,9847,251433,B. Voll,F.C. Hansa Rostock,Viktoria Köln,GK,GK

In [54]:
def find_top_players(df_22, real_transfers):
    top_players_dict = {}
    id_list = []

    for index, row in real_transfers.iterrows():
        club_23 = row["Club_23"]
        ID = row["ID"]
        best_position = row["BestPosition"]
        club_df = df_22[(df_22["Club"] == club_23) & (df_22["Best Position"] == best_position)]
        if club_df.empty:
            # print(f"No players found for {club_23} in {best_position} for {row['Name_22']}")
            # real_transfers = real_transfers.drop(index=index)
            pass
        else:
            # Sort the filtered dataframe by the Overall column in descending order
            sorted_df = club_df.sort_values(by="Overall", ascending=False)

            # Take the top 2 players and store their IDs in the dictionary
            top_players_dict[(club_23, best_position,ID)] = list(sorted_df.head(2)["ID"])
            id_list.append(ID)
    return top_players_dict,id_list

In [55]:
top_players_dict,id_list= find_top_players(df_22, real_transfers)

In [56]:
len(id_list)

3029

In [57]:
len(real_transfers)

3567

In [58]:
len(top_players_dict)

3001

In [59]:
final_real_transgers_df = real_transfers[real_transfers["ID"].isin(id_list)]
final_real_transgers_df

,Unnamed: 0,ID,Name_22,Club_22,Club_23,Best Position,BestPosition
0,2,176580,L. Suárez,Atlético de Madrid,Club Nacional de Football,ST,ST
1,6,181291,G. Wijnaldum,Paris Saint-Germain,Roma,CM,CM
2,15,212462,Alex Telles,Manchester United,Sevilla FC,LB,LB
3,21,200458,L. Digne,Everton,Aston Villa,LB,LB
4,22,208574,F. Kostić,Eintracht Frankfurt,Juventus,LM,LM
...,...,...,...,...,...,...,...
3562,9823,258928,V. Sinisalo,Aston Villa,Burton Albion,GK,GK
3563,9840,257138,B. Nna Noukeu,Crawley Town,Stoke City,GK,GK
3564,9845,263373,J. Searle,Swansea City,Barnsley,GK,GK
3565,9846,259718,F. Gebhardt,FC Basel 1893,Hallescher FC,GK,GK
3566,9847,251433,B. Voll,F.C. Hansa Rostock,Viktoria Köln,GK,GK

### Top 5

In [60]:
pred_5 =0 
total_5 =0
for key, value in top_players_dict.items():
    club_23 = key[0]
    best_position = key[1]
    ID = key[2]
    top_player_ids = value
    total_5 = total_5 +1

    for id in top_player_ids:
        top_5_neighbors = get_top_k_neighbors(id)["ID"].tolist()
        if ID in top_5_neighbors:
            pred_5 = pred_5 +1
            print("Player has matched",ID,df_22[df_22["ID"]==ID]["Name"])

Player has matched 230658 111    Arthur
Name: Name, dtype: object
Player has matched 233419 261    Raphinha
Name: Name, dtype: object
Player has matched 222028 838    J. Weigl
Name: Name, dtype: object
Player has matched 231887 890    Y. Yazıcı
Name: Name, dtype: object
Player has matched 204876 905    Clerc
Name: Name, dtype: object
Player has matched 226166 972    N. Mukiele
Name: Name, dtype: object
Player has matched 193290 1309    M. Braithwaite
Name: Name, dtype: object
Player has matched 213813 1466    A. Fransson
Name: Name, dtype: object
Player has matched 237512 2409    G. Togni
Name: Name, dtype: object
Player has matched 243631 2800    M. Camara
Name: Name, dtype: object
Player has matched 202695 3121    J. Tarkowski
Name: Name, dtype: object
Player has matched 221705 3394    K. Dempsey
Name: Name, dtype: object
Player has matched 215353 4314    L. Alario
Name: Name, dtype: object
Player has matched 245247 4654    F. Domínguez
Name: Name, dtype: object
Player has matched 251486 4688    Nené
Name: Name, dtype: object
Player has matched 240964 5195    N. Linares
Name: Name, dtype: object
Player has matched 203889 5688    Y. Touzghar
Name: Name, dtype: object
Player has matched 232185 5753    C. Brittain
Name: Name, dtype: object
Player has matched 255409 5925    R. Boženík
Name: Name, dtype: object
Player has matched 233114 5985    J. Riley
Name: Name, dtype: object
Player has matched 216281 6071    M. Sušić
Name: Name, dtype: object
Player has matched 223595 6419    J. Strauß
Name: Name, dtype: object
Player has matched 213152 9503    C. Morris
Name: Name, dtype: object
Player has matched 231932 10624    L. Chhangte
Name: Name, dtype: object
Player has matched 222540 11285    20 N. Vergos
Name: Name, dtype: object
Player has matched 177597 11705    21 R. Taylor
Name: Name, dtype: object
Player has matched 224987 15510    I. Provedel
Name: Name, dtype: object
Player has matched 205759 16020    D. Stojanović
Name: Name, dtype: object
Player has matched 152523 16096    S. Flinders
Name: Name, dtype: object
Player has matched 242969 16129    N. Baumann
Name: Name, dtype: object

### Top 10

In [61]:
pred_10 =0 
total_10 =0
for key, value in top_players_dict.items():
    club_23 = key[0]
    best_position = key[1]
    ID = key[2]
    top_player_ids = value
    total_10 = total_10 +1

    for id in top_player_ids:
        top_5_neighbors = get_top_k_neighbors(id,10)["ID"].tolist()

        if ID in top_5_neighbors:
            pred_10 = pred_10 +1
            print("Player has matched",ID,df_22[df_22["ID"]==ID]["Name"])

Player has matched 230658 111    Arthur
Name: Name, dtype: object
Player has matched 239231 234    Cucurella
Name: Name, dtype: object
Player has matched 233419 261    Raphinha
Name: Name, dtype: object
Player has matched 245279 581    Reguilón
Name: Name, dtype: object
Player has matched 212678 825    L. Augustinsson
Name: Name, dtype: object
Player has matched 222028 838    J. Weigl
Name: Name, dtype: object
Player has matched 231887 890    Y. Yazıcı
Name: Name, dtype: object
Player has matched 204876 905    Clerc
Name: Name, dtype: object
Player has matched 226166 972    N. Mukiele
Name: Name, dtype: object
Player has matched 211575 984    André Gomes
Name: Name, dtype: object
Player has matched 193290 1309    M. Braithwaite
Name: Name, dtype: object
Player has matched 200601 1351    Yoon Bit Garam
Name: Name, dtype: object
Player has matched 213813 1466    A. Fransson
Name: Name, dtype: object
Player has matched 229237 1756    M. Akanji
Name: Name, dtype: object
Player has matched 208330 2300    A. Januzaj
Name: Name, dtype: object
Player has matched 237512 2409    G. Togni
Name: Name, dtype: object
Player has matched 243631 2800    M. Camara
Name: Name, dtype: object
Player has matched 184176 2929    G. Bruno
Name: Name, dtype: object
Player has matched 202695 3121    J. Tarkowski
Name: Name, dtype: object
Player has matched 221705 3394    K. Dempsey
Name: Name, dtype: object
Player has matched 215353 4314    L. Alario
Name: Name, dtype: object
Player has matched 245247 4654    F. Domínguez
Name: Name, dtype: object
Player has matched 251486 4688    Nené
Name: Name, dtype: object
Player has matched 240964 5195    N. Linares
Name: Name, dtype: object
Player has matched 203889 5688    Y. Touzghar
Name: Name, dtype: object
Player has matched 232185 5753    C. Brittain
Name: Name, dtype: object
Player has matched 244749 5762    N. Aguerd
Name: Name, dtype: object
Player has matched 255409 5925    R. Boženík
Name: Name, dtype: object
Player has matched 233114 5985    J. Riley
Name: Name, dtype: object
Player has matched 235771 6023    T. Lowery
Name: Name, dtype: object
Player has matched 193422 6035    T. Børven
Name: Name, dtype: object
Player has matched 216281 6071    M. Sušić
Name: Name, dtype: object
Player has matched 223595 6419    J. Strauß
Name: Name, dtype: object
Player has matched 232658 8663    D. Doekhi
Name: Name, dtype: object
Player has matched 234827 8681    J. Rasmussen
Name: Name, dtype: object
Player has matched 213152 9503    C. Morris
Name: Name, dtype: object
Player has matched 201988 10583    F. Fernández
Name: Name, dtype: object
Player has matched 231932 10624    L. Chhangte
Name: Name, dtype: object
Player has matched 236941 10906    21 J. Hastie
Name: Name, dtype: object
Player has matched 222540 11285    20 N. Vergos
Name: Name, dtype: object
Player has matched 177597 11705    21 R. Taylor
Name: Name, dtype: object
Player has matched 230819 11754    O. Shodipo
Name: Name, dtype: object
Player has matched 242965 12874    F. Hornby
Name: Name, dtype: object
Player has matched 241894 14395    R. Leak
Name: Name, dtype: object
Player has matched 176526 14874    L. Burián
Name: Name, dtype: object
Player has matched 220407 14926    M. Dúbravka
Name: Name, dtype: object
Player has matched 224987 15510    I. Provedel
Name: Name, dtype: object
Player has matched 205759 16020    D. Stojanović
Name: Name, dtype: object
Player has matched 152523 16096    S. Flinders
Name: Name, dtype: object
Player has matched 152523 16096    S. Flinders
Name: Name, dtype: object
Player has matched 242969 16129    N. Baumann
Name: Name, dtype: object
Player has matched 256953 16300    X. Dziekoński
Name: Name, dtype: object
Player has matched 234858 16376    M. Funk
Name: Name, dtype: object

### Top 25

In [62]:
pred_25 =0 
total_25 =0
for key, value in top_players_dict.items():
    club_23 = key[0]
    best_position = key[1]
    ID = key[2]
    top_player_ids = value
    total_25 = total_25 +1

    for id in top_player_ids:
        top_5_neighbors = get_top_k_neighbors(id,25)["ID"].tolist()
        if ID in top_5_neighbors:
            pred_25 = pred_25 +1
            print("Player has matched",ID,df_22[df_22["ID"]==ID]["Name"])

Player has matched 212462 16    Alex Telles
Name: Name, dtype: object
Player has matched 208574 23    F. Kostić
Name: Name, dtype: object
Player has matched 188545 33    R. Lewandowski
Name: Name, dtype: object
Player has matched 207439 81    L. Paredes
Name: Name, dtype: object
Player has matched 230658 111    Arthur
Name: Name, dtype: object
Player has matched 231943 182    Richarlison
Name: Name, dtype: object
Player has matched 239231 234    Cucurella
Name: Name, dtype: object
Player has matched 236480 240    Y. Bissouma
Name: Name, dtype: object
Player has matched 227535 258    R. Bentancur
Name: Name, dtype: object
Player has matched 233419 261    Raphinha
Name: Name, dtype: object
Player has matched 224081 296    K. Phillips
Name: Name, dtype: object
Player has matched 247394 297    D. Kulusevski
Name: Name, dtype: object
Player has matched 192679 519    Escudero
Name: Name, dtype: object
Player has matched 242577 545    R. Faivre
Name: Name, dtype: object
Player has matched 245279 581    Reguilón
Name: Name, dtype: object
Player has matched 212188 812    T. Werner
Name: Name, dtype: object
Player has matched 212678 825    L. Augustinsson
Name: Name, dtype: object
Player has matched 222028 838    J. Weigl
Name: Name, dtype: object
Player has matched 231887 890    Y. Yazıcı
Name: Name, dtype: object
Player has matched 204876 905    Clerc
Name: Name, dtype: object
Player has matched 214026 939    J. Mojica
Name: Name, dtype: object
Player has matched 224490 970    Z. Çelik
Name: Name, dtype: object
Player has matched 226166 972    N. Mukiele
Name: Name, dtype: object
Player has matched 211575 984    André Gomes
Name: Name, dtype: object
Player has matched 236898 1019    M. Aebischer
Name: Name, dtype: object
Player has matched 179844 1243    21 Diego Costa
Name: Name, dtype: object
Player has matched 193290 1309    M. Braithwaite
Name: Name, dtype: object
Player has matched 189860 1310    Kiko Femenía
Name: Name, dtype: object
Player has matched 200601 1351    Yoon Bit Garam
Name: Name, dtype: object
Player has matched 213813 1466    A. Fransson
Name: Name, dtype: object
Player has matched 229237 1756    M. Akanji
Name: Name, dtype: object
Player has matched 240702 1868    R. Yaremchuk
Name: Name, dtype: object
Player has matched 215358 2261    M. Meli
Name: Name, dtype: object
Player has matched 208330 2300    A. Januzaj
Name: Name, dtype: object
Player has matched 199392 2313    M. Aguirregaray
Name: Name, dtype: object
Player has matched 257536 2345    J. Kuchta
Name: Name, dtype: object
Player has matched 237512 2409    G. Togni
Name: Name, dtype: object
Player has matched 211368 2551    Bruma
Name: Name, dtype: object
Player has matched 243631 2800    M. Camara
Name: Name, dtype: object
Player has matched 239482 2886    Galeno
Name: Name, dtype: object
Player has matched 184176 2929    G. Bruno
Name: Name, dtype: object
Player has matched 239335 2989    Óscar
Name: Name, dtype: object
Player has matched 202695 3121    J. Tarkowski
Name: Name, dtype: object
Player has matched 221705 3394    K. Dempsey
Name: Name, dtype: object
Player has matched 205086 3779    P. Klement
Name: Name, dtype: object
Player has matched 200895 4004    J. Morris
Name: Name, dtype: object
Player has matched 210897 4059    C. Mbemba
Name: Name, dtype: object
Player has matched 242348 4162    Loren
Name: Name, dtype: object
Player has matched 215353 4314    L. Alario
Name: Name, dtype: object
Player has matched 240953 4454    N. Tenaglia
Name: Name, dtype: object
Player has matched 245247 4654    F. Domínguez
Name: Name, dtype: object
Player has matched 251486 4688    Nené
Name: Name, dtype: object
Player has matched 235623 4690    Álvaro Jiménez
Name: Name, dtype: object
Player has matched 240964 5195    N. Linares
Name: Name, dtype: object
Player has matched 203889 5688    Y. Touzghar
Name: Name, dtype: object
Player has matched 232185 5753    C. Brittain
Name: Name, dtype: object
Player has matched 244749 5762    N. Aguerd
Name: Name, dtype: object
Player has matched 257073 5777    Tiago Tomás
Name: Name, dtype: object
Player has matched 255409 5925    R. Boženík
Name: Name, dtype: object
Player has matched 210413 5975    A. Romagnoli
Name: Name, dtype: object
Player has matched 233114 5985    J. Riley
Name: Name, dtype: object
Player has matched 235771 6023    T. Lowery
Name: Name, dtype: object
Player has matched 193422 6035    T. Børven
Name: Name, dtype: object
Player has matched 216281 6071    M. Sušić
Name: Name, dtype: object
Player has matched 246800 6075    T. Buchanan
Name: Name, dtype: object
Player has matched 244797 6112    P. Musa
Name: Name, dtype: object
Player has matched 223595 6419    J. Strauß
Name: Name, dtype: object
Player has matched 246106 6659    A. Herrera
Name: Name, dtype: object
Player has matched 227558 6883    J. Siebatcheu
Name: Name, dtype: object
Player has matched 213321 6967    T. Jurić
Name: Name, dtype: object
Player has matched 186590 7113    21 J. O'Toole
Name: Name, dtype: object
Player has matched 211144 8175    C. McFadzean
Name: Name, dtype: object
Player has matched 189695 8234    J. Devitt
Name: Name, dtype: object
Player has matched 232658 8663    D. Doekhi
Name: Name, dtype: object
Player has matched 234827 8681    J. Rasmussen
Name: Name, dtype: object
Player has matched 257279 9325    Alex Baena
Name: Name, dtype: object
Player has matched 213152 9503    C. Morris
Name: Name, dtype: object
Player has matched 258165 9528    A. Musaba
Name: Name, dtype: object
Player has matched 255529 9871    E. Touré
Name: Name, dtype: object
Player has matched 254496 9921    C. Grant
Name: Name, dtype: object
Player has matched 251198 10178    E. Simms
Name: Name, dtype: object
Player has matched 235769 10252    O. Dale
Name: Name, dtype: object
Player has matched 243632 10380    C. Abi
Name: Name, dtype: object
Player has matched 226791 10456    T. Moore
Name: Name, dtype: object
Player has matched 201988 10583    F. Fernández
Name: Name, dtype: object
Player has matched 231932 10624    L. Chhangte
Name: Name, dtype: object
Player has matched 240138 10763    W. Riveros
Name: Name, dtype: object
Player has matched 236941 10906    21 J. Hastie
Name: Name, dtype: object
Player has matched 25798 10952    R. Santa Cruz
Name: Name, dtype: object
Player has matched 222540 11285    20 N. Vergos
Name: Name, dtype: object
Player has matched 236557 11406    O. Patrick
Name: Name, dtype: object
Player has matched 242541 11563    C. Brown
Name: Name, dtype: object
Player has matched 234743 11599    A. Muskwe
Name: Name, dtype: object
Player has matched 260290 11622    M. Pieringer
Name: Name, dtype: object
Player has matched 177597 11705    21 R. Taylor
Name: Name, dtype: object
Player has matched 198857 11722    S. Romagnoli
Name: Name, dtype: object
Player has matched 230819 11754    O. Shodipo
Name: Name, dtype: object
Player has matched 228382 12134    D. Agyei
Name: Name, dtype: object
Player has matched 241452 12258    J. Diamond
Name: Name, dtype: object
Player has matched 247014 12625    A. Keita
Name: Name, dtype: object
Player has matched 237683 12707    N. Holland
Name: Name, dtype: object
Player has matched 242965 12874    F. Hornby
Name: Name, dtype: object
Player has matched 234861 13929    21 R. Ziegele
Name: Name, dtype: object
Player has matched 223852 14285    F. Rawson
Name: Name, dtype: object
Player has matched 241894 14395    R. Leak
Name: Name, dtype: object
Player has matched 200159 14522    S. Ortega
Name: Name, dtype: object
Player has matched 200159 14522    S. Ortega
Name: Name, dtype: object
Player has matched 176526 14874    L. Burián
Name: Name, dtype: object
Player has matched 220407 14926    M. Dúbravka
Name: Name, dtype: object
Player has matched 203775 15295    L. Karius
Name: Name, dtype: object
Player has matched 215502 15362    B. Drągowski
Name: Name, dtype: object
Player has matched 183567 15468    E. Mulder
Name: Name, dtype: object
Player has matched 224987 15510    I. Provedel
Name: Name, dtype: object
Player has matched 202469 15664    21 D. Bingham
Name: Name, dtype: object
Player has matched 170280 15737    21 J. McKeown
Name: Name, dtype: object
Player has matched 238489 15770    T. Boss
Name: Name, dtype: object
Player has matched 205759 16020    D. Stojanović
Name: Name, dtype: object
Player has matched 152523 16096    S. Flinders
Name: Name, dtype: object
Player has matched 152523 16096    S. Flinders
Name: Name, dtype: object
Player has matched 242969 16129    N. Baumann
Name: Name, dtype: object
Player has matched 241727 16187    P. Rajković
Name: Name, dtype: object
Player has matched 242242 16224    S. Cibois
Name: Name, dtype: object
Player has matched 256953 16300    X. Dziekoński
Name: Name, dtype: object
Player has matched 234858 16376    M. Funk
Name: Name, dtype: object
Player has matched 241532 16435    20 Moha Ramos
Name: Name, dtype: object

### Top 50

In [63]:
pred_50 =0 
total_50 =0
for key, value in top_players_dict.items():
    club_23 = key[0]
    best_position = key[1]
    ID = key[2]
    top_player_ids = value
    total_50 = total_50 +1

    for id in top_player_ids:
        top_5_neighbors = get_top_k_neighbors(id,50)["ID"].tolist()
        # print(top_5_neighbors)
        if ID in top_5_neighbors:
            pred_50 = pred_50 +1
            print("Player has matched",ID,df_22[df_22["ID"]==ID]["Name"])

Player has matched 212462 16    Alex Telles
Name: Name, dtype: object
Player has matched 208574 23    F. Kostić
Name: Name, dtype: object
Player has matched 188545 33    R. Lewandowski
Name: Name, dtype: object
Player has matched 207439 81    L. Paredes
Name: Name, dtype: object
Player has matched 230658 111    Arthur
Name: Name, dtype: object
Player has matched 231943 182    Richarlison
Name: Name, dtype: object
Player has matched 239231 234    Cucurella
Name: Name, dtype: object
Player has matched 236480 240    Y. Bissouma
Name: Name, dtype: object
Player has matched 193474 247    I. Gueye
Name: Name, dtype: object
Player has matched 227535 258    R. Bentancur
Name: Name, dtype: object
Player has matched 233419 261    Raphinha
Name: Name, dtype: object
Player has matched 241637 280    A. Tchouaméni
Name: Name, dtype: object
Player has matched 224081 296    K. Phillips
Name: Name, dtype: object
Player has matched 224081 296    K. Phillips
Name: Name, dtype: object
Player has matched 247394 297    D. Kulusevski
Name: Name, dtype: object
Player has matched 230666 436    Gabriel Jesus
Name: Name, dtype: object
Player has matched 192679 519    Escudero
Name: Name, dtype: object
Player has matched 188567 527    P. Aubameyang
Name: Name, dtype: object
Player has matched 188567 527    P. Aubameyang
Name: Name, dtype: object
Player has matched 242577 545    R. Faivre
Name: Name, dtype: object
Player has matched 245279 581    Reguilón
Name: Name, dtype: object
Player has matched 198006 595    J. Toornstra
Name: Name, dtype: object
Player has matched 198219 691    L. Insigne
Name: Name, dtype: object
Player has matched 200478 709    J. Hendrick
Name: Name, dtype: object
Player has matched 239093 805    J. Clauss
Name: Name, dtype: object
Player has matched 212188 812    T. Werner
Name: Name, dtype: object
Player has matched 212678 825    L. Augustinsson
Name: Name, dtype: object
Player has matched 222028 838    J. Weigl
Name: Name, dtype: object
Player has matched 231887 890    Y. Yazıcı
Name: Name, dtype: object
Player has matched 204876 905    Clerc
Name: Name, dtype: object
Player has matched 214026 939    J. Mojica
Name: Name, dtype: object
Player has matched 224490 970    Z. Çelik
Name: Name, dtype: object
Player has matched 226166 972    N. Mukiele
Name: Name, dtype: object
Player has matched 211575 984    André Gomes
Name: Name, dtype: object
Player has matched 236898 1019    M. Aebischer
Name: Name, dtype: object
Player has matched 215322 1065    J. Silva
Name: Name, dtype: object
Player has matched 235243 1210    M. de Ligt
Name: Name, dtype: object
Player has matched 218936 1217    Rafa Soares
Name: Name, dtype: object
Player has matched 179844 1243    21 Diego Costa
Name: Name, dtype: object
Player has matched 193290 1309    M. Braithwaite
Name: Name, dtype: object
Player has matched 189860 1310    Kiko Femenía
Name: Name, dtype: object
Player has matched 200601 1351    Yoon Bit Garam
Name: Name, dtype: object
Player has matched 207732 1370    Roger
Name: Name, dtype: object
Player has matched 213813 1466    A. Fransson
Name: Name, dtype: object
Player has matched 213813 1466    A. Fransson
Name: Name, dtype: object
Player has matched 201153 1661    Morata
Name: Name, dtype: object
Player has matched 221053 1706    E. Gómez
Name: Name, dtype: object
Player has matched 229237 1756    M. Akanji
Name: Name, dtype: object
Player has matched 240702 1868    R. Yaremchuk
Name: Name, dtype: object
Player has matched 199829 2032    Timor
Name: Name, dtype: object
Player has matched 231236 2163    M. Cafaro
Name: Name, dtype: object
Player has matched 215441 2248    S. Guirassy
Name: Name, dtype: object
Player has matched 215358 2261    M. Meli
Name: Name, dtype: object
Player has matched 208330 2300    A. Januzaj
Name: Name, dtype: object
Player has matched 199392 2313    M. Aguirregaray
Name: Name, dtype: object
Player has matched 240970 2323    M. Payero
Name: Name, dtype: object
Player has matched 257536 2345    J. Kuchta
Name: Name, dtype: object
Player has matched 211879 2407    J. Haberer
Name: Name, dtype: object
Player has matched 237512 2409    G. Togni
Name: Name, dtype: object
Player has matched 243414 2494    B. Williams
Name: Name, dtype: object
Player has matched 228635 2519    Borja Mayoral
Name: Name, dtype: object
Player has matched 211368 2551    Bruma
Name: Name, dtype: object
Player has matched 192991 2594    C. Tosun
Name: Name, dtype: object
Player has matched 240241 2674    B. Toma
Name: Name, dtype: object
Player has matched 243631 2800    M. Camara
Name: Name, dtype: object
Player has matched 239482 2886    Galeno
Name: Name, dtype: object
Player has matched 184176 2929    G. Bruno
Name: Name, dtype: object
Player has matched 212977 2960    N. Stark
Name: Name, dtype: object
Player has matched 239335 2989    Óscar
Name: Name, dtype: object
Player has matched 225146 3048    S. D'Almeida
Name: Name, dtype: object
Player has matched 216816 3064    G. Simeone
Name: Name, dtype: object
Player has matched 202695 3121    J. Tarkowski
Name: Name, dtype: object
Player has matched 210489 3379    L. Schaub
Name: Name, dtype: object
Player has matched 221705 3394    K. Dempsey
Name: Name, dtype: object
Player has matched 213135 3694    D. Origi
Name: Name, dtype: object
Player has matched 205086 3779    P. Klement
Name: Name, dtype: object
Player has matched 200895 4004    J. Morris
Name: Name, dtype: object
Player has matched 210897 4059    C. Mbemba
Name: Name, dtype: object
Player has matched 242348 4162    Loren
Name: Name, dtype: object
Player has matched 242348 4162    Loren
Name: Name, dtype: object
Player has matched 215353 4314    L. Alario
Name: Name, dtype: object
Player has matched 192565 4323    Y. Mallı
Name: Name, dtype: object
Player has matched 240953 4454    N. Tenaglia
Name: Name, dtype: object
Player has matched 251326 4506    Álex Bermejo
Name: Name, dtype: object
Player has matched 237407 4529    C. Durkin
Name: Name, dtype: object
Player has matched 185431 4589    N. Kalinić
Name: Name, dtype: object
Player has matched 245247 4654    F. Domínguez
Name: Name, dtype: object
Player has matched 251486 4688    Nené
Name: Name, dtype: object
Player has matched 235623 4690    Álvaro Jiménez
Name: Name, dtype: object
Player has matched 198019 4691    P. Testroet
Name: Name, dtype: object
Player has matched 259694 4957    Mingueza
Name: Name, dtype: object
Player has matched 211966 5193    M. Romeo
Name: Name, dtype: object
Player has matched 240964 5195    N. Linares
Name: Name, dtype: object
Player has matched 201818 5203    A. Musa
Name: Name, dtype: object
Player has matched 231638 5214    A. Peñaranda
Name: Name, dtype: object
Player has matched 258626 5224    D. Sinani
Name: Name, dtype: object
Player has matched 203889 5688    Y. Touzghar
Name: Name, dtype: object
Player has matched 232185 5753    C. Brittain
Name: Name, dtype: object
Player has matched 244749 5762    N. Aguerd
Name: Name, dtype: object
Player has matched 257073 5777    Tiago Tomás
Name: Name, dtype: object
Player has matched 255409 5925    R. Boženík
Name: Name, dtype: object
Player has matched 210413 5975    A. Romagnoli
Name: Name, dtype: object
Player has matched 233114 5985    J. Riley
Name: Name, dtype: object
Player has matched 235771 6023    T. Lowery
Name: Name, dtype: object
Player has matched 193422 6035    T. Børven
Name: Name, dtype: object
Player has matched 216281 6071    M. Sušić
Name: Name, dtype: object
Player has matched 246800 6075    T. Buchanan
Name: Name, dtype: object
Player has matched 244797 6112    P. Musa
Name: Name, dtype: object
Player has matched 231391 6123    João Carvalho
Name: Name, dtype: object
Player has matched 229914 6124    E. Osadebe
Name: Name, dtype: object
Player has matched 205985 6229    I. Kiese Thelin
Name: Name, dtype: object
Player has matched 223595 6419    J. Strauß
Name: Name, dtype: object
Player has matched 214766 6653    C. Izquierdoz
Name: Name, dtype: object
Player has matched 246106 6659    A. Herrera
Name: Name, dtype: object
Player has matched 263617 6677    Beñat Prados
Name: Name, dtype: object
Player has matched 220030 6737    G. Paquiez
Name: Name, dtype: object
Player has matched 197231 6801    K. Babacar
Name: Name, dtype: object
Player has matched 227558 6883    J. Siebatcheu
Name: Name, dtype: object
Player has matched 213321 6967    T. Jurić
Name: Name, dtype: object
Player has matched 219536 7018    I. Pussetto
Name: Name, dtype: object
Player has matched 220039 7060    D. Charles
Name: Name, dtype: object
Player has matched 186590 7113    21 J. O'Toole
Name: Name, dtype: object
Player has matched 213815 7138    M. Uhre
Name: Name, dtype: object
Player has matched 236629 7143    C. Operi
Name: Name, dtype: object
Player has matched 251425 7146    J. Taylor
Name: Name, dtype: object
Player has matched 234843 7477    M. Leitsch
Name: Name, dtype: object
Player has matched 222355 7794    20 L. Valzania
Name: Name, dtype: object
Player has matched 233231 7807    Jon Bautista
Name: Name, dtype: object
Player has matched 242655 7827    J. Ponceau
Name: Name, dtype: object
Player has matched 222513 7998    R. Aarons
Name: Name, dtype: object
Player has matched 184037 8097    M. Kelly
Name: Name, dtype: object
Player has matched 211144 8175    C. McFadzean
Name: Name, dtype: object
Player has matched 211144 8175    C. McFadzean
Name: Name, dtype: object
Player has matched 189695 8234    J. Devitt
Name: Name, dtype: object
Player has matched 237086 8335    Kim Min Jae
Name: Name, dtype: object
Player has matched 186130 8564    J. Chester
Name: Name, dtype: object
Player has matched 231633 8660    I. Diop
Name: Name, dtype: object
Player has matched 232658 8663    D. Doekhi
Name: Name, dtype: object
Player has matched 234827 8681    J. Rasmussen
Name: Name, dtype: object
Player has matched 246126 8780    C. Mola
Name: Name, dtype: object
Player has matched 237524 8872    S. Kaba
Name: Name, dtype: object
Player has matched 238303 9063    K. Velde
Name: Name, dtype: object
Player has matched 221692 9200    C. Bishop
Name: Name, dtype: object
Player has matched 257279 9325    Alex Baena
Name: Name, dtype: object
Player has matched 212129 9391    Borja López
Name: Name, dtype: object
Player has matched 213152 9503    C. Morris
Name: Name, dtype: object
Player has matched 258165 9528    A. Musaba
Name: Name, dtype: object
Player has matched 246230 9567    M. Phaëton
Name: Name, dtype: object
Player has matched 238061 9670    A. Lewis
Name: Name, dtype: object
Player has matched 262183 9686    B. Idrizi
Name: Name, dtype: object
Player has matched 244235 9699    H. Gong
Name: Name, dtype: object
Player has matched 255529 9871    E. Touré
Name: Name, dtype: object
Player has matched 254496 9921    C. Grant
Name: Name, dtype: object
Player has matched 251198 10178    E. Simms
Name: Name, dtype: object
Player has matched 235769 10252    O. Dale
Name: Name, dtype: object
Player has matched 243632 10380    C. Abi
Name: Name, dtype: object
Player has matched 226791 10456    T. Moore
Name: Name, dtype: object
Player has matched 232693 10519    C. Awaziem
Name: Name, dtype: object
Player has matched 236331 10521    E. Cabaco
Name: Name, dtype: object
Player has matched 201988 10583    F. Fernández
Name: Name, dtype: object
Player has matched 231932 10624    L. Chhangte
Name: Name, dtype: object
Player has matched 237677 10639    R. McCourt
Name: Name, dtype: object
Player has matched 240138 10763    W. Riveros
Name: Name, dtype: object
Player has matched 243163 10808    D. Grant
Name: Name, dtype: object
Player has matched 254019 10894    N. Gioacchini
Name: Name, dtype: object
Player has matched 236941 10906    21 J. Hastie
Name: Name, dtype: object
Player has matched 25798 10952    R. Santa Cruz
Name: Name, dtype: object
Player has matched 222540 11285    20 N. Vergos
Name: Name, dtype: object
Player has matched 251018 11316    T. Sinclair
Name: Name, dtype: object
Player has matched 236557 11406    O. Patrick
Name: Name, dtype: object
Player has matched 242541 11563    C. Brown
Name: Name, dtype: object
Player has matched 234743 11599    A. Muskwe
Name: Name, dtype: object
Player has matched 260290 11622    M. Pieringer
Name: Name, dtype: object
Player has matched 230737 11678    T. Lauritsen
Name: Name, dtype: object
Player has matched 177597 11705    21 R. Taylor
Name: Name, dtype: object
Player has matched 198857 11722    S. Romagnoli
Name: Name, dtype: object
Player has matched 230819 11754    O. Shodipo
Name: Name, dtype: object
Player has matched 222328 11783    J. Bager
Name: Name, dtype: object
Player has matched 207741 11792    M. Lieder
Name: Name, dtype: object
Player has matched 192840 11863    M. Đurić
Name: Name, dtype: object
Player has matched 228382 12134    D. Agyei
Name: Name, dtype: object
Player has matched 241452 12258    J. Diamond
Name: Name, dtype: object
Player has matched 247014 12625    A. Keita
Name: Name, dtype: object
Player has matched 237683 12707    N. Holland
Name: Name, dtype: object
Player has matched 242965 12874    F. Hornby
Name: Name, dtype: object
Player has matched 243971 13096    T. Knost
Name: Name, dtype: object
Player has matched 259064 13355    R. Balk
Name: Name, dtype: object
Player has matched 264421 13719    T. Small
Name: Name, dtype: object
Player has matched 260728 13801    A. Pressley
Name: Name, dtype: object
Player has matched 234861 13929    21 R. Ziegele
Name: Name, dtype: object
Player has matched 263556 13971    Rodrigo Guth
Name: Name, dtype: object
Player has matched 252459 13987    A. Ratajczyk
Name: Name, dtype: object
Player has matched 223852 14285    F. Rawson
Name: Name, dtype: object
Player has matched 259389 14369    L. Robinson
Name: Name, dtype: object
Player has matched 241894 14395    R. Leak
Name: Name, dtype: object
Player has matched 200159 14522    S. Ortega
Name: Name, dtype: object
Player has matched 200159 14522    S. Ortega
Name: Name, dtype: object
Player has matched 178750 14679    Sergio Asenjo
Name: Name, dtype: object
Player has matched 192563 14753    B. Leno
Name: Name, dtype: object
Player has matched 176526 14874    L. Burián
Name: Name, dtype: object
Player has matched 220407 14926    M. Dúbravka
Name: Name, dtype: object
Player has matched 24630 14990    Pepe Reina
Name: Name, dtype: object
Player has matched 24630 14990    Pepe Reina
Name: Name, dtype: object
Player has matched 215223 15143    W. Benítez
Name: Name, dtype: object
Player has matched 215223 15143    W. Benítez
Name: Name, dtype: object
Player has matched 203841 15158    N. Pope
Name: Name, dtype: object
Player has matched 203775 15295    L. Karius
Name: Name, dtype: object
Player has matched 203775 15295    L. Karius
Name: Name, dtype: object
Player has matched 215502 15362    B. Drągowski
Name: Name, dtype: object
Player has matched 215123 15396    A. Aguerre
Name: Name, dtype: object
Player has matched 183567 15468    E. Mulder
Name: Name, dtype: object
Player has matched 224987 15510    I. Provedel
Name: Name, dtype: object
Player has matched 236028 15563    Javi Díaz
Name: Name, dtype: object
Player has matched 233267 15597    M. Turner
Name: Name, dtype: object
Player has matched 244316 15644    Luís Maximiano
Name: Name, dtype: object
Player has matched 202469 15664    21 D. Bingham
Name: Name, dtype: object
Player has matched 200726 15689    B. Lecomte
Name: Name, dtype: object
Player has matched 170280 15737    21 J. McKeown
Name: Name, dtype: object
Player has matched 238489 15770    T. Boss
Name: Name, dtype: object
Player has matched 199812 15790    R. Allsop
Name: Name, dtype: object
Player has matched 260018 15824    D. Odumosu
Name: Name, dtype: object
Player has matched 211604 15853    L. Roberts
Name: Name, dtype: object
Player has matched 205759 16020    D. Stojanović
Name: Name, dtype: object
Player has matched 152523 16096    S. Flinders
Name: Name, dtype: object
Player has matched 152523 16096    S. Flinders
Name: Name, dtype: object
Player has matched 242969 16129    N. Baumann
Name: Name, dtype: object
Player has matched 241727 16187    P. Rajković
Name: Name, dtype: object
Player has matched 242242 16224    S. Cibois
Name: Name, dtype: object
Player has matched 252773 16269    J. Griffiths
Name: Name, dtype: object
Player has matched 258585 16274    I. Pandur
Name: Name, dtype: object
Player has matched 256953 16300    X. Dziekoński
Name: Name, dtype: object
Player has matched 243311 16356    Josep Martínez
Name: Name, dtype: object
Player has matched 234858 16376    M. Funk
Name: Name, dtype: object
Player has matched 241532 16435    20 Moha Ramos
Name: Name, dtype: object
Player has matched 251330 16455    V. Müller
Name: Name, dtype: object

### Evaulations

In [64]:
(pred_5/total_5)*100

0.9996667777407532

In [65]:
(pred_10/total_10)*100

1.7660779740086638

In [66]:
(pred_25/total_25)*100

4.165278240586471

In [67]:
(pred_50/total_50)*100

7.830723092302566