# Imports

In [2]:
import sklearn
import pandas as pd
import numpy as np
import re
import plotly.graph_objects as go
import plotly.express as px
import plotly
import math

# Reading Data

In [3]:
df_17 = pd.read_csv('./Dataset/FIFA17_official_data.csv')
df_18 = pd.read_csv('./Dataset/FIFA18_official_data.csv')
df_19 = pd.read_csv('./Dataset/FIFA19_official_data.csv')
df_20 = pd.read_csv('./Dataset/FIFA20_official_data.csv')
df_21 = pd.read_csv('./Dataset/FIFA21_official_data.csv')
df_22 = pd.read_csv('./Dataset/FIFA22_official_data.csv')
datalist = [df_17,df_18,df_19,df_20,df_21,df_22]

In [4]:
df_22.columns

Index(['ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag', 'Overall',
       'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Best Position', 'Best Overall Rating', 'Release Clause',
       'DefensiveAwareness'],
      dtype='object')

# Cleaning Data

In [5]:
curr_set = df_17
for next_set in datalist[1:]:
    print(set(next_set) - set(curr_set))
    curr_set = next_set

for dataset in datalist:
    if 'Release Clause' in list(dataset.columns):
        dataset.drop("Release Clause", axis = 1, inplace = True)
    if 'DefensiveAwareness' in list(dataset.columns):
        dataset.drop("DefensiveAwareness", axis = 1, inplace = True)
print("--------------------")
curr_set = df_17
for next_set in datalist[1:]:
    print(set(next_set) - set(curr_set))
    curr_set = next_set

{'Release Clause'}
set()
{'DefensiveAwareness'}
set()
set()
--------------------
set()
set()
set()
set()
set()

In [6]:
#Now we can join the datasets\
F_all_df = pd.concat(datalist, ignore_index=True)
F_all_df.columns

Index(['ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag', 'Overall',
       'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Best Position', 'Best Overall Rating'],
      dtype='object')

In [7]:
Unimportant_features  = ["Photo", "Flag", "Club Logo", "Wage", "Special", "International Reputation", "Work Rate", "Body Type", "Real Face", "Jersey Number", "Contract Valid Until", "Best Overall Rating","Joined","Loaned From"]
F_all_df.drop(Unimportant_features, axis = 1, inplace = True)
F_all_df["Ovr_pot"] = (F_all_df["Overall"] + F_all_df["Potential"])/2

In [8]:
# One-hot encode Preferred_foot
F_all_df = pd.get_dummies(F_all_df, columns = ["Preferred Foot"])
F_all_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right
0,176580,L. Suárez,29,Uruguay,92,92,FC Barcelona,€83M,4.0,4.0,...,38.0,27.0,25.0,31.0,33.0,37.0,ST,92.0,0,1
1,178518,R. Nainggolan,28,Belgium,86,86,Roma,€37.5M,3.0,3.0,...,88.0,11.0,11.0,14.0,8.0,11.0,CDM,86.0,0,1
2,181872,A. Vidal,29,Chile,87,87,FC Bayern München,€41.5M,4.0,3.0,...,84.0,4.0,2.0,4.0,2.0,4.0,CDM,87.0,0,1
3,197445,D. Alaba,24,Austria,86,89,FC Bayern München,€41.5M,4.0,3.0,...,83.0,5.0,7.0,14.0,15.0,9.0,LB,87.5,1,0
4,195864,P. Pogba,23,France,88,94,Manchester United,€71.5M,4.0,5.0,...,73.0,5.0,6.0,2.0,4.0,3.0,CAM,91.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104347,240558,18 L. Clayton,17,England,53,70,Cheltenham Town,€100K,2.0,1.0,...,12.0,55.0,54.0,52.0,50.0,59.0,GK,61.5,0,1
104348,262846,�. Dobre,20,Romania,53,63,FC Academica Clinceni,€180K,2.0,1.0,...,12.0,57.0,52.0,53.0,48.0,58.0,GK,58.0,0,1
104349,241317,21 Xue Qinghao,19,China PR,47,60,Shanghai Shenhua FC,€100K,2.0,1.0,...,9.0,49.0,48.0,45.0,38.0,52.0,GK,53.5,0,1
104350,259646,A. Shaikh,18,India,47,67,ATK Mohun Bagan FC,€110K,3.0,1.0,...,13.0,49.0,41.0,39.0,45.0,49.0,GK,57.0,0,1
104351,178453,07 A. Censori,17,Italy,28,38,Arezzo,€0,2.0,1.0,...,NaN,7.0,1.0,36.0,6.0,9.0,ST,33.0,0,1

In [9]:
detailed_features = ['Age','Overall', 'Potential', 'Weak Foot', 'Skill Moves', 'Height', 'Weight', 'Crossing', 'Finishing',
       'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve',
       'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', "Ovr_pot", 'Preferred Foot_Left', 'Preferred Foot_Right']

In [10]:
F_all_df[detailed_features] = F_all_df[detailed_features].fillna(0)
F_all_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right
0,176580,L. Suárez,29,Uruguay,92,92,FC Barcelona,€83M,4.0,4.0,...,38.0,27.0,25.0,31.0,33.0,37.0,ST,92.0,0,1
1,178518,R. Nainggolan,28,Belgium,86,86,Roma,€37.5M,3.0,3.0,...,88.0,11.0,11.0,14.0,8.0,11.0,CDM,86.0,0,1
2,181872,A. Vidal,29,Chile,87,87,FC Bayern München,€41.5M,4.0,3.0,...,84.0,4.0,2.0,4.0,2.0,4.0,CDM,87.0,0,1
3,197445,D. Alaba,24,Austria,86,89,FC Bayern München,€41.5M,4.0,3.0,...,83.0,5.0,7.0,14.0,15.0,9.0,LB,87.5,1,0
4,195864,P. Pogba,23,France,88,94,Manchester United,€71.5M,4.0,5.0,...,73.0,5.0,6.0,2.0,4.0,3.0,CAM,91.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104347,240558,18 L. Clayton,17,England,53,70,Cheltenham Town,€100K,2.0,1.0,...,12.0,55.0,54.0,52.0,50.0,59.0,GK,61.5,0,1
104348,262846,�. Dobre,20,Romania,53,63,FC Academica Clinceni,€180K,2.0,1.0,...,12.0,57.0,52.0,53.0,48.0,58.0,GK,58.0,0,1
104349,241317,21 Xue Qinghao,19,China PR,47,60,Shanghai Shenhua FC,€100K,2.0,1.0,...,9.0,49.0,48.0,45.0,38.0,52.0,GK,53.5,0,1
104350,259646,A. Shaikh,18,India,47,67,ATK Mohun Bagan FC,€110K,3.0,1.0,...,13.0,49.0,41.0,39.0,45.0,49.0,GK,57.0,0,1
104351,178453,07 A. Censori,17,Italy,28,38,Arezzo,€0,2.0,1.0,...,0.0,7.0,1.0,36.0,6.0,9.0,ST,33.0,0,1

In [11]:
# Clean height column
feet_inches_re = re.compile(r"(\d)'(\d+)")

# Define a function to convert feet'inches to cm
def feet_inches_to_cm(s):
    match = feet_inches_re.match(s)
    if match:
        feet = int(match.group(1))
        inches = int(match.group(2))
        return round((feet*12 + inches) * 2.54, 2)
    else:
        return float(s.replace('cm', ''))
F_all_df['Height'] = pd.to_numeric(F_all_df['Height'].apply(feet_inches_to_cm))

In [12]:
F_all_df['Height'].value_counts()

182.88    13593
177.80    12221
175.26    10661
180.34    10380
187.96     9448
          ...
159.00        3
156.00        2
155.00        1
157.00        1
206.00        1
Name: Height, Length: 71, dtype: int64

In [13]:
# Clean Weight Column
def convert_weight(weight_str):
    if 'kg' in weight_str:
        # If weight is in kg, remove the 'kg' suffix and return as float
        return float(weight_str.replace('kg', ''))
    elif 'lbs' in weight_str:
        # If weight is in lbs, convert to kg and return as float
        return float(weight_str.replace('lbs', '')) * 0.453592
    else:
        print("oops")
        # Return NaN if weight format is not recognized
        return pd.np.nan

# Apply the function to the Weight column and create a new column 'Weight_kg'
F_all_df['Weight'] = F_all_df['Weight'].apply(convert_weight)

In [14]:
F_all_df['Weight'].value_counts()

69.853168     7042
74.842680     6815
79.832192     4958
72.121128     4800
78.017824     4717
              ...
104.000000       1
51.000000        1
53.000000        1
48.080752        1
105.000000       1
Name: Weight, Length: 117, dtype: int64

In [15]:
# Define a function to convert cost to millions
def convert_cost(cost_str):
    if 'M' in cost_str:
        # If cost is in millions, remove the '$' and 'M' suffix and return as float
        return float(cost_str.replace('€', '').replace('M', ''))
    elif 'K' in cost_str:
        # If cost is in thousands, remove the '$' and 'K' suffix, divide by 1000, and return as float
        return float(cost_str.replace('€', '').replace('K', '')) / 1000
    # else:
    #     # Return NaN if cost format is not recognized
    #     return pd.np.nan

# Apply the function to the Cost column and create a new column 'Cost_millions'
F_all_df['Value'] = F_all_df['Value'].apply(convert_cost)

# Feature Creation - BMI

In [16]:
F_all_df['Bmi'] = F_all_df['Weight'] / (F_all_df['Height']/100)**2

In [17]:
F_all_df.columns

Index(['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club',
       'Value', 'Weak Foot', 'Skill Moves', 'Position', 'Height', 'Weight',
       'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Best Position', 'Ovr_pot', 'Preferred Foot_Left',
       'Preferred Foot_Right', 'Bmi'],
      dtype='object')

# EDA

In [18]:
# fig = go.Figure()

# fig = go.Figure(data=go.Scatter(
#     x = df_20['Overall'],
#     y = df_20['Value'],
#     mode='markers',
#     marker=dict(
#         size=16,
#         color=df_20['Age'], #set color equal to a variable
#         colorscale='Plasma', # one of plotly colorscales
#         showscale=True
#     ),
#     text= df_20['Name'],
# ))

# fig.update_layout(title='Styled Scatter Plot (colored by Age) year 2020 - Overall Rating vs Value in Euros',
#                   xaxis_title='Overall Rating',
#                   yaxis_title='Value in Euros',
#                   paper_bgcolor='rgba(0,0,0,0)',
#                   plot_bgcolor='rgba(0,0,0,0)',
#                   font=dict(family='Cambria, monospace', size=12, color='#000000'))
# fig.show()

In [19]:
from sklearn.preprocessing import StandardScaler
scaler = sklearn.preprocessing.StandardScaler()
F_norm_df = F_all_df.copy(deep = True)
F_norm_df[detailed_features] = scaler.fit_transform(F_norm_df[detailed_features].to_numpy())
F_norm_df.columns

Index(['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club',
       'Value', 'Weak Foot', 'Skill Moves', 'Position', 'Height', 'Weight',
       'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Best Position', 'Ovr_pot', 'Preferred Foot_Left',
       'Preferred Foot_Right', 'Bmi'],
      dtype='object')

In [20]:
df_22 = F_all_df.tail(df_22.shape[0])

In [21]:
df_22

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
87642,212198,Bruno Fernandes,26,Portugal,88,89,Manchester United,107.50,3.0,4.0,...,12.0,14.0,15.0,8.0,14.0,CAM,88.5,0,1,21.534908
87643,209658,L. Goretzka,26,Germany,87,88,FC Bayern München,93.00,4.0,3.0,...,13.0,8.0,15.0,11.0,9.0,CM,87.5,0,1,22.955684
87644,176580,L. Suárez,34,Uruguay,88,88,Atlético de Madrid,44.50,4.0,3.0,...,27.0,25.0,31.0,33.0,37.0,ST,88.0,0,1,25.057360
87645,192985,K. De Bruyne,30,Belgium,91,91,Manchester City,125.50,5.0,4.0,...,15.0,13.0,5.0,10.0,13.0,CM,91.0,0,1,21.366869
87646,224334,M. Acuña,29,Argentina,84,84,Sevilla FC,37.00,3.0,4.0,...,8.0,14.0,13.0,13.0,14.0,LB,84.0,1,0,23.323418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104347,240558,18 L. Clayton,17,England,53,70,Cheltenham Town,0.10,2.0,1.0,...,55.0,54.0,52.0,50.0,59.0,GK,61.5,0,1,22.634676
104348,262846,�. Dobre,20,Romania,53,63,FC Academica Clinceni,0.18,2.0,1.0,...,57.0,52.0,53.0,48.0,58.0,GK,58.0,0,1,22.850462
104349,241317,21 Xue Qinghao,19,China PR,47,60,Shanghai Shenhua FC,0.10,2.0,1.0,...,49.0,48.0,45.0,38.0,52.0,GK,53.5,0,1,21.913580
104350,259646,A. Shaikh,18,India,47,67,ATK Mohun Bagan FC,0.11,3.0,1.0,...,49.0,41.0,39.0,45.0,49.0,GK,57.0,0,1,21.389756
104351,178453,07 A. Censori,17,Italy,28,38,Arezzo,NaN,2.0,1.0,...,7.0,1.0,36.0,6.0,9.0,ST,33.0,0,1,22.024323

In [22]:
# fig = go.Figure()
# sample = F_norm_df.sort_values(by='Ovr_pot')

# fig.add_trace(go.Box(
#     x = sample['Ovr_pot'],
#     y = sample['Bmi'],
#     name="Suspected Outliers",
#     boxpoints='suspectedoutliers', # only suspected outliers
#     marker=dict(
#         size=12,
#         color='rgb(251, 158, 58)',
#         outliercolor='rgba(216, 87, 107, 0.6)',
#         line=dict(
#             outliercolor='rgba(216, 87, 107, 0.6)',
#             outlierwidth=2)),
#     line_color='rgb(73, 3, 159)',
#     text= sample['Name']
# ))

# fig.update_layout(title='Styled Box Plot (with Suspected Outliers) - Overall Rating vs BMI',
#                   xaxis_title='Overall Rating',
#                   yaxis_title='BMI',
#                   paper_bgcolor='rgba(0,0,0,0)',
#                   plot_bgcolor='rgba(0,0,0,0)',
#                   font=dict(family='Cambria, monospace', size=12, color='#000000'),
#                   xaxis_rangeslider_visible=True)
# fig.show()

In [23]:
F_norm_df.columns

Index(['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club',
       'Value', 'Weak Foot', 'Skill Moves', 'Position', 'Height', 'Weight',
       'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Best Position', 'Ovr_pot', 'Preferred Foot_Left',
       'Preferred Foot_Right', 'Bmi'],
      dtype='object')

In [24]:
F_norm_df["Best Position"].value_counts()

CB     20687
ST     15332
CAM    12517
GK     10890
RM      8359
CDM     7824
CM      6018
RB      5116
LB      4840
LM      4711
RW      2656
RWB     1861
LWB     1779
LW      1279
CF       480
LF         2
SW         1
Name: Best Position, dtype: int64

# Strikers

In [25]:
striker_df = F_norm_df[(F_norm_df["Best Position"] == "ST") | (F_norm_df["Best Position"] == "CF") | (F_norm_df["Best Position"] == "LF")]
striker_df  =  striker_df.reset_index(drop = True)
striker_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
0,176580,L. Suárez,0.873366,Uruguay,3.647373,3.353318,FC Barcelona,83.00,1.552616,2.090192,...,0.618657,0.538418,0.922738,1.007493,1.168766,ST,3.876224,-0.558918,0.558918,25.768347
1,173731,G. Bale,0.249592,Wales,3.360388,3.020577,Real Madrid,72.00,0.053943,2.090192,...,-0.071239,-0.062607,-0.302515,-0.658054,-0.584877,ST,3.536013,1.789172,-1.789172,22.106529
2,20801,Cristiano Ronaldo,1.289216,Portugal,3.934357,3.686059,Real Madrid,87.00,1.552616,3.387573,...,-0.531171,-0.303018,-0.057464,-0.122700,-0.302032,ST,4.216436,-0.558918,0.558918,23.220144
3,184941,A. Sánchez,0.457517,Chile,3.073404,2.687836,Arsenal,55.00,0.053943,2.090192,...,-0.358697,-0.363120,-0.057464,-0.241667,-0.188893,ST,3.195802,-0.558918,0.558918,21.456996
4,54050,W. Rooney,1.081291,England,2.212450,1.689612,Manchester United,18.50,1.552616,0.792811,...,-0.358697,-0.303018,-0.179990,-0.479603,-0.528308,ST,2.175168,-0.558918,0.558918,27.024076
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15809,262034,R. Mahon,-1.413805,Republic of Ireland,-2.666287,-1.970541,Bohemian FC,0.11,0.053943,-0.504570,...,-0.531171,-0.122710,-0.608828,-0.479603,-0.075755,ST,-2.587790,1.789172,-1.789172,20.549887
15810,259650,F. Molla,-1.205880,India,-2.809779,-0.805947,ATK Mohun Bagan FC,0.13,-1.444731,-0.504570,...,-0.473679,-0.603530,-0.118727,-0.301151,-0.132324,ST,-2.077473,-0.558918,0.558918,24.304618
15811,161659,07 Danilo,-0.166257,Brazil,-0.370411,-0.805947,Gallos Blancos de Querétaro,NaN,0.053943,-1.801951,...,-0.301205,-0.603530,2.515567,-0.063216,-0.245462,ST,-0.631575,1.789172,-1.789172,24.930748
15812,150597,09 J. Moukoko,-0.374181,Congo DR,-1.805333,-1.637800,NaN,NaN,0.053943,-1.801951,...,-0.473679,0.538418,1.474102,0.531623,0.489936,ST,-1.907368,-0.558918,0.558918,23.503556
15813,178453,07 A. Censori,-1.621729,Italy,-5.536132,-5.630694,Arezzo,NaN,-1.444731,-1.801951,...,-0.531171,-0.904043,1.229051,-0.598570,-0.415170,ST,-6.160009,-0.558918,0.558918,22.024323

In [26]:
ST_detailed_features = ['Weak Foot', 'Skill Moves', 'Height', 'Weight','Bmi', 'Crossing', 'Finishing',
       'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve',
       'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle']

In [27]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
X = striker_df[ST_detailed_features].to_numpy()
y = striker_df["Ovr_pot"].to_numpy()
# define feature selection
fs = SelectKBest(score_func=f_regression, k = 10)
# apply feature selection
X_selected = fs.fit_transform(X, y)

In [28]:
np.sort(fs.scores_)

array([5.64069079e+00, 6.01175039e+01, 1.15560838e+02, 2.47649992e+02,
       3.93058587e+02, 4.06505762e+02, 9.81697813e+02, 1.11763132e+03,
       1.14061688e+03, 1.18550313e+03, 1.23847753e+03, 1.43281252e+03,
       1.45863958e+03, 2.17451588e+03, 2.75182023e+03, 2.87025967e+03,
       4.27010137e+03, 4.41289126e+03, 5.73828589e+03, 5.77270709e+03,
       6.38939382e+03, 6.72582876e+03, 6.82025961e+03, 7.05054983e+03,
       1.01421237e+04, 1.12446741e+04, 1.53094768e+04, 2.02789365e+04,
       2.03344285e+04, 2.53797729e+04, 2.61312201e+04, 3.10141541e+04,
       4.00066369e+04, 4.20135489e+04])

In [29]:
ST_essential_ft = list(fs.get_feature_names_out(ST_detailed_features))
ST_essential_ft

['Finishing',
 'HeadingAccuracy',
 'ShortPassing',
 'Volleys',
 'Dribbling',
 'BallControl',
 'Reactions',
 'ShotPower',
 'LongShots',
 'Positioning']

# Wingers

In [30]:
wingers_df = F_norm_df[(F_norm_df["Best Position"] == "LW") | (F_norm_df["Best Position"] == "RW")]
wingers_df  =  wingers_df.reset_index(drop = True)
wingers_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
0,190871,Neymar,-0.166257,Brazil,3.647373,3.686059,FC Barcelona,106.00,3.051289,3.387573,...,-0.416188,-0.423223,-0.057464,-0.063216,-0.302032,LW,4.046330,-0.558918,0.558918,22.150882
1,193130,A. Schürrle,0.041668,Germany,2.068958,1.689612,Borussia Dortmund,19.00,1.552616,0.792811,...,-0.531171,-0.303018,-0.241252,-0.420119,-0.245462,RW,2.090115,-0.558918,0.558918,22.106529
2,209331,M. Salah,-0.166257,Egypt,2.212450,2.188724,Roma,26.00,-1.444731,2.090192,...,-0.128731,-0.122710,-0.425040,-0.301151,-0.132324,RW,2.430326,1.789172,-1.789172,23.479935
3,222492,L. Sané,-0.997955,Germany,2.212450,3.186947,Manchester City,31.00,0.053943,0.792811,...,-0.473679,-0.242915,-0.425040,-0.420119,-0.132324,LW,2.940643,1.789172,-1.789172,22.784644
4,185020,José Callejón,0.873366,Spain,2.355942,1.855983,Napoli,22.50,-1.444731,0.792811,...,-0.473679,-0.663633,-0.118727,-0.301151,-0.302032,RW,2.345273,-0.558918,0.558918,23.100839
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3930,248281,20 D. Borrero,-1.621729,Colombia,-1.518349,0.525018,Club Independiente Santa Fe,0.18,0.053943,0.792811,...,-0.243714,-0.423223,-0.425040,-0.658054,-0.188893,RW,-0.631575,-0.558918,0.558918,21.847009
3931,263090,J. Eng,-1.829654,Norway,-1.948825,0.691388,Vålerenga Fotball,0.30,0.053943,0.792811,...,-0.358697,-0.363120,-0.547565,-0.360635,-0.641446,RW,-0.801681,-0.558918,0.558918,24.074074
3932,264675,J. Dickman,-0.997955,Sweden,-2.092318,-0.805947,FC Nordsjælland,0.19,0.053943,-0.504570,...,-0.128731,-0.062607,-0.241252,-0.539087,-0.584877,RW,-1.652209,-0.558918,0.558918,22.582709
3933,261677,R. O'Kane,-1.621729,Republic of Ireland,-2.235810,0.525018,Dundalk FC,0.18,-1.444731,-0.504570,...,-0.301205,-0.242915,-0.118727,-0.360635,-0.584877,RW,-1.056840,-0.558918,0.558918,20.904195
3934,256458,K. Swaleh,-1.413805,Norway,-2.379302,-0.306835,FK Bodø/Glimt,0.13,0.053943,-0.504570,...,-0.301205,-0.122710,-0.179990,-0.598570,-0.471739,RW,-1.567157,-0.558918,0.558918,20.761246

In [31]:
Wing_detailed_features = ['Weak Foot', 'Skill Moves', 'Height', 'Weight','Bmi', 'Crossing', 'Finishing',
       'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve',
       'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle']

In [32]:
X = wingers_df[Wing_detailed_features].to_numpy()
y = wingers_df["Ovr_pot"].to_numpy()
# define feature selection
fs = SelectKBest(score_func=f_regression, k = 10)
# apply feature selection
X_selected = fs.fit_transform(X, y)

In [33]:
np.sort(fs.scores_)

array([3.29880469e-01, 5.27755587e-01, 8.70543243e+00, 1.32447941e+01,
       6.81219680e+01, 1.19319356e+02, 1.32405108e+02, 1.34820032e+02,
       1.37514990e+02, 1.77184397e+02, 3.17072084e+02, 4.35849248e+02,
       5.42156511e+02, 6.62702856e+02, 9.30597672e+02, 9.44008964e+02,
       9.93276607e+02, 1.00458747e+03, 1.08758829e+03, 1.39182558e+03,
       1.97523922e+03, 2.13570267e+03, 2.29758520e+03, 2.36690811e+03,
       2.72262854e+03, 3.30209508e+03, 3.65653954e+03, 4.27979708e+03,
       4.32607549e+03, 4.84295923e+03, 5.10712658e+03, 5.82370202e+03,
       1.13580208e+04, 1.14027090e+04])

In [34]:
Wing_essential_ft = list(fs.get_feature_names_out(Wing_detailed_features))
Wing_essential_ft

['Crossing',
 'Finishing',
 'ShortPassing',
 'Dribbling',
 'BallControl',
 'Reactions',
 'ShotPower',
 'LongShots',
 'Positioning',
 'Vision']

# Midfield

In [35]:
mids_df = F_norm_df[(F_norm_df["Best Position"] == "RM") | (F_norm_df["Best Position"] == "CM") | (F_norm_df["Best Position"] == "CDM") | (F_norm_df["Best Position"] == "LM")]
mids_df  =  mids_df.reset_index(drop = True)
mids_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
0,178518,R. Nainggolan,0.665442,Belgium,2.786419,2.355094,Roma,37.50,0.053943,0.792811,...,-0.301205,-0.303018,-0.118727,-0.479603,-0.302032,CDM,2.855590,-0.558918,0.558918,21.117175
1,181872,A. Vidal,0.873366,Chile,2.929911,2.521465,FC Bayern München,41.50,1.552616,0.792811,...,-0.703645,-0.843941,-0.731353,-0.836506,-0.698015,CDM,3.025696,-0.558918,0.558918,23.012574
2,177003,L. Modrić,1.081291,Croatia,3.216896,2.854206,Real Madrid,54.00,1.552616,2.090192,...,-0.186222,-0.423223,-0.547565,-0.122700,-0.415170,CM,3.365907,-0.558918,0.558918,21.117175
3,173210,C. Marchisio,1.081291,Italy,2.786419,2.355094,Juventus,35.00,1.552616,2.090192,...,-0.703645,-0.783838,-0.731353,-0.836506,-0.698015,CM,2.855590,-0.558918,0.558918,22.454694
4,139997,D. Srna,1.912989,Croatia,2.068958,1.523241,Shakhtar Donetsk,4.80,0.053943,0.792811,...,-0.358697,-0.363120,-0.608828,-0.598570,-0.245462,CM,2.005062,-0.558918,0.558918,22.813872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26907,4174,07 P. Sarr,0.665442,Senegal,-0.226918,-0.306835,Stade Brestois 29,NaN,0.053943,-1.801951,...,-0.416188,-0.242915,3.189456,-0.479603,-0.302032,CDM,-0.291364,-0.558918,0.558918,23.456790
26908,246839,21 C. Bargary,-1.205880,Republic of Ireland,-2.235810,-0.805947,Cork City,0.15,0.053943,-0.504570,...,-0.358697,-0.603530,-0.302515,-0.598570,-0.641446,RM,-1.737262,-0.558918,0.558918,21.777553
26909,235352,18 T. Käßemodel,0.665442,Germany,-2.953271,-4.299729,FC Erzgebirge Aue,0.03,0.053943,-0.504570,...,-0.358697,-0.242915,-0.608828,-0.182184,-0.584877,CM,-3.948636,-0.558918,0.558918,25.059307
26910,4373,07 S. Valakari,1.705065,Finland,-0.083426,-0.805947,FC Dallas,NaN,0.053943,-1.801951,...,-0.588662,-0.783838,2.270516,-0.598570,-0.754585,CDM,-0.461470,1.789172,-1.789172,26.753864
26911,19334,10 I. Baraclough,2.744688,England,-3.240256,-1.138688,NaN,NaN,0.053943,-1.801951,...,-0.646154,0.237905,1.841678,0.234203,0.207091,CM,-2.502738,1.789172,-1.789172,23.666910

In [36]:
Mid_detailed_features = ['Weak Foot', 'Skill Moves', 'Height', 'Weight','Bmi', 'Crossing', 'Finishing',
       'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve',
       'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle']

In [37]:
X = mids_df[Mid_detailed_features].to_numpy()
y = mids_df["Ovr_pot"].to_numpy()
# define feature selection
fs = SelectKBest(score_func=f_regression, k = 10)
# apply feature selection
X_selected = fs.fit_transform(X, y)

In [38]:
Mid_essential_ft = list(fs.get_feature_names_out(Mid_detailed_features))
Mid_essential_ft

['ShortPassing',
 'Dribbling',
 'LongPassing',
 'BallControl',
 'Reactions',
 'ShotPower',
 'LongShots',
 'Positioning',
 'Vision',
 'Composure']

# CAM

In [39]:
cam_df = F_norm_df[(F_norm_df["Best Position"] == "CAM")]
cam_df  =  cam_df.reset_index(drop = True)
cam_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
0,195864,P. Pogba,-0.374181,France,3.073404,3.686059,Manchester United,71.50,1.552616,3.387573,...,-0.646154,-0.603530,-0.853879,-0.717538,-0.754585,CAM,3.706119,-0.558918,0.558918,23.123158
1,20289,Y. Touré,1.705065,Ivory Coast,2.499435,2.022353,Manchester City,18.00,1.552616,0.792811,...,-0.186222,-0.122710,-0.608828,-0.241667,-0.471739,CAM,2.515379,-0.558918,0.558918,25.421414
2,189509,Thiago,0.041668,Spain,2.786419,2.687836,FC Bayern München,46.00,0.053943,3.387573,...,-0.588662,-0.303018,-0.547565,-0.420119,-0.188893,CAM,3.025696,-0.558918,0.558918,22.741573
3,171877,M. Hamšik,0.665442,Slovakia,2.786419,2.355094,Napoli,37.50,1.552616,0.792811,...,-0.473679,-0.603530,-0.731353,-0.122700,-0.132324,CAM,2.855590,-0.558918,0.558918,23.598381
4,180206,M. Pjanić,0.249592,Bosnia Herzegovina,2.642927,2.355094,Juventus,37.50,1.552616,2.090192,...,-0.531171,-0.543428,-0.179990,-0.539087,-0.471739,CAM,2.770538,-0.558918,0.558918,21.478402
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12512,252881,21 H. Hopper,-1.205880,England,-2.379302,-0.805947,Rochdale,0.12,-1.444731,-0.504570,...,-0.473679,-0.543428,-0.670091,-0.479603,-0.358601,CAM,-1.822315,-0.558918,0.558918,21.877551
12513,243725,D. Collins,-0.997955,Republic of Ireland,-2.809779,-2.636023,Sligo Rovers,0.10,0.053943,-0.504570,...,-0.588662,-0.423223,-0.670091,-0.182184,-0.471739,CAM,-3.013055,-0.558918,0.558918,22.460034
12514,259857,A. Majok,-0.997955,South Sudan,-2.379302,-0.805947,Western United FC,0.12,-1.444731,-0.504570,...,-0.473679,-0.303018,-0.363777,-0.479603,-0.358601,CAM,-1.822315,-0.558918,0.558918,21.132713
12515,261748,C. McLaughlin,-1.205880,Republic of Ireland,-2.235810,-2.136912,Derry City,0.13,0.053943,0.792811,...,-0.243714,-0.423223,-0.302515,-0.122700,-0.528308,CAM,-2.417685,1.789172,-1.789172,22.857143
12516,261818,R. Gallagher,-0.997955,Republic of Ireland,-2.809779,-1.804170,Finn Harps,0.11,0.053943,-0.504570,...,-0.128731,-0.363120,-0.547565,-0.182184,-0.471739,CAM,-2.587790,-0.558918,0.558918,22.839506

In [40]:
Cam_detailed_features = ['Weak Foot', 'Skill Moves', 'Height', 'Weight','Bmi', 'Crossing', 'Finishing',
       'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve',
       'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle']

In [41]:
X = cam_df[Cam_detailed_features].to_numpy()
y = cam_df["Ovr_pot"].to_numpy()
# define feature selection
fs = SelectKBest(score_func=f_regression, k = 10)
# apply feature selection
X_selected = fs.fit_transform(X, y)

In [42]:
Cam_essential_ft = list(fs.get_feature_names_out(Cam_detailed_features))
Cam_essential_ft

['Crossing',
 'Finishing',
 'ShortPassing',
 'Dribbling',
 'Curve',
 'BallControl',
 'Reactions',
 'LongShots',
 'Positioning',
 'Vision']

# Defenders

In [43]:
centrebacks_df = F_norm_df[(F_norm_df["Best Position"] == "CB")]
centrebacks_df  = centrebacks_df.reset_index(drop = True)
centrebacks_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
0,185103,A. Kolarov,1.081291,Serbia,1.925466,1.356871,Manchester City,10.00,0.053943,-0.504570,...,-0.013748,-0.062607,-0.486303,-0.003732,-0.584877,CB,1.834957,1.789172,-1.789172,23.495549
1,155862,Sergio Ramos,1.081291,Spain,3.216896,2.854206,Real Madrid,43.50,0.053943,0.792811,...,-0.301205,-0.483325,-0.425040,-0.539087,-0.302032,CB,3.365907,-0.558918,0.558918,22.377775
2,164240,Thiago Silva,1.289216,Brazil,3.216896,2.854206,Paris Saint-Germain,39.50,0.053943,0.792811,...,-0.416188,-0.242915,-0.670091,-0.420119,-0.358601,CB,3.365907,-0.558918,0.558918,23.598381
3,179944,David Luiz,0.873366,Brazil,2.499435,2.022353,Chelsea,22.00,0.053943,0.792811,...,-0.301205,-0.242915,-0.363777,-0.539087,-0.132324,CB,2.515379,-0.558918,0.558918,23.752331
4,205600,S. Umtiti,-0.582106,France,2.355942,2.687836,FC Barcelona,27.00,0.053943,-0.504570,...,-0.071239,-0.363120,-0.118727,-0.241667,-0.075755,CB,2.770538,1.789172,-1.789172,22.377775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20682,164945,07 Nuno Mendes,0.665442,Portugal,0.634035,-0.306835,US Créteil-Lusitanos,NaN,0.053943,-1.801951,...,-0.301205,-0.242915,0.616425,-0.182184,-0.188893,CB,0.218953,-0.558918,0.558918,24.075474
20683,252561,Zhang Yu,-1.413805,China PR,-2.379302,-0.473206,Hebei FC,0.11,-1.444731,-0.504570,...,-0.646154,-0.182813,-0.241252,-0.658054,-0.075755,CB,-1.652209,-0.558918,0.558918,21.132713
20684,262041,P. Maguire,-1.413805,Republic of Ireland,-2.522794,-0.805947,Sligo Rovers,0.11,0.053943,-0.504570,...,-0.186222,-0.663633,-0.057464,-0.539087,-0.584877,CB,-1.907368,-0.558918,0.558918,20.233553
20685,239427,21 A. Ajeti,-0.374181,Switzerland,-1.805333,-1.804170,FC St. Gallen 1879,0.20,0.053943,-0.504570,...,-0.128731,-0.182813,-0.363777,-0.420119,-0.358601,CB,-1.992421,1.789172,-1.789172,23.702162
20686,220806,16 E. Redman,-1.413805,Wales,-3.240256,-2.469653,Newport County,0.05,-1.444731,-0.504570,...,-0.186222,-0.543428,0.003798,-0.420119,-0.528308,CB,-3.183160,-0.558918,0.558918,23.924858

In [44]:
Def_detailed_features = ['Weak Foot', 'Skill Moves', 'Height', 'Weight','Bmi', 'Crossing', 'Finishing',
       'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve',
       'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle']

In [45]:
X = centrebacks_df[Def_detailed_features].to_numpy()
y = centrebacks_df["Ovr_pot"].to_numpy()
# define feature selection
fs = SelectKBest(score_func=f_regression, k = 10)
# apply feature selection
X_selected = fs.fit_transform(X, y)

In [46]:
np.sort(fs.scores_)

array([3.65345458e+01, 5.69809956e+01, 3.27125902e+02, 3.33799277e+02,
       3.94357894e+02, 4.06366012e+02, 4.20283099e+02, 5.74432383e+02,
       1.00840274e+03, 1.08777661e+03, 1.25534166e+03, 1.30754510e+03,
       1.31132367e+03, 1.48923981e+03, 1.65545309e+03, 1.82432936e+03,
       1.93064956e+03, 1.96564543e+03, 2.04720323e+03, 2.23125685e+03,
       3.29979350e+03, 4.40809608e+03, 4.78511333e+03, 5.21453946e+03,
       9.82067628e+03, 1.13220423e+04, 1.15921133e+04, 1.40356844e+04,
       1.65498676e+04, 2.95708181e+04, 3.14012974e+04, 3.48146197e+04,
       4.66352331e+04, 6.80187994e+04])

In [47]:
Def_essential_ft = list(fs.get_feature_names_out(Def_detailed_features))
Def_essential_ft

['HeadingAccuracy',
 'ShortPassing',
 'LongPassing',
 'BallControl',
 'Reactions',
 'Aggression',
 'Interceptions',
 'Composure',
 'StandingTackle',
 'SlidingTackle']

# Fullbacks

In [48]:
fullbacks_df = F_norm_df[(F_norm_df["Best Position"] == "LB") | (F_norm_df["Best Position"] == "RB") | (F_norm_df["Best Position"] == "LWB") | (F_norm_df["Best Position"] == "RWB")]
fullbacks_df  = fullbacks_df.reset_index(drop = True)
fullbacks_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
0,197445,D. Alaba,-0.166257,Austria,2.786419,2.854206,FC Bayern München,41.500,1.552616,0.792811,...,-0.646154,-0.543428,-0.118727,-0.063216,-0.415170,LB,3.110749,1.789172,-1.789172,23.430985
1,203551,A. Florenzi,0.041668,Italy,2.212450,2.188724,Roma,20.500,0.053943,0.792811,...,-0.416188,-0.483325,-0.363777,-0.301151,-0.358601,RB,2.430326,-0.558918,0.558918,22.503074
2,163631,L. Baines,1.289216,England,2.355942,1.855983,Everton,14.500,0.053943,0.792811,...,-0.473679,-0.062607,-0.363777,-0.182184,-0.245462,LWB,2.345273,1.789172,-1.789172,24.119543
3,189332,Jordi Alba,0.457517,Spain,2.786419,2.355094,FC Barcelona,31.500,0.053943,0.792811,...,-0.186222,-0.062607,-0.179990,-0.598570,-0.188893,LWB,2.855590,1.789172,-1.789172,23.493061
4,146530,Dani Alves,1.705065,Brazil,2.499435,2.022353,Juventus,12.500,0.053943,0.792811,...,-0.646154,-0.303018,-0.425040,-0.598570,-0.528308,RWB,2.515379,-0.558918,0.558918,22.807169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13591,248815,K. Berkoe,-1.205880,England,-1.948825,-1.138688,Salford City,0.210,0.053943,-0.504570,...,-0.416188,-0.543428,-0.547565,-0.479603,-0.188893,LB,-1.737262,1.789172,-1.789172,20.515086
13592,261549,B. Ganesan,-1.205880,India,-2.666287,-1.804170,Chennaiyin FC,0.110,0.053943,-0.504570,...,-0.128731,-0.303018,-0.179990,-0.598570,-0.584877,RB,-2.502738,-0.558918,0.558918,19.814053
13593,260767,Z. Bello,-1.621729,Australia,-2.379302,-0.306835,Melbourne Victory,0.120,0.053943,-0.504570,...,-0.531171,-0.423223,-0.547565,-0.479603,-0.415170,RB,-1.567157,-0.558918,0.558918,21.857278
13594,252466,21 D. Bouah,-1.413805,Italy,-2.522794,-0.805947,Roma,0.110,-1.444731,-0.504570,...,-0.128731,-0.663633,-0.302515,-0.182184,-0.302032,RB,-1.907368,-0.558918,0.558918,23.620288
13595,260623,21 M. Wright,1.705065,England,-2.809779,-4.133359,Crawley Town,0.025,-2.943404,-0.504570,...,-0.128731,-0.423223,-0.118727,-0.479603,-0.641446,LB,-3.778530,1.789172,-1.789172,25.564954

In [49]:
Def_detailed_features = ['Weak Foot', 'Skill Moves', 'Height', 'Weight','Bmi', 'Crossing', 'Finishing',
       'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve',
       'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle']

In [50]:
X = fullbacks_df[Def_detailed_features].to_numpy()
y = fullbacks_df["Ovr_pot"].to_numpy()
# define feature selection
fs = SelectKBest(score_func=f_regression, k = 10)
# apply feature selection
X_selected = fs.fit_transform(X, y)

In [51]:
Fullback_essential_ft = list(fs.get_feature_names_out(Def_detailed_features))
Fullback_essential_ft

['Crossing',
 'ShortPassing',
 'Dribbling',
 'LongPassing',
 'BallControl',
 'Reactions',
 'Interceptions',
 'Composure',
 'StandingTackle',
 'SlidingTackle']

# Goalkeeper

In [52]:
gk_df = F_norm_df[(F_norm_df["Best Position"] == "GK")]
gk_df  = gk_df.reset_index(drop = True)
gk_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
0,230167,Mateus Tangil,0.665442,Brazil,0.060066,-0.805947,Atlético Mineiro,0.625,0.053943,-1.801951,...,2.860822,3.122829,2.883143,2.851492,3.148685,GK,-0.376417,-0.558918,0.558918,24.009113
1,230318,Nelsildo Reis,0.665442,Brazil,1.351496,0.691388,Internacional,4.600,0.053943,-1.801951,...,3.435736,3.663752,3.740820,3.565298,3.261823,GK,1.154534,-0.558918,0.558918,24.248069
2,167495,M. Neuer,1.081291,Germany,3.647373,3.353318,FC Bayern München,69.500,1.552616,-1.801951,...,4.183124,4.445085,4.843547,4.457556,4.110360,GK,3.876224,-0.558918,0.558918,24.709662
3,230171,Carlos Travisso,1.497140,Brazil,-0.513903,-1.471429,Botafogo,0.250,0.053943,-1.801951,...,2.975805,1.620264,2.944405,2.851492,3.148685,GK,-1.056840,-0.558918,0.558918,23.012574
4,230322,Teixe Gaúcho,0.665442,Brazil,-1.374856,-2.469653,Ponte Preta,0.100,-1.444731,-1.801951,...,3.090788,2.341495,2.331779,1.483364,2.582993,GK,-2.077473,-0.558918,0.558918,23.238767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10885,251433,B. Voll,-0.997955,Germany,-1.231364,-0.473206,F.C. Hansa Rostock,0.375,-1.444731,-1.801951,...,2.458382,2.642008,2.454304,2.316138,2.526424,GK,-0.971787,-0.558918,0.558918,22.353715
10886,240558,18 L. Clayton,-1.621729,England,-1.948825,-0.306835,Cheltenham Town,0.100,-1.444731,-1.801951,...,2.228417,2.281393,2.209254,2.018719,2.413286,GK,-1.311998,-0.558918,0.558918,22.634676
10887,262846,�. Dobre,-0.997955,Romania,-1.948825,-1.471429,FC Academica Clinceni,0.180,-1.444731,-1.801951,...,2.343399,2.161187,2.270516,1.899751,2.356717,GK,-1.907368,-0.558918,0.558918,22.850462
10888,241317,21 Xue Qinghao,-1.205880,China PR,-2.809779,-1.970541,Shanghai Shenhua FC,0.100,-1.444731,-1.801951,...,1.883468,1.920777,1.780415,1.304912,2.017302,GK,-2.672843,-0.558918,0.558918,21.913580
10889,259646,A. Shaikh,-1.413805,India,-2.809779,-0.805947,ATK Mohun Bagan FC,0.110,0.053943,-1.801951,...,1.883468,1.500059,1.412839,1.721299,1.847595,GK,-2.077473,-0.558918,0.558918,21.389756

In [53]:
Gk_detailed_features = ['Height', 'Weight','Bmi', 'ShortPassing', 'Volleys', 'Curve','Agility', 'Reactions', 'Balance',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
        'Positioning', 'Vision', 'Composure','GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes']

In [54]:
gk_df[gk_df["ID"]==167495]

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
2,167495,M. Neuer,1.081291,Germany,3.647373,3.353318,FC Bayern München,69.5,1.552616,-1.801951,...,4.183124,4.445085,4.843547,4.457556,4.110360,GK,3.876224,-0.558918,0.558918,24.709662
1995,167495,M. Neuer,1.289216,Germany,3.647373,3.353318,FC Bayern München,61.0,1.552616,-1.801951,...,4.298107,4.445085,4.843547,4.457556,4.110360,GK,3.876224,-0.558918,0.558918,24.709662
4040,167495,M. Neuer,1.497140,Germany,3.073404,2.687836,FC Bayern München,34.0,1.552616,-1.801951,...,4.125633,4.204675,4.537234,4.100653,3.997221,GK,3.195802,-0.558918,0.558918,24.709662
6098,167495,M. Neuer,1.705065,Germany,3.216896,2.854206,FC Bayern München,36.0,1.552616,-1.801951,...,4.068142,4.264777,4.598497,4.160137,3.997221,GK,3.365907,-0.558918,0.558918,24.709662
7744,167495,M. Neuer,1.912989,Germany,3.216896,2.854206,FC Bayern München,29.0,1.552616,-1.801951,...,4.068142,4.264777,4.598497,4.160137,4.110360,GK,3.365907,-0.558918,0.558918,24.709662
9346,167495,M. Neuer,2.120914,Germany,3.360388,3.020577,FC Bayern München,13.5,1.552616,-1.801951,...,4.125633,4.324880,4.598497,4.338588,4.053791,GK,3.536013,-0.558918,0.558918,24.967113

In [55]:
X = gk_df[Gk_detailed_features].to_numpy()
y = gk_df["Ovr_pot"].to_numpy()
# define feature selection
fs = SelectKBest(score_func=f_regression, k = 10)
# apply feature selection
X_selected = fs.fit_transform(X, y)

In [56]:
Gk_essential_ft = list(fs.get_feature_names_out(Gk_detailed_features))
Gk_essential_ft

['Agility',
 'Reactions',
 'Jumping',
 'Vision',
 'Composure',
 'GKDiving',
 'GKHandling',
 'GKKicking',
 'GKPositioning',
 'GKReflexes']

# Finalizing all dataframes

In [57]:
# gk_df=gk_df[Gk_essential_ft]
# fullbacks_df = fullbacks_df[Fullback_essential_ft]
# centrebacks_df = centrebacks_df[Def_essential_ft]
# cam_df = cam_df[Cam_essential_ft]
# mids_df = mids_df[Mid_essential_ft]
# wingers_df = wingers_df[Wing_essential_ft]
# striker_df= striker_df[ST_essential_ft]

In [58]:
# F_all_df["Club"].unique().shape

In [59]:
# F_all_df[(F_all_df["Club"] == "Manchester United")].columns

In [60]:
all_clubs = list(F_all_df["Club"].unique())

In [61]:
all_clubs

['FC Barcelona',
 'Roma',
 'FC Bayern München',
 'Manchester United',
 'Real Madrid',
 'Everton',
 'Juventus',
 'Shakhtar Donetsk',
 'AS Monaco',
 'VfL Wolfsburg',
 'Milan',
 'Olympique de Marseille',
 'Olympique Lyonnais',
 'Beşiktaş JK',
 'Manchester City',
 'Liverpool',
 'FC Rostov',
 'Tottenham Hotspur',
 'Sporting CP',
 'Arsenal',
 'Paris Saint-Germain',
 'Napoli',
 nan,
 'FC Schalke 04',
 'OGC Nice',
 'SL Benfica',
 'Borussia Dortmund',
 'UD Las Palmas',
 'FC Porto',
 'Lazio',
 'Borussia Mönchengladbach',
 'PFC CSKA Moscow',
 'Chievo Verona',
 'Chelsea',
 'Leicester City',
 'Lokomotiv Moscow',
 'Atlético Madrid',
 'Sevilla FC',
 'Crystal Palace',
 'Chicago Fire',
 'Genoa',
 'Bournemouth',
 'Club Athletico Paranaense',
 'Athletic Club de Bilbao',
 'Montpellier HSC',
 'West Ham United',
 'SV Werder Bremen',
 'Villarreal CF',
 'Zenit St. Petersburg',
 '1. FC Köln',
 'Stoke City',
 'Inter',
 'Valencia CF',
 'Southampton',
 'Watford',
 'Club Brugge KV',
 'FC Krasnodar',
 'LOSC Lille',
 'Feyenoord',
 'RC Celta',
 'Toronto FC',
 'AS Saint-Étienne',
 'RSC Anderlecht',
 'Spartak Moscow',
 'PSV',
 'Udinese',
 'Ajax',
 'San Lorenzo de Almagro',
 'Hamburger SV',
 'Trabzonspor',
 'Fiorentina',
 'Grêmio',
 'Aston Villa',
 'Torino',
 'Burnley',
 'Montreal Impact',
 'Standard de Liège',
 'Swansea City',
 'Hertha BSC',
 'Monterrey',
 'Racing Club',
 'KAA Gent',
 'Universidad de Chile',
 'FC Basel 1893',
 'Sunderland',
 'TSG 1899 Hoffenheim',
 'Bayer 04 Leverkusen',
 'Granada CF',
 'Vitória Guimarães',
 'Deportivo de La Coruña',
 'Birmingham City',
 'Bologna',
 'Club Atlético Lanús',
 'Internacional',
 'Osmanlıspor',
 'VfB Stuttgart',
 'SV Darmstadt 98',
 'Toulouse Football Club',
 '1. FSV Mainz 05',
 'Levante UD',
 'Fenerbahçe SK',
 'Malmö FF',
 'FC Sion',
 'Vitesse',
 'Cagliari',
 'LA Galaxy',
 'Norwich City',
 'Legia Warszawa',
 'Guadalajara',
 'Tigres U.A.N.L.',
 'Newcastle United',
 'Angers SCO',
 'Rosenborg BK',
 'FC Utrecht',
 'Fluminense',
 'Sampdoria',
 'Al Ahli',
 'Galatasaray SK',
 'Bursaspor',
 'Medipol Başakşehir FK',
 'RCD Espanyol',
 'Seattle Sounders FC',
 'SD Eibar',
 'Atiker Konyaspor',
 'Al Nassr',
 'Sheffield Wednesday',
 'Real Betis',
 'FC Dallas',
 'FC Augsburg',
 'Kawasaki Frontale',
 'Derby County',
 'Huddersfield Town',
 'Rubin Kazan',
 'Boca Juniors',
 'Atalanta',
 'Vissel Kobe',
 'Sporting Kansas City',
 'Stade Rennais FC',
 'FC St. Gallen',
 'Sassuolo',
 'Universidad Católica',
 'Málaga CF',
 'Joinville',
 'RB Leipzig',
 'FC Ingolstadt 04',
 'Deportivo Alavés',
 'Hull City',
 'Çaykur Rizespor',
 'Olympiacos CFP',
 'Colo-Colo',
 'CD Leganés',
 'Club América',
 'Antalyaspor',
 'Kayserispor',
 'Clube Sport Marítimo',
 'Middlesbrough',
 'Independiente',
 'Getafe CF',
 'Palmeiras',
 'Panathinaikos FC',
 'CA Osasuna',
 'Hellas Verona',
 'AZ Alkmaar',
 'Real Sociedad',
 'West Bromwich Albion',
 'FC Metz',
 'FC Girondins de Bordeaux',
 'Al Hilal',
 'Club León',
 'IF Elfsborg',
 'Gimnàstic de Tarragona',
 'Brescia',
 'Colorado Rapids',
 'En Avant de Guingamp',
 'PAOK',
 'Kasimpaşa SK',
 'KV Oostende',
 'Philadelphia Union',
 'Goiás',
 'Reading',
 'Eintracht Braunschweig',
 'KRC Genk',
 'Deportivo Toluca',
 'Empoli',
 'Djurgårdens IF',
 'River Plate',
 'Santos',
 'Eintracht Frankfurt',
 'U.N.A.M.',
 'Orlando Pirates',
 'Kalmar FF',
 'Once Caldas',
 'Brighton & Hove Albion',
 'Club Tijuana',
 'New York City FC',
 'Al Shabab',
 'Independiente Medellín',
 'Pogoń Szczecin',
 'Odds BK',
 'Sporting Club de Bastia',
 'Sangju Sangmu FC',
 'Fulham',
 'Cesena',
 'Pachuca',
 'Akhisar Belediyespor',
 'Strømsgodset IF',
 'Football Bourg En Bresse Peronnas 01',
 'FC Ufa',
 'New York Red Bulls',
 'SC Braga',
 'Atlético Nacional',
 'Santos Laguna',
 'América FC (Minas Gerais)',
 'Gimnasia y Esgrima La Plata',
 'Jeju United FC',
 'Stade Malherbe Caen',
 'FC Paços de Ferreira',
 'Vitória',
 'Rayo Vallecano',
 'Pohang Steelers',
 'Brøndby IF',
 'Kashiwa Reysol',
 'Estudiantes de La Plata',
 'Bolton Wanderers',
 'Lech Poznań',
 "Newell's Old Boys",
 'Elche CF',
 'Northampton Town',
 'Gençlerbirliği SK',
 'Hannover 96',
 'Columbus Crew SC',
 'Tiburones Rojos de Veracruz',
 'Celtic',
 'Jaguares de Chiapas',
 'Rionegro Águilas',
 'SC Freiburg',
 'VfL Bochum 1848',
 'Gamba Osaka',
 'PEC Zwolle',
 'Portland Timbers',
 'Rio Ave FC',
 'Botafogo',
 'Kaizer Chiefs',
 'FC Lorient',
 'CD Tenerife',
 'Club Atlas',
 '1. FC Union Berlin',
 'FC Nantes',
 'Amkar Perm',
 'US Salernitana 1919',
 'Atlético Mineiro',
 'Terek Grozny',
 'Ternana',
 'Pescara',
 'SC Heerenveen',
 'Bristol City',
 'Inverness Caledonian Thistle',
 'Alanyaspor',
 'FC Groningen',
 'UD Almería',
 'Vancouver Whitecaps FC',
 'Dijon FCO',
 'Vitória de Setúbal',
 'Sport Club do Recife',
 'ADO Den Haag',
 'FC København',
 'Moreirense FC',
 'SD Huesca',
 'Coritiba',
 'CD Numancia',
 'Kardemir Karabükspor',
 'Palermo',
 'Crotone',
 'Wellington Phoenix',
 'Orlando City SC',
 'Real Sporting de Gijón',
 'Brentford',
 'Albirex Niigata',
 'New England Revolution',
 'RC Strasbourg Alsace',
 'Trapani',
 'Defensa y Justicia',
 'Nottingham Forest',
 'Stade Lavallois Mayenne FC',
 'Real Zaragoza',
 'Os Belenenses',
 'CD Mirandés',
 'FC Red Bull Salzburg',
 'São Paulo',
 'Girona FC',
 'Wolverhampton Wanderers',
 'Perth Glory',
 'Querétaro',
 'KV Kortrijk',
 'Junior FC',
 'Arsenal Tula',
 'Stade de Reims',
 '1. FC Nürnberg',
 'RCD Mallorca',
 'CD Feirense',
 'Boavista FC',
 'Monarcas Morelia',
 'KVC Westerlo',
 'Preston North End',
 'Grasshopper Club Zürich',
 'Sporting de Charleroi',
 'Bari',
 'Urawa Red Diamonds',
 'FC Orenburg',
 'Millonarios FC',
 'Leeds United',
 'Estoril Praia',
 'Godoy Cruz',
 'SV Zulte-Waregem',
 'Korona Kielce',
 'Gaziantepspor',
 'Fortuna Düsseldorf',
 'GD Chaves',
 'Jagiellonia Białystok',
 'FC Erzgebirge Aue',
 'Cardiff City',
 'Racing Club de Lens',
 'DSC Arminia Bielefeld',
 'Atlético Bucaramanga',
 'Heracles Almelo',
 'FC Arouca',
 'Sint-Truidense VV',
 'Plymouth Argyle',
 'Rosario Central',
 'SG Dynamo Dresden',
 'DC United',
 'Port Vale',
 'FC Ural Yekaterinburg',
 'Sporting Lokeren',
 'Melbourne City FC',
 'Ulsan Hyundai FC',
 'Aarhus GF',
 'FC Seoul',
 'Cruz Azul',
 'KV Mechelen',
 'Cruzeiro',
 'Sheffield United',
 'Bury',
 'AS Nancy Lorraine',
 'St. Johnstone FC',
 'FC St. Pauli',
 'Independiente Santa Fe',
 'Club Atlético Huracán',
 'Karlsruher SC',
 'Sydney FC',
 'Carpi',
 'Valenciennes FC',
 'Jeonbuk Hyundai Motors',
 'Chamois Niortais Football Club',
 'Figueirense',
 'Aalborg BK',
 'Pisa',
 'San Luis de Quillota',
 'Real Valladolid CF',
 'La Equidad',
 'CD Universidad de Concepción',
 'Bristol Rovers',
 'Club Atlético Talleres',
 'FC Pro Vercelli 1892',
 'CD Tondela',
 'CD Nacional',
 'Houston Dynamo',
 'IFK Göteborg',
 'Kashima Antlers',
 'Unión Española',
 '1. FC Kaiserslautern',
 'Suwon Samsung Bluewings',
 'Gillingham',
 'FC Twente',
 'Nîmes Olympique',
 'Dundee FC',
 'FC Midtjylland',
 'SK Brann',
 'Seongnam FC',
 'SK Rapid Wien',
 'Cracovia',
 'FC Würzburger Kickers',
 'Puebla FC',
 'Silkeborg IF',
 'Wisła Kraków',
 'Omiya Ardija',
 'Wolfsberger AC',
 'Ascoli',
 'TSV 1860 München',
 'FK Austria Wien',
 'Club Atlético Aldosivi',
 'Cádiz CF',
 'Real Oviedo',
 'Brisbane Roar',
 'Vasco da Gama',
 'Rangers FC',
 'Excelsior',
 'Real Salt Lake',
 'UCAM Murcia CF',
 'BK Häcken',
 'AC Ajaccio',
 'Vålerenga Fotball',
 'Deportivo Cali',
 'Ipswich Town',
 'Benevento',
 'Molde FK',
 'BSC Young Boys',
 'Sparta Rotterdam',
 'SPAL',
 'Santa Cruz',
 'Viking FK',
 'Millwall',
 'Unión de Santa Fe',
 'Grimsby Town',
 'Santiago Wanderers',
 'Willem II',
 'Suwon FC',
 'Lechia Gdańsk',
 'Fleetwood Town',
 'Club Atlético Sarmiento',
 'Notts County',
 'Blackburn Rovers',
 'Jeonnam Dragons',
 'Deportivo Pasto',
 'Perugia',
 'Southend United',
 'Zagłębie Lubin',
 'Queens Park Rangers',
 'Ponte Preta',
 'Novara',
 'Patriotas Boyacá FC',
 'Adanaspor',
 'FC Tokyo',
 'Wigan Athletic',
 'SpVgg Greuther Fürth',
 'Júbilo Iwata',
 'Avellino',
 'Club Atlético Banfield',
 'FC Sochaux-Montbéliard',
 'Criciúma',
 'Hamilton Academical FC',
 'Waasland-Beveren',
 'Chapecoense',
 'Córdoba CF',
 'Sanfrecce Hiroshima',
 'FC Tom Tomsk',
 'CD Lugo',
 'FC Vaduz',
 'Belgrano de Córdoba',
 'Charlton Athletic',
 'FC Lausanne-Sport',
 'Heart of Midlothian',
 'Aalesunds FK',
 'SønderjyskE',
 'Bruk-Bet Termalica Nieciecza',
 'Frosinone',
 'Shrewsbury',
 'Stade Brestois 29',
 'Jaguares de Córdoba',
 'Club Atlético Tigre',
 'NEC Nijmegen',
 'AIK',
 'Melbourne Victory',
 'Barnsley',
 'GFC Ajaccio',
 'Vicenza',
 'Deportes Tolima',
 'ESTAC Troyes',
 'Go Ahead Eagles',
 'Al Fateh',
 'Al Taawoun',
 '1. FC Heidenheim 1846',
 'Adelaide United',
 'Deportes Iquique',
 'Lillestrøm SK',
 'Club Atlético Colón',
 'Spezia',
 'FC Admira Wacker Mödling',
 'Atlético Tucumán',
 'FC Anzhi Makhachkala',
 'FK Haugesund',
 'Rotherham United',
 'Hammarby IF',
 'KAS Eupen',
 'US Orléans Loiret Football',
 'Club Atlético Temperley',
 'Clermont Foot 63',
 'Club Olimpo',
 'AD Alcorcón',
 'Audax Italiano',
 'Milton Keynes Dons',
 'Roda JC Kerkrade',
 'FC Lugano',
 'Coventry City',
 'Oxford United',
 'Cortuluá',
 'Western Sydney Wanderers',
 'Club Necaxa',
 'Bradford City',
 'Vélez Sarsfield',
 'Al Ittihad',
 'Rochdale',
 'Nagoya Grampus',
 'Colchester United',
 'Östersunds FK',
 'CF Reus Deportiu',
 'Piast Gliwice',
 'Aberdeen',
 'CD Huachipato',
 'Lyngby BK',
 'SCR Altach',
 'Esbjerg fB',
 'SV Mattersburg',
 'Ettifaq FC',
 'Al Qadisiyah',
 'Wisła Płock',
 'Sagan Tosu',
 'HJK Helsinki',
 'IFK Norrköping',
 'Latina',
 'Mansfield Town',
 'SV Ried',
 'Blackpool',
 'Yokohama F. Marinos',
 'Avaí FC',
 'SK Sturm Graz',
 'Incheon United FC',
 'Red Star FC',
 'Sarpsborg 08 FF',
 'Cittadella',
 'Arsenal de Sarandí',
 'GwangJu FC',
 'Ross County FC',
 'Leyton Orient',
 'Scunthorpe United',
 'Randers FC',
 'Doncaster Rovers',
 'Sevilla Atlético',
 'Odense Boldklub',
 'FC Thun',
 'Atlético de Rafaela',
 'Morecambe',
 'Burton Albion',
 'Helsingborgs IF',
 'Stabæk Fotball',
 'San Jose Earthquakes',
 'Oldham Athletic',
 'Walsall',
 'FC Luzern',
 'Tromsø IL',
 'CD Antofagasta',
 'Ventforet Kofu',
 'Quilmes Atlético Club',
 'SV Sandhausen',
 'San Martín de San Juan',
 "CD O'Higgins",
 'CD Palestino',
 'Cambridge United',
 'Örebro SK',
 'FC Nordsjælland',
 'Peterborough United',
 'Portsmouth',
 'Le Havre AC',
 'Jönköpings Södra IF',
 'Śląsk Wrocław',
 'Royal Excel Mouscron',
 'Kilmarnock',
 'Al Khaleej',
 'Cork City',
 'Atlético Huila',
 'Stevenage',
 'Krylya Sovetov Samara',
 'AC Horsens',
 'Swindon Town',
 "St. Patrick's Athletic",
 'Chesterfield',
 'Wycombe Wanderers',
 'Partick Thistle FC',
 'Amiens SC',
 'Arka Gdynia',
 'Górnik Łęczna',
 'Patronato',
 'AJ Auxerre',
 'Sligo Rovers',
 'GIF Sundsvall',
 'CD Everton de Viña del Mar',
 'Motherwell',
 'Crewe Alexandra',
 'Luton Town',
 'Al Wehda',
 'AFC Wimbledon',
 'IK Start',
 'Sogndal Fotball',
 'Tours FC',
 'Alianza Petrolera',
 'Boyacá Chicó FC',
 'Vegalta Sendai',
 'Virtus Entella',
 'Al Faisaly',
 'Dundalk',
 'CD Cobresal',
 'Exeter City',
 'Carlisle United',
 'Newcastle Jets',
 'Crawley Town',
 'Yeovil Town',
 'FK Bodø/Glimt',
 'Gefle IF',
 'Newport County',
 'Hartlepool United',
 'Derry City',
 'Al Raed',
 'Cheltenham Town',
 'Central Coast Mariners',
 'Shamrock Rovers',
 'Club Deportes Temuco',
 'Avispa Fukuoka',
 'Envigado FC',
 'Falkenbergs FF',
 'Bray Wanderers',
 'Viborg FF',
 'Ruch Chorzów',
 'Accrington Stanley',
 'Shonan Bellmare',
 'Galway United',
 'SKN St. Pölten',
 'Fortaleza CEIF',
 'Al Batin',
 'Finn Harps',
 'Barnet',
 'Bohemian FC',
 'Longford Town',
 'Wexford Youths',
 'AEK Athens',
 'Lobos BUAP',
 'Sivasspor',
 'Royal Antwerp FC',
 'AFC Eskilstuna',
 'Dinamo Moscow',
 'América de Cali',
 'CD Aves',
 'Göztepe SK',
 'NAC Breda',
 'Atlanta United',
 'MSV Duisburg',
 'Parma',
 'Sparta Praha',
 'Atlético Clube Goianiense',
 'VVV-Venlo',
 'Cultural Leonesa',
 'Cerezo Osaka',
 'Hibernian',
 'US Quevilly Rouen Métropole',
 'US Cremonese',
 'Portimonense SC',
 'FC Tosno',
 'SSV Jahn Regensburg',
 'Venezia FC',
 'Argentinos Juniors',
 'Minnesota United FC',
 'La Berrichonne de Châteauroux',
 'Yeni Malatyaspor',
 'Foggia',
 'Sandecja Nowy Sącz',
 'Albacete BP',
 'SKA Khabarovsk',
 '1. FC Magdeburg',
 'FC Barcelona B',
 'SC Preußen Münster',
 'SG Sonnenhof Großaspach',
 'Holstein Kiel',
 'Lincoln City',
 'Sandefjord Fotball',
 'Al Fayha',
 'Shimizu S-Pulse',
 'VfL Osnabrück',
 'VfL Sportfreunde Lotte',
 'Gangwon FC',
 'Ohod Club',
 'FC Zürich',
 'Hallescher FC',
 'Chemnitzer FC',
 'IK Sirius',
 'FSV Zwickau',
 'SV Meppen',
 'LASK Linz',
 'SC Paderborn 07',
 'Hokkaido Consadole Sapporo',
 'Górnik Zabrze',
 'SV Werder Bremen II',
 'FC Rot-Weiß Erfurt',
 'SC Fortuna Köln',
 'SpVgg Unterhaching',
 'Lorca FC',
 'VfR Aalen',
 'Curicó Unido',
 'SV Wehen Wiesbaden',
 'Hobro IK',
 'Kristiansund BK',
 'Paris FC',
 'FC Hansa Rostock',
 'Daegu FC',
 'Chacarita Juniors',
 'Forest Green Rovers',
 'Halmstads BK',
 'FC Carl Zeiss Jena',
 'Limerick FC',
 'Drogheda United',
 'FC Helsingør',
 'Tigres FC',
 'Guangzhou Evergrande Taobao FC',
 'Dalian YiFang FC',
 'Guangzhou R&F FC',
 'Shanghai SIPG FC',
 'Beijing Sinobo Guoan FC',
 'Hebei China Fortune FC',
 'Beijing Renhe FC',
 'Bahia',
 'Tianjin TEDA FC',
 'Viktoria Plzeň',
 'Jiangsu Suning FC',
 'Dynamo Kyiv',
 'Shanghai Greenland Shenhua FC',
 'MKE Ankaragücü',
 'SK Slavia Praha',
 'Los Angeles FC',
 'Shandong Luneng TaiShan FC',
 'Chongqing Dangdai Lifan FC SWM Team',
 'Cosenza',
 'Al Hazem',
 'Dinamo Zagreb',
 'Paraná',
 'Tianjin Quanjian FC',
 'Padova',
 'BB Erzurumspor',
 'Zagłębie Sosnowiec',
 'Neuchâtel Xamax',
 'Livorno',
 'Henan Jianye FC',
 'Fortuna Sittard',
 'Grenoble Foot 38',
 'CF Rayo Majadahonda',
 'Santa Clara',
 'FC Emmen',
 'San Martin de Tucumán',
 'V-Varen Nagasaki',
 'Ceará Sporting Club',
 'St. Mirren',
 'KSV Cercle Brugge',
 'Lecce',
 'Ranheim Fotball',
 'Unión La Calera',
 'KFC Uerdingen 05',
 'Vejle Boldklub',
 'Livingston FC',
 'FC Energie Cottbus',
 'Gyeongnam FC',
 'AS Béziers',
 'Extremadura UD',
 'Miedź Legnica',
 'Macclesfield Town',
 'De Graafschap',
 'Vendsyssel FF',
 'Tranmere Rovers',
 'FC Wacker Innsbruck',
 'Guizhou Hengfeng FC',
 'Trelleborgs FF',
 'Dalkurd FF',
 'Changchun Yatai FC',
 'IF Brommapojkarna',
 'Itagüí Leones FC',
 'TSV Hartberg',
 'Waterford FC',
 'CSA - AL',
 'Olimpia Asunción',
 'Denizlispor',
 'Independiente del Valle',
 'Atlético de San Luis',
 'LDU Quito',
 'Shenzhen FC',
 'Famalicão',
 'Sol de América',
 'FC Juárez',
 'Pordenone',
 'CFR Cluj',
 'Fortaleza',
 'Castellammare di Stabia',
 'Astra Giurgiu',
 'Universitatea Craiova',
 'FC Cincinnati',
 'Flamengo',
 'Peñarol',
 'Nacional de Montevideo',
 'Deportivo Binacional',
 'Club Bolívar',
 'Central Córdoba',
 'Al Ain FC',
 'Club Libertad',
 'FCSB (Steaua)',
 'FC Viitorul',
 'SD Ponferradina',
 'RKC Waalwijk',
 'Wuhan Zall',
 'Gil Vicente FC',
 'Gazişehir Gaziantep F.K.',
 'FC Botoşani',
 'CF Fuenlabrada',
 'UE Llagostera',
 'Oriente Petrolero',
 'Western United FC',
 'Damac FC',
 'Barcelona Sporting Club',
 'Catania',
 'Sepsi OSK',
 'Club Guaraní',
 'Salford City',
 'Real Madrid Castilla',
 'Raków Częstochowa',
 'Delfín SC',
 'Sport Huancayo',
 'Kuban Krasnodar',
 'SV Waldhof Mannheim',
 'Unión Magdalena',
 'Melgar FBC',
 'SD Aucas',
 'Nacional Asunción',
 'Politehnica Iaşi',
 'Coquimbo Unido',
 'Alianza Lima',
 'Emelec',
 'Bayern München II',
 'FC Voluntari',
 'Viktoria Köln',
 'Servette FC',
 'Club Atlético Grau',
 'Dinamo Bucureşti',
 'Gaz Metan Mediaş',
 'Liverpool Fútbol Club',
 'Racing Santander',
 'Le Mans FC',
 'Jorge Wilstermann',
 'Club Plaza Colonia',
 'Cusco FC',
 'Mjøndalen IF',
 'Oita Trinita',
 'AC Arles Avignon',
 'River Plate Montevideo',
 'El Nacional',
 'FC Chambly Oise',
 'Matsumoto Yamaga',
 'Chindia Târgovişte',
 'Nacional Potosí',
 'Corinthians',
 'Universidad Católica del Ecuador',
 'WSG Tirol',
 'Daejeon Citizen',
 'Centro Atlético Fénix',
 'Academica Clinceni',
 'Always Ready',
 'Abha Club',
 'Associação Académica de Coimbra',
 'Dundee United',
 'Como',
 'Al Adalah',
 'River Plate Asunción',
 'FC Hermannstadt',
 'Club Blooming',
 'UC AlbinoLeffe',
 'Estudiantes de Mérida',
 'Caracas FC',
 'AC Mineros de Guayana',
 'LKS Lodz',
 'Rodez Aveyron Football',
 'Rangers de Talca',
 'Aragua FC',
 'Grosseto',
 'UCD AFC',
 'Llaneros de Guanare',
 'Estudiantes Tecos',
 'Lierse SK',
 'Dynamo České Budějovice',
 'Cúcuta Deportivo',
 'Leones Negros de la UdeG',
 '111648',
 'Åtvidabergs FF',
 'Sportivo Luqueño',
 'Mersin İdman Yurdu',
 'GKS Bełchatów',
 'Zamora FC',
 'Clube Náutico Capibaribe',
 'Najran SC',
 'Sandnes Ulf',
 'RC Recreativo de Huelva',
 'Torquay United',
 'Podbeskidzie Bielsko-Biała',
 'Al Nahdha Dammam',
 'US Créteil-Lusitanos',
 'Atlante',
 'UD Vecindario',
 'FC Cartagena',
 'Arezzo',
 'Inter Miami',
 'AC Monza',
 'Fatih Karagümrük S.K.',
 'Qingdao Huanghai F.C.',
 'Shijiazhuang Ever Bright F.C.',
 'Farense',
 'Hatayspor',
 'Oceânico FC',
 'Mazatlán FC',
 'Beerschot AC',
 'C.D. Castellón',
 'VfB Lübeck',
 'Oud-Heverlee Leuven',
 'Volga Nizhny Novgorod',
 'UD Logroñés',
 'Busan IPark',
 'Nashville SC',
 'Pau FC',
 'Dorados de Sinaloa',
 'Yokohama FC',
 'CE Sabadell FC',
 'Stal Mielec',
 'UTA Arad',
 'Barrow',
 '1. FC Saarbrücken',
 'Macarthur FC',
 'Türkgücü München',
 'Harrogate Town',
 'Mjällby AIF',
 'FC Argeș',
 'SC Verl',
 '113974',
 'Varbergs BoIS',
 'USL Dunkerque',
 'Alemannia Aachen',
 'Shelbourne FC',
 'Hércules CF',
 '114912',
 'Warta Poznań',
 'União de Leiria',
 'Siena',
 'Santo André',
 'KSV 1919',
 'CF Estrela da Amadora',
 'CD Trofense',
 'Sakaryaspor',
 'Atlético de Madrid',
 'Real Madrid CF',
 'Real Betis Balompié',
 'AC Milan',
 'Beijing Guoan FC',
 'Unión Deportiva Almería',
 'Shanghai Port FC',
 'Montpellier Hérault SC',
 'Levante Unión Deportiva',
 'RB Bragantino',
 'Unión Deportiva Las Palmas',
 'Guangzhou City',
 'Jiangsu FC',
 'Udinese Calcio',
 'Shanghai Shenhua FC',
 'TSG Hoffenheim',
 'Torino F.C.',
 'Guangzhou FC',
 'RCD Espanyol de Barcelona',
 'Club Olimpia',
 'RC Celta de Vigo',
 'Inter Miami CF',
 'Al Ain',
 'Spartak Moskva',
 'Gallos Blancos de Querétaro',
 'Sport-Club Freiburg',
 'Hebei FC',
 'Adana Demirspor',
 'Club Atlético Independiente',
 'İstanbul Başakşehir FK',
 'Clube Atlético Mineiro',
 'CF Monterrey ',
 'F.C. København',
 'FC Lokomotiv Moscow',
 'U.C. Sampdoria',
 'AFC Bournemouth',
 'Fútbol Club Juárez',
 'AC Sparta Praha',
 'FC Viktoria Plzeň',
 'Columbus Crew',
 'Atakaş Hatayspor',
 'Sport Club Corinthians Paulista',
 'U.S. Sassuolo Calcio',
 'Yukatel Kayserispor',
 'Demir Grup Sivasspor',
 'İttifak Holding Konyaspor',
 'Shandong Taishan',
 'Qingdao FC',
 'Austin FC',
 'Club Atlético Central Córdoba',
 'Orlando City Soccer Club',
 'N.E.C. Nijmegen',
 'Tianjin Jinmen Tiger FC',
 ...]

# Previous players in a club

In [62]:
# strikers_in_club={}

# for club in all_clubs:
#     all_features = striker_df[striker_df["Club"] == club]
#     essential_features = all_features[ST_essential_ft]
#     weights_vector=[]
#     for i in essential_features:
#         if essential_features[i].std() !=0:
#             weights_vector.append(1/essential_features[i].std())
#         else:
#             weights_vector.append(0)
#     # print(weights_vector)
#     strikers_in_club[club] = weights_vector

# Get weights of a particular position for all clubs

Weights are how dense the essential feature is. This is reciprocal of standard deviation

In [63]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
def get_pos_weights(pos_df,pos_essential_ft):
    pos_players_in_club={}

    for club in all_clubs:
        all_features = pos_df[pos_df["Club"] == club]
        all_features = all_features.sort_values('Ovr_pot',ascending = False).head(20)
        essential_features = all_features[pos_essential_ft]
        weights_vector=[]
        sum = 0
        for i in essential_features:
            if essential_features[i].std() != 0:
                weights_vector.append(1/essential_features[i].std())
                sum += 1/essential_features[i].std()
            else:
                weights_vector.append(0)
                sum += 0
        # print(pos_essential_ft,club,weights_vector)
        if(sum != 0):
            for x in range(len(weights_vector)):
                weights_vector[x] = weights_vector[x] / sum
        pos_players_in_club[club] = weights_vector
        #print(sum)
    np_array = np.empty((0,len(pos_essential_ft)))
    for club in all_clubs:
        n_row = np.array(pos_players_in_club[club])
        n_row.shape = (1,len(pos_essential_ft))
        np_array = np.append(np_array, n_row, axis = 0)
    scaler = StandardScaler()
    np_array = scaler.fit_transform(np_array)
    count = 0
    for club in all_clubs:
        scaler = MinMaxScaler()
        n_ar = np_array[count]
        n_ar.shape = (len(pos_essential_ft),1)
        n_ar = scaler.fit_transform(n_ar)
        n_ar.shape = (len(pos_essential_ft),)
        pos_players_in_club[club] = (n_ar/np.sum(n_ar)).tolist()
        count += 1

    return pos_players_in_club

# Extracting Common features across positions

In [64]:
pos_essential_features = [ST_essential_ft,Wing_essential_ft,Mid_essential_ft,Cam_essential_ft,Def_essential_ft,Fullback_essential_ft]
# common_features =   []
# d={}
# for i in pos_essential_features:
#     for j in i:
#         if j not in d:
#             d[j]=1
#         else:
#             d[j]+=1

# for i in d:
#     if d[i]==len(pos_essential_features):
#         common_features.append(i)

#Can be optimized 

#basically removing all common features from the essential features of a position
# for i in common_features:
#     ST_essential_ft.remove(i)
#     Wing_essential_ft.remove(i)
#     Mid_essential_ft.remove(i)
#     Cam_essential_ft.remove(i)
#     Def_essential_ft.remove(i)
#     Fullback_essential_ft.remove(i)
    # Gk_essential_ft.remove(i)

In [65]:
# common_features

In [66]:
#common_features.extend(["Age", "Height", "Weight", "Weak Foot"])
common_features = (["Age"])

More features to be appended to common features.

In [67]:
from sklearn.preprocessing import MinMaxScaler
scaler = sklearn.preprocessing.MinMaxScaler()
F_std_df = F_all_df.copy(deep = True)
F_std_df[detailed_features] = scaler.fit_transform(F_std_df[detailed_features].to_numpy())
F_std_df.columns

Index(['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club',
       'Value', 'Weak Foot', 'Skill Moves', 'Position', 'Height', 'Weight',
       'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Best Position', 'Ovr_pot', 'Preferred Foot_Left',
       'Preferred Foot_Right', 'Bmi'],
      dtype='object')

# Weights per Position

In [68]:
striker_df = F_std_df[(F_std_df["Best Position"] == "ST") | (F_std_df["Best Position"] == "CF") | (F_std_df["Best Position"] == "LF")]
striker_df  =  striker_df.reset_index(drop = True)
striker_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
0,176580,L. Suárez,0.358974,Uruguay,0.969697,0.947368,FC Barcelona,83.00,0.75,0.75,...,0.288889,0.263736,0.319149,0.347826,0.391304,ST,0.967213,0.0,1.0,25.768347
1,173731,G. Bale,0.282051,Wales,0.939394,0.912281,Real Madrid,72.00,0.50,0.75,...,0.155556,0.153846,0.106383,0.043478,0.054348,ST,0.934426,1.0,0.0,22.106529
2,20801,Cristiano Ronaldo,0.410256,Portugal,1.000000,0.982456,Real Madrid,87.00,0.75,1.00,...,0.066667,0.109890,0.148936,0.141304,0.108696,ST,1.000000,0.0,1.0,23.220144
3,184941,A. Sánchez,0.307692,Chile,0.909091,0.877193,Arsenal,55.00,0.50,0.75,...,0.100000,0.098901,0.148936,0.119565,0.130435,ST,0.901639,0.0,1.0,21.456996
4,54050,W. Rooney,0.384615,England,0.818182,0.771930,Manchester United,18.50,0.75,0.50,...,0.100000,0.109890,0.127660,0.076087,0.065217,ST,0.803279,0.0,1.0,27.024076
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15809,262034,R. Mahon,0.076923,Republic of Ireland,0.303030,0.385965,Bohemian FC,0.11,0.50,0.25,...,0.066667,0.142857,0.053191,0.076087,0.152174,ST,0.344262,1.0,0.0,20.549887
15810,259650,F. Molla,0.102564,India,0.287879,0.508772,ATK Mohun Bagan FC,0.13,0.25,0.25,...,0.077778,0.054945,0.138298,0.108696,0.141304,ST,0.393443,0.0,1.0,24.304618
15811,161659,07 Danilo,0.230769,Brazil,0.545455,0.508772,Gallos Blancos de Querétaro,NaN,0.50,0.00,...,0.111111,0.054945,0.595745,0.152174,0.119565,ST,0.532787,1.0,0.0,24.930748
15812,150597,09 J. Moukoko,0.205128,Congo DR,0.393939,0.421053,NaN,NaN,0.50,0.00,...,0.077778,0.263736,0.414894,0.260870,0.260870,ST,0.409836,0.0,1.0,23.503556
15813,178453,07 A. Censori,0.051282,Italy,0.000000,0.000000,Arezzo,NaN,0.25,0.00,...,0.066667,0.000000,0.372340,0.054348,0.086957,ST,0.000000,0.0,1.0,22.024323

In [69]:
df_22_std = F_std_df.tail(df_22.shape[0])

In [70]:
wingers_df = F_std_df[(F_std_df["Best Position"] == "LW") | (F_std_df["Best Position"] == "RW")]
wingers_df  =  wingers_df.reset_index(drop = True)
wingers_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
0,190871,Neymar,0.230769,Brazil,0.969697,0.982456,FC Barcelona,106.00,1.00,1.00,...,0.088889,0.087912,0.148936,0.152174,0.108696,LW,0.983607,0.0,1.0,22.150882
1,193130,A. Schürrle,0.256410,Germany,0.803030,0.771930,Borussia Dortmund,19.00,0.75,0.50,...,0.066667,0.109890,0.117021,0.086957,0.119565,RW,0.795082,0.0,1.0,22.106529
2,209331,M. Salah,0.230769,Egypt,0.818182,0.824561,Roma,26.00,0.25,0.75,...,0.144444,0.142857,0.085106,0.108696,0.141304,RW,0.827869,1.0,0.0,23.479935
3,222492,L. Sané,0.128205,Germany,0.818182,0.929825,Manchester City,31.00,0.50,0.50,...,0.077778,0.120879,0.085106,0.086957,0.141304,LW,0.877049,1.0,0.0,22.784644
4,185020,José Callejón,0.358974,Spain,0.833333,0.789474,Napoli,22.50,0.25,0.50,...,0.077778,0.043956,0.138298,0.108696,0.108696,RW,0.819672,0.0,1.0,23.100839
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3930,248281,20 D. Borrero,0.051282,Colombia,0.424242,0.649123,Club Independiente Santa Fe,0.18,0.50,0.50,...,0.122222,0.087912,0.085106,0.043478,0.130435,RW,0.532787,0.0,1.0,21.847009
3931,263090,J. Eng,0.025641,Norway,0.378788,0.666667,Vålerenga Fotball,0.30,0.50,0.50,...,0.100000,0.098901,0.063830,0.097826,0.043478,RW,0.516393,0.0,1.0,24.074074
3932,264675,J. Dickman,0.128205,Sweden,0.363636,0.508772,FC Nordsjælland,0.19,0.50,0.25,...,0.144444,0.153846,0.117021,0.065217,0.054348,RW,0.434426,0.0,1.0,22.582709
3933,261677,R. O'Kane,0.051282,Republic of Ireland,0.348485,0.649123,Dundalk FC,0.18,0.25,0.25,...,0.111111,0.120879,0.138298,0.097826,0.054348,RW,0.491803,0.0,1.0,20.904195
3934,256458,K. Swaleh,0.076923,Norway,0.333333,0.561404,FK Bodø/Glimt,0.13,0.50,0.25,...,0.111111,0.142857,0.127660,0.054348,0.076087,RW,0.442623,0.0,1.0,20.761246

In [71]:
mids_df = F_std_df[(F_std_df["Best Position"] == "RM") | (F_std_df["Best Position"] == "CM") | (F_std_df["Best Position"] == "CDM") | (F_norm_df["Best Position"] == "LM")]
mids_df  =  mids_df.reset_index(drop = True)
mids_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
0,178518,R. Nainggolan,0.333333,Belgium,0.878788,0.842105,Roma,37.50,0.50,0.50,...,0.111111,0.109890,0.138298,0.076087,0.108696,CDM,0.868852,0.0,1.0,21.117175
1,181872,A. Vidal,0.358974,Chile,0.893939,0.859649,FC Bayern München,41.50,0.75,0.50,...,0.033333,0.010989,0.031915,0.010870,0.032609,CDM,0.885246,0.0,1.0,23.012574
2,177003,L. Modrić,0.384615,Croatia,0.924242,0.894737,Real Madrid,54.00,0.75,0.75,...,0.133333,0.087912,0.063830,0.141304,0.086957,CM,0.918033,0.0,1.0,21.117175
3,173210,C. Marchisio,0.384615,Italy,0.878788,0.842105,Juventus,35.00,0.75,0.75,...,0.033333,0.021978,0.031915,0.010870,0.032609,CM,0.868852,0.0,1.0,22.454694
4,139997,D. Srna,0.487179,Croatia,0.803030,0.754386,Shakhtar Donetsk,4.80,0.50,0.50,...,0.100000,0.098901,0.053191,0.054348,0.119565,CM,0.786885,0.0,1.0,22.813872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26907,4174,07 P. Sarr,0.333333,Senegal,0.560606,0.561404,Stade Brestois 29,NaN,0.50,0.00,...,0.088889,0.120879,0.712766,0.076087,0.108696,CDM,0.565574,0.0,1.0,23.456790
26908,246839,21 C. Bargary,0.102564,Republic of Ireland,0.348485,0.508772,Cork City,0.15,0.50,0.25,...,0.100000,0.054945,0.106383,0.054348,0.043478,RM,0.426230,0.0,1.0,21.777553
26909,235352,18 T. Käßemodel,0.333333,Germany,0.272727,0.140351,FC Erzgebirge Aue,0.03,0.50,0.25,...,0.100000,0.120879,0.053191,0.130435,0.054348,CM,0.213115,0.0,1.0,25.059307
26910,4373,07 S. Valakari,0.461538,Finland,0.575758,0.508772,FC Dallas,NaN,0.50,0.00,...,0.055556,0.021978,0.553191,0.054348,0.021739,CDM,0.549180,1.0,0.0,26.753864
26911,19334,10 I. Baraclough,0.589744,England,0.242424,0.473684,NaN,NaN,0.50,0.00,...,0.044444,0.208791,0.478723,0.206522,0.206522,CM,0.352459,1.0,0.0,23.666910

In [72]:
cam_df = F_std_df[(F_std_df["Best Position"] == "CAM")]
cam_df  =  cam_df.reset_index(drop = True)
cam_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
0,195864,P. Pogba,0.205128,France,0.909091,0.982456,Manchester United,71.50,0.75,1.00,...,0.044444,0.054945,0.010638,0.032609,0.021739,CAM,0.950820,0.0,1.0,23.123158
1,20289,Y. Touré,0.461538,Ivory Coast,0.848485,0.807018,Manchester City,18.00,0.75,0.50,...,0.133333,0.142857,0.053191,0.119565,0.076087,CAM,0.836066,0.0,1.0,25.421414
2,189509,Thiago,0.256410,Spain,0.878788,0.877193,FC Bayern München,46.00,0.50,1.00,...,0.055556,0.109890,0.063830,0.086957,0.130435,CAM,0.885246,0.0,1.0,22.741573
3,171877,M. Hamšik,0.333333,Slovakia,0.878788,0.842105,Napoli,37.50,0.75,0.50,...,0.077778,0.054945,0.031915,0.141304,0.141304,CAM,0.868852,0.0,1.0,23.598381
4,180206,M. Pjanić,0.282051,Bosnia Herzegovina,0.863636,0.842105,Juventus,37.50,0.75,0.75,...,0.066667,0.065934,0.127660,0.065217,0.076087,CAM,0.860656,0.0,1.0,21.478402
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12512,252881,21 H. Hopper,0.102564,England,0.333333,0.508772,Rochdale,0.12,0.25,0.25,...,0.077778,0.065934,0.042553,0.076087,0.097826,CAM,0.418033,0.0,1.0,21.877551
12513,243725,D. Collins,0.128205,Republic of Ireland,0.287879,0.315789,Sligo Rovers,0.10,0.50,0.25,...,0.055556,0.087912,0.042553,0.130435,0.076087,CAM,0.303279,0.0,1.0,22.460034
12514,259857,A. Majok,0.128205,South Sudan,0.333333,0.508772,Western United FC,0.12,0.25,0.25,...,0.077778,0.109890,0.095745,0.076087,0.097826,CAM,0.418033,0.0,1.0,21.132713
12515,261748,C. McLaughlin,0.102564,Republic of Ireland,0.348485,0.368421,Derry City,0.13,0.50,0.50,...,0.122222,0.087912,0.106383,0.141304,0.065217,CAM,0.360656,1.0,0.0,22.857143
12516,261818,R. Gallagher,0.128205,Republic of Ireland,0.287879,0.403509,Finn Harps,0.11,0.50,0.25,...,0.144444,0.098901,0.063830,0.130435,0.076087,CAM,0.344262,0.0,1.0,22.839506

In [73]:
centrebacks_df = F_std_df[(F_std_df["Best Position"] == "CB")]
centrebacks_df  = centrebacks_df.reset_index(drop = True)
centrebacks_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
0,185103,A. Kolarov,0.384615,Serbia,0.787879,0.736842,Manchester City,10.00,0.50,0.25,...,0.166667,0.153846,0.074468,0.163043,0.054348,CB,0.770492,1.0,0.0,23.495549
1,155862,Sergio Ramos,0.384615,Spain,0.924242,0.894737,Real Madrid,43.50,0.50,0.50,...,0.111111,0.076923,0.085106,0.065217,0.108696,CB,0.918033,0.0,1.0,22.377775
2,164240,Thiago Silva,0.410256,Brazil,0.924242,0.894737,Paris Saint-Germain,39.50,0.50,0.50,...,0.088889,0.120879,0.042553,0.086957,0.097826,CB,0.918033,0.0,1.0,23.598381
3,179944,David Luiz,0.358974,Brazil,0.848485,0.807018,Chelsea,22.00,0.50,0.50,...,0.111111,0.120879,0.095745,0.065217,0.141304,CB,0.836066,0.0,1.0,23.752331
4,205600,S. Umtiti,0.179487,France,0.833333,0.877193,FC Barcelona,27.00,0.50,0.25,...,0.155556,0.098901,0.138298,0.119565,0.152174,CB,0.860656,1.0,0.0,22.377775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20682,164945,07 Nuno Mendes,0.333333,Portugal,0.651515,0.561404,US Créteil-Lusitanos,NaN,0.50,0.00,...,0.111111,0.120879,0.265957,0.130435,0.130435,CB,0.614754,0.0,1.0,24.075474
20683,252561,Zhang Yu,0.076923,China PR,0.333333,0.543860,Hebei FC,0.11,0.25,0.25,...,0.044444,0.131868,0.117021,0.043478,0.152174,CB,0.434426,0.0,1.0,21.132713
20684,262041,P. Maguire,0.076923,Republic of Ireland,0.318182,0.508772,Sligo Rovers,0.11,0.50,0.25,...,0.133333,0.043956,0.148936,0.065217,0.054348,CB,0.409836,0.0,1.0,20.233553
20685,239427,21 A. Ajeti,0.205128,Switzerland,0.393939,0.403509,FC St. Gallen 1879,0.20,0.50,0.25,...,0.144444,0.131868,0.095745,0.086957,0.097826,CB,0.401639,1.0,0.0,23.702162
20686,220806,16 E. Redman,0.076923,Wales,0.242424,0.333333,Newport County,0.05,0.25,0.25,...,0.133333,0.065934,0.159574,0.086957,0.065217,CB,0.286885,0.0,1.0,23.924858

In [74]:
fullbacks_df = F_std_df[(F_std_df["Best Position"] == "LB") | (F_std_df["Best Position"] == "RB") | (F_std_df["Best Position"] == "LWB") | (F_std_df["Best Position"] == "RWB")]
fullbacks_df  = fullbacks_df.reset_index(drop = True)
fullbacks_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
0,197445,D. Alaba,0.230769,Austria,0.878788,0.894737,FC Bayern München,41.500,0.75,0.50,...,0.044444,0.065934,0.138298,0.152174,0.086957,LB,0.893443,1.0,0.0,23.430985
1,203551,A. Florenzi,0.256410,Italy,0.818182,0.824561,Roma,20.500,0.50,0.50,...,0.088889,0.076923,0.095745,0.108696,0.097826,RB,0.827869,0.0,1.0,22.503074
2,163631,L. Baines,0.410256,England,0.833333,0.789474,Everton,14.500,0.50,0.50,...,0.077778,0.153846,0.095745,0.130435,0.119565,LWB,0.819672,1.0,0.0,24.119543
3,189332,Jordi Alba,0.307692,Spain,0.878788,0.842105,FC Barcelona,31.500,0.50,0.50,...,0.133333,0.153846,0.127660,0.054348,0.130435,LWB,0.868852,1.0,0.0,23.493061
4,146530,Dani Alves,0.461538,Brazil,0.848485,0.807018,Juventus,12.500,0.50,0.50,...,0.044444,0.109890,0.085106,0.054348,0.065217,RWB,0.836066,0.0,1.0,22.807169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13591,248815,K. Berkoe,0.102564,England,0.378788,0.473684,Salford City,0.210,0.50,0.25,...,0.088889,0.065934,0.063830,0.076087,0.130435,LB,0.426230,1.0,0.0,20.515086
13592,261549,B. Ganesan,0.102564,India,0.303030,0.403509,Chennaiyin FC,0.110,0.50,0.25,...,0.144444,0.109890,0.127660,0.054348,0.054348,RB,0.352459,0.0,1.0,19.814053
13593,260767,Z. Bello,0.051282,Australia,0.333333,0.561404,Melbourne Victory,0.120,0.50,0.25,...,0.066667,0.087912,0.063830,0.076087,0.086957,RB,0.442623,0.0,1.0,21.857278
13594,252466,21 D. Bouah,0.076923,Italy,0.318182,0.508772,Roma,0.110,0.25,0.25,...,0.144444,0.043956,0.106383,0.130435,0.108696,RB,0.409836,0.0,1.0,23.620288
13595,260623,21 M. Wright,0.461538,England,0.287879,0.157895,Crawley Town,0.025,0.00,0.25,...,0.144444,0.087912,0.138298,0.076087,0.043478,LB,0.229508,1.0,0.0,25.564954

In [75]:
gk_df = F_std_df[(F_std_df["Best Position"] == "GK")]
gk_df  = gk_df.reset_index(drop = True)
gk_df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Weak Foot,Skill Moves,...,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Ovr_pot,Preferred Foot_Left,Preferred Foot_Right,Bmi
0,230167,Mateus Tangil,0.333333,Brazil,0.590909,0.508772,Atlético Mineiro,0.625,0.50,0.0,...,0.722222,0.736264,0.659574,0.684783,0.771739,GK,0.557377,0.0,1.0,24.009113
1,230318,Nelsildo Reis,0.333333,Brazil,0.727273,0.666667,Internacional,4.600,0.50,0.0,...,0.833333,0.835165,0.808511,0.815217,0.793478,GK,0.704918,0.0,1.0,24.248069
2,167495,M. Neuer,0.384615,Germany,0.969697,0.947368,FC Bayern München,69.500,0.75,0.0,...,0.977778,0.978022,1.000000,0.978261,0.956522,GK,0.967213,0.0,1.0,24.709662
3,230171,Carlos Travisso,0.435897,Brazil,0.530303,0.438596,Botafogo,0.250,0.50,0.0,...,0.744444,0.461538,0.670213,0.684783,0.771739,GK,0.491803,0.0,1.0,23.012574
4,230322,Teixe Gaúcho,0.333333,Brazil,0.439394,0.333333,Ponte Preta,0.100,0.25,0.0,...,0.766667,0.593407,0.563830,0.434783,0.663043,GK,0.393443,0.0,1.0,23.238767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10885,251433,B. Voll,0.128205,Germany,0.454545,0.543860,F.C. Hansa Rostock,0.375,0.25,0.0,...,0.644444,0.648352,0.585106,0.586957,0.652174,GK,0.500000,0.0,1.0,22.353715
10886,240558,18 L. Clayton,0.051282,England,0.378788,0.561404,Cheltenham Town,0.100,0.25,0.0,...,0.600000,0.582418,0.542553,0.532609,0.630435,GK,0.467213,0.0,1.0,22.634676
10887,262846,�. Dobre,0.128205,Romania,0.378788,0.438596,FC Academica Clinceni,0.180,0.25,0.0,...,0.622222,0.560440,0.553191,0.510870,0.619565,GK,0.409836,0.0,1.0,22.850462
10888,241317,21 Xue Qinghao,0.102564,China PR,0.287879,0.385965,Shanghai Shenhua FC,0.100,0.25,0.0,...,0.533333,0.516484,0.468085,0.402174,0.554348,GK,0.336066,0.0,1.0,21.913580
10889,259646,A. Shaikh,0.076923,India,0.287879,0.508772,ATK Mohun Bagan FC,0.110,0.50,0.0,...,0.533333,0.439560,0.404255,0.478261,0.521739,GK,0.393443,0.0,1.0,21.389756

In [76]:
import pickle

In [77]:
# striker_weights_per_club = get_pos_weights(striker_df,ST_essential_ft)
# with open('./rec_actual_data/striker_weights_per_club.pkl', 'wb') as f:
#     pickle.dump(striker_weights_per_club, f)

In [78]:
# wing_weights_per_club = get_pos_weights(wingers_df,Wing_essential_ft)
# with open('./rec_actual_data/wing_weights_per_club.pkl', 'wb') as f:
#     pickle.dump(wing_weights_per_club, f)

In [79]:
# mid_weights_per_club = get_pos_weights(mids_df,Mid_essential_ft)
# with open('./rec_actual_data/mid_weights_per_club.pkl', 'wb') as f:
#     pickle.dump(mid_weights_per_club, f)

In [80]:
# cam_weights_per_club = get_pos_weights(cam_df,Cam_essential_ft)
# with open('./rec_actual_data/cam_weights_per_club.pkl', 'wb') as f:
#     pickle.dump(cam_weights_per_club, f)

In [81]:
# def_weights_per_club = get_pos_weights(centrebacks_df,Def_essential_ft)
# with open('./rec_actual_data/def_weights_per_club.pkl', 'wb') as f:
#     pickle.dump(def_weights_per_club, f)

In [82]:
# fullback_weights_per_club = get_pos_weights(fullbacks_df,Fullback_essential_ft)
# with open('./rec_actual_data/fullback_weights_per_club.pkl', 'wb') as f:
#     pickle.dump(fullback_weights_per_club, f)

In [83]:
# gk_weights_per_club = get_pos_weights(gk_df,Gk_essential_ft)
# with open('./rec_actual_data/gk_weights_per_club.pkl', 'wb') as f:
#     pickle.dump(gk_weights_per_club, f)

In [84]:
with open('./rec_actual_data/striker_weights_per_club.pkl', 'rb') as f:
    striker_weights_per_club = pickle.load(f)
with open('./rec_actual_data/wing_weights_per_club.pkl', 'rb') as f:
    wing_weights_per_club = pickle.load(f)
with open('./rec_actual_data/mid_weights_per_club.pkl', 'rb') as f:
    mid_weights_per_club = pickle.load(f)
with open('./rec_actual_data/cam_weights_per_club.pkl', 'rb') as f:
    cam_weights_per_club = pickle.load(f)
with open('./rec_actual_data/def_weights_per_club.pkl', 'rb') as f:
    def_weights_per_club = pickle.load(f)
with open('./rec_actual_data/fullback_weights_per_club.pkl', 'rb') as f:
    fullback_weights_per_club = pickle.load(f)
with open('./rec_actual_data/gk_weights_per_club.pkl', 'rb') as f:
    gk_weights_per_club = pickle.load(f)

In [85]:
def_weights_per_club["Manchester City"]

[0.018194460400936793,
 0.0594368703809399,
 0.12955076619515993,
 0.0,
 0.017439970311683515,
 0.014098389492373327,
 0.014152447948403,
 0.34553191118853094,
 0.21356399259180298,
 0.1880311914901696]

# Common features weights

In [86]:
# common_club_philosophy = get_pos_weights(F_std_df,common_features)

In [87]:
# common_club_philosophy

# Current players in a club weighted rating

Get all current players of a club -  use df_22 as it is the most current season.
Then according to the player's overall rating give them weights and come up with a weighted average for the club.

In [88]:
def get_cur_pos_philosophy(cur_season_df, club , pos_list,pos_essential_ft):# pos list will be ["LW","RW"] for WING
    club_df = cur_season_df[cur_season_df["Club"]==club]
    pos_df=club_df[club_df['Best Position'].isin(pos_list)]
    essential_df = pos_df[pos_essential_ft]
    #print(essential_df)
    cur_players = np.array(essential_df)
    denom=0
    num = np.zeros(shape = (cur_players.shape[1]))
    
    for i in range(cur_players.shape[0]):
        # print(pos_df.iloc[i])
        overall_rating = pos_df.iloc[i]["Ovr_pot"]
        #np.apply_along_axis(my_func, 0, overall_rating)
        
        # print("Overall rating: ", overall_rating)
        
        if(overall_rating >= 85):
            w = 20
        elif (overall_rating >= 80):
            w = 16
        elif(overall_rating >= 75):
            w = 8
        elif(overall_rating >= 70):
            w = 2
        else:
            w = 1
        denom+=w
        num+=w * cur_players[i]
        # print(num)
    
        
        

    return num/denom

In [89]:
get_cur_pos_philosophy(F_std_df,"Manchester City", ["CB"],Def_essential_ft)

array([0.77608696, 0.72588706, 0.69046443, 0.69182991, 0.67481884,
       0.77058279, 0.77940503, 0.72859704, 0.83301481, 0.79610984])

# Position similarity of a new player

similarity is basically the weighted average of the difference in new_player's attributes and current club players' attributes.

In [90]:
from numpy import inf
from sklearn.preprocessing import normalize
def club_pos_sim(new_player,pos_essential_features,pos_weights_per_club, means, club_cur = None):
    new_player = np.array(new_player[pos_essential_features])
    new_player.shape = [new_player.shape[0],1]
    new_player = normalize(new_player, axis = 0)
    new_player.shape = [new_player.shape[0],]
    
    #print(new_player)
    
    # print(new_player.shape)
    # print(new_player)
    
    
    #club_cur  = get_cur_pos_philosophy(F_std_df,club,pos_list,pos_essential_features)
    club_cur.shape = [club_cur.shape[0],1]
    club_cur = normalize(club_cur, axis = 0)
    club_cur.shape = [club_cur.shape[0],]
    # print(club_cur)
    weighted_dot = np.sum(pos_weights_per_club * (new_player-means) * (club_cur-means))
    # diffs = np.reciprocal(np.square(np.array(new_player - club_cur)))
    # diffs[diffs == inf] = 10
    # #print(diffs)
    # pos_sim = diffs.dot(pos_weights_per_club[club])
    mag_1 = np.sqrt(np.dot(pos_weights_per_club, np.square(new_player - means)))
    mag_2 = np.sqrt(np.dot(pos_weights_per_club, np.square(club_cur - means)))
    pos_sim = weighted_dot/(mag_1 * mag_2)

    return pos_sim

In [91]:
# new_player = df_22_std[df_22_std["ID"]==234576]#suarez
# # pos_np = pos_df.to_numpy()
# # pos_np = normalize(pos_np)
# # means = np.mean(pos_np, axis = 0)
# pos_sim = club_pos_sim(new_player,"Manchester City", ["CB"],Def_essential_ft,def_weights_per_club)

In [92]:
# pos_sim

In [93]:
def club_pos_mag(new_player,pos_essential_features,pos_weights_per_club):

    new_player = np.array(new_player[pos_essential_features])

    #new_player.shape = [new_player.shape[1],1]
    mag_1 = np.sqrt(np.dot(pos_weights_per_club, np.square(new_player)))

    return mag_1

In [94]:
# new_player = df_22_std[df_22_std["ID"]==220806]#suarez
# pos_mag = club_pos_mag(new_player,"Manchester United",Def_essential_ft,def_weights_per_club)

In [95]:
# pos_mag

In [96]:
# ar_1 = np.array([1,2,3])
# ar_1.shape = [1,3]
# ar_2 = np.array([1,2,3])
# ar_1.shape = [1,3]
# ar_3 = np.array([1,2,3])
# ar_1.shape = [1,3]
# ar_1 * ar_2 * ar_3
# (ar_1).shape

In [97]:
# n_p = np.array(new_player[Def_essential_ft])
# n_p.shape = [13,]
# np.sqrt(np.sum(def_weights_per_club["FC Barcelona"] * np.square(n_p)))

In [98]:
# def get_cur_philosophy(cur_season_df,  club ,common_features):# pos list will be ["LW","RW"] for WING
#     club_df = cur_season_df[cur_season_df["Club"]==club]
#     #pos_df=club_df[club_df['Best Position'].isin(pos_list)]
#     essential_df = club_df[common_features]

#     cur_players = np.array(essential_df)
#     denom=0
#     num = np.zeros(shape = (cur_players.shape[1]))
#     for i in range(cur_players.shape[0]):
#         # print(pos_df.iloc[i])
#         overall_rating = club_df.iloc[i]["Ovr_pot"]
#         #np.apply_along_axis(my_func, 0, overall_rating)
        
#         # print("Overall rating: ", overall_rating)
        
#         if(overall_rating >= 85):
#             w = 20
#         elif (overall_rating >= 80):
#             w = 16
#         elif(overall_rating >= 75):
#             w = 8
#         elif(overall_rating >= 70):
#             w = 2
#         else:
#             w = 1
#         denom+=w
#         num+=w * cur_players[i]
#         # print(num)
    
        
        

#     return num/denom

In [99]:
# get_cur_philosophy(F_std_df, "Manchester City", common_features)

## Similarity with common features/ common club philosophy

In [100]:
# from numpy import inf
# #new_player = df_22[df_22["ID"]==176580]#suarez
# def club_common_sim(new_player,club,common_features, common_club_philosophy):
#     new_player = df_22[df_22["ID"] == new_player["ID"]]
#     new_player = np.array(new_player[common_features])
#     #new_player.shape = [new_player.shape[1],]
#     club_cur  = get_cur_philosophy(F_all_df,club,common_features)
#     #print(np.reciprocal((new_player - club_cur)))
#     diffs = np.reciprocal(np.absolute(np.array(new_player - club_cur)))
#     diffs[diffs == inf] = 1
#     #print(diffs)
#     club_sim = diffs
#     #club_sim/=sum(common_club_philosophy[club])
#     print(club_sim)
#     return (club_sim)

In [101]:
# common_club_philosophy["Manchester City"]

In [102]:
# new_player = df_22[df_22["ID"]==197061]

# club_sim = club_common_sim(new_player,"Manchester City",common_features, common_club_philosophy)
# club_sim

In [103]:
# df_22[df_22["ID"]==203574]

In [104]:
# get_cur_philosophy(F_all_df,"Manchester City",common_features)

# Recommendation based on similarity only

In [105]:
def get_player_recs(df,club,pos_list, pos_essential_features,pos_weights_per_club,lambda1 = 0.73,lambda2 = 0.37, age_min = 21, age_max = 29, val = 60):
    pos_df=df[df['Best Position'].isin(pos_list)]
    essential_df = pos_df[pos_essential_features]
    # common_club_df = pos_df[common_club_features]
    d={}
    player_list = []
    min_sim = inf
    max_sim = -inf
    min_mag = inf
    max_mag = -inf
    #sum_sim = 0
    #sum_mag = 0
    # min_club = inf
    # max_club = -inf
    pos_np = essential_df.to_numpy()
    pos_np = normalize(pos_np)
    means = np.mean(pos_np, axis = 0)
    club_cur  = get_cur_pos_philosophy(F_std_df,club,pos_list,pos_essential_features)
    for i in range(pos_df.shape[0]):
        new_player = pos_df.iloc[i]
        pos_sim = club_pos_sim(new_player,pos_essential_features,pos_weights_per_club[club], means, club_cur = club_cur)
        if(min_sim > pos_sim): min_sim = pos_sim
        if(max_sim < pos_sim): max_sim = pos_sim
        #sum_sim += pos_sim
        pos_mag = club_pos_mag(new_player,pos_essential_features,pos_weights_per_club[club])
        if(min_mag > pos_mag): min_mag = pos_mag
        if(max_mag < pos_mag): max_mag = pos_mag
        #sum_mag += pos_mag
        #print(pos_sim, pos_mag)
        #club_sim = club_common_sim(new_player,club,common_club_features, common_club_philosophy)
        #print(club_sim)
        # if(min_club > club_sim): min_club = club_sim
        # if(max_club < club_sim): max_club = club_sim
        #sim = lambda1*pos_sim + lambda2*pos_mag
        d[str(new_player["ID"])] = [pos_sim, pos_mag]
        player_list.append(new_player["ID"])
    # mean_sim = sum_sim/pos_df.shape[0]
    # mean_mag = sum_mag/pos_df.shape[0]
    # dev_sum_sim = 0
    # dev_sum_mag = 0
    d_final = {}
    # for id in player_list:
    #     dev_sum_sim += (d[str(id)][0]- mean_sim)**2
    #     dev_sum_mag += (d[str(id)][1]- mean_mag)**2
    # std_sim = math.sqrt(dev_sum_sim/(pos_df.shape[0]-1))
    # std_mag = math.sqrt(dev_sum_mag/(pos_df.shape[0]-1))
    # min_sim = mean_sim - std_sim
    # min_mag = mean_mag - std_mag
    #print(min_sim, min_mag)
    for id in player_list:
        d[str(id)] = [(d[str(id)][0] - min_sim)/(max_sim - min_sim), (d[str(id)][1] - min_mag)/(max_mag - min_mag)]
        d_final[str(id)] = lambda1*d[str(id)][0] + lambda2*d[str(id)][1]
        #print(id, d[str(id)][0], d[str(id)][1])
    player_list.sort(key = lambda x: d_final[str(x)],reverse = True)
    new_list = [[df[df["ID"] == j]["Name"],j, d[str(j)]] for j in player_list[:] if ((float(df_22[df_22["ID"] == j]["Age"]) >= age_min) and (float(df_22[df_22["ID"] == j]["Age"]) <= age_max) and (float(df[df["ID"] == j]["Value"]) <= val) and ((df[df["ID"] == j]["Club"].values[0] != club)))]
    return new_list

In [106]:
get_player_recs(df_22_std,"Manchester United",["CB"],Def_essential_ft,def_weights_per_club, age_min = 23, age_max = 27, val = 100)

[[94676    J. O'Connell
  Name: Name, dtype: object,
  212300,
  [0.9963346855375808, 0.732298102137154]],
 [89593    E. Álvarez
  Name: Name, dtype: object,
  235844,
  [0.9428996902756273, 0.7775594166559227]],
 [93661    Lucas Veríssimo
  Name: Name, dtype: object,
  235688,
  [0.9224039433778747, 0.7927007759471565]],
 [89999    K. Zouma
  Name: Name, dtype: object,
  204311,
  [0.893383459520244, 0.8129638454404429]],
 [89216    P. Kimpembe
  Name: Name, dtype: object,
  225850,
  [0.8449390461272022, 0.9013912681363256]],
 [89003    E. Dier
  Name: Name, dtype: object,
  202335,
  [0.8838388840383722, 0.816401309046566]],
 [94722    K. Hause
  Name: Name, dtype: object,
  210635,
  [0.9601953058734722, 0.6630365865280212]],
 [98781    D. Baumgartner
  Name: Name, dtype: object,
  229818,
  [1.0, 0.5640625350345524]],
 [97487    J. Komar
  Name: Name, dtype: object,
  222428,
  [0.9326845717410062, 0.6835006089547178]],
 [88494    L. Hernández
  Name: Name, dtype: object,
  220814,
  [0.8281856484961314, 0.8822565935427991]],
 [96727    Fábio Cardoso
  Name: Name, dtype: object,
  213917,
  [0.9116289014220642, 0.7055433111826274]],
 [91237    B. Godfrey
  Name: Name, dtype: object,
  225793,
  [0.9023251476983023, 0.7232879264088667]],
 [89628    P. Díaz
  Name: Name, dtype: object,
  214436,
  [0.8881109968947057, 0.7335694077618332]],
 [96340    N. Süle
  Name: Name, dtype: object,
  212190,
  [0.8235968394829065, 0.8541802774732047]],
 [88220    R. Bensebaini
  Name: Name, dtype: object,
  224196,
  [0.8549252914133619, 0.787605591032129]],
 [95256    Gabriel
  Name: Name, dtype: object,
  232580,
  [0.8465606985225731, 0.7980081775426966]],
 [92887    Diego Llorente
  Name: Name, dtype: object,
  212602,
  [0.8529138426941854, 0.7849271418335361]],
 [93735    P. Ciss
  Name: Name, dtype: object,
  250858,
  [0.9294379396988954, 0.6252266300874895]],
 [91707    Kelivelson
  Name: Name, dtype: object,
  230452,
  [0.8952802995463283, 0.6871899901557031]],
 [97222    Domingos Duarte
  Name: Name, dtype: object,
  234835,
  [0.8415250196176393, 0.7916064179182033]],
 [96325    Vincente Dourado
  Name: Name, dtype: object,
  230285,
  [0.8617869662239023, 0.7491908304169166]],
 [96323    J. Rasmussen
  Name: Name, dtype: object,
  234827,
  [0.8945759267892899, 0.6829791877367082]],
 [93501    D. Sánchez
  Name: Name, dtype: object,
  220793,
  [0.8298920239800802, 0.8090067863561838]],
 [94130    Marcão
  Name: Name, dtype: object,
  234426,
  [0.8651858550756496, 0.7340926328589993]],
 [94814    Luiz Felipe
  Name: Name, dtype: object,
  236355,
  [0.85027103238742, 0.7611410564261]],
 [90102    L. Tousart
  Name: Name, dtype: object,
  227234,
  [0.8525030980776133, 0.7449922068242019]],
 [88397    Éder Militão
  Name: Name, dtype: object,
  240130,
  [0.7969512172918451, 0.8437865023618571]],
 [95786    Edgar
  Name: Name, dtype: object,
  247500,
  [0.8722576530050238, 0.6910715899081105]],
 [99051    M. Robinson
  Name: Name, dtype: object,
  237255,
  [0.9335490812538784, 0.5597894285434243]],
 [100542    M. Erlić
  Name: Name, dtype: object,
  244456,
  [0.8998070458027906, 0.6232266322225896]],
 [90198    D. Amartey
  Name: Name, dtype: object,
  212883,
  [0.848141357580935, 0.7217400365159056]],
 [90421    M. Holgate
  Name: Name, dtype: object,
  225024,
  [0.8188786179990087, 0.7771110088619329]],
 [95733    D. Heintz
  Name: Name, dtype: object,
  206198,
  [0.8633941420306497, 0.6875159529231963]],
 [95126    A. Walkes
  Name: Name, dtype: object,
  232252,
  [0.9365660546631732, 0.5356621987735541]],
 [90721    18 Mauro
  Name: Name, dtype: object,
  203434,
  [0.8615472130101037, 0.6788307797368235]],
 [93473    J. Andersen
  Name: Name, dtype: object,
  224221,
  [0.8231913002807694, 0.7537393550242791]],
 [95109    Vallejo
  Name: Name, dtype: object,
  225161,
  [0.8288138739798806, 0.7390073557485426]],
 [92711    S. Gigot
  Name: Name, dtype: object,
  219581,
  [0.8187006322238021, 0.7546575519800632]],
 [91461    C. Söyüncü
  Name: Name, dtype: object,
  232119,
  [0.7795072205511304, 0.8316832098298995]],
 [98418    T. Phete
  Name: Name, dtype: object,
  231688,
  [0.8923780732917098, 0.6024287678505366]],
 [89694    D. Kohr
  Name: Name, dtype: object,
  212212,
  [0.8331457548577088, 0.715585876216813]],
 [99667    A. Miron
  Name: Name, dtype: object,
  248002,
  [0.9445985960407631, 0.4927540851340742]],
 [98402    Pablo Marí
  Name: Name, dtype: object,
  206654,
  [0.8180203130100205, 0.7365107149163532]],
 [94714    K. Rekik
  Name: Name, dtype: object,
  205193,
  [0.8262730552280072, 0.7171635981180206]],
 [100303    L. Abubakar
  Name: Name, dtype: object,
  237214,
  [0.9093208770646356, 0.5471882829051332]],
 [88495    Mario Hermoso
  Name: Name, dtype: object,
  229668,
  [0.7553077919175806, 0.8504062912882222]],
 [96951    Dani Calvo
  Name: Name, dtype: object,
  219180,
  [0.874364069268592, 0.6033303349741965]],
 [93233    Joaquín
  Name: Name, dtype: object,
  232132,
  [0.8130359707094648, 0.7223052426467557]],
 [99299    G. Maripán
  Name: Name, dtype: object,
  219145,
  [0.7992611301859731, 0.7475690535790442]],
 [88373    S. Umtiti
  Name: Name, dtype: object,
  205600,
  [0.7687828006999387, 0.7921070002648924]],
 [93553    M. Niakhaté
  Name: Name, dtype: object,
  225859,
  [0.8141608417748337, 0.7015961199758897]],
 [91213    O. Alderete
  Name: Name, dtype: object,
  240359,
  [0.8080817452246375, 0.7105204231231791]],
 [94910    R. Khedira
  Name: Name, dtype: object,
  211999,
  [0.7993111567687984, 0.7267859624235352]],
 [96182    21 V. Jovanović
  Name: Name, dtype: object,
  233219,
  [0.8285382952927448, 0.6667977123349982]],
 [89881    D. Martínez
  Name: Name, dtype: object,
  241569,
  [0.8045718203130975, 0.7126488287156946]],
 [96885    B. Gimber
  Name: Name, dtype: object,
  228883,
  [0.8836136639275198, 0.5558062013028126]],
 [101464    H. Araki
  Name: Name, dtype: object,
  247266,
  [0.8848340050531449, 0.5487934300139851]],
 [96279    Murilo
  Name: Name, dtype: object,
  240115,
  [0.8053627163773696, 0.7011842267769404]],
 [92524    K. N'Doram
  Name: Name, dtype: object,
  229011,
  [0.8443932350309653, 0.6231905844224731]],
 [95238    J. Knight
  Name: Name, dtype: object,
  237213,
  [0.8886111675846413, 0.5356293306905806]],
 [94832    F. Wadja
  Name: Name, dtype: object,
  240454,
  [0.8880718035036919, 0.5316946833008392]],
 [87860    W. Ndidi
  Name: Name, dtype: object,
  226790,
  [0.690323449333382, 0.9203355854910604]],
 [100736    21 P. Gouano
  Name: Name, dtype: object,
  204886,
  [0.8337878804949804, 0.6371300199742259]],
 [92358    Rúben Semedo
  Name: Name, dtype: object,
  216778,
  [0.7767475864931219, 0.7454688422021114]],
 [91701    C. Mbemba
  Name: Name, dtype: object,
  210897,
  [0.7579001023719201, 0.7769612558272474]],
 [95157    Z. Al Sahafi
  Name: Name, dtype: object,
  231821,
  [0.8959770574128387, 0.5036107033580431]],
 [92413    R. Yates
  Name: Name, dtype: object,
  235642,
  [0.8401487853946816, 0.6121317597572089]],
 [93404    N. Aguerd
  Name: Name, dtype: object,
  244749,
  [0.7859109145196501, 0.7161817658491686]],
 [99330    C. Salcedo
  Name: Name, dtype: object,
  212888,
  [0.8135966832362074, 0.6606353581032726]],
 [91964    F. Ricca
  Name: Name, dtype: object,
  232437,
  [0.8167865254423061, 0.6506438498047751]],
 [95227    21 Y. Vorogovskiy
  Name: Name, dtype: object,
  251266,
  [0.8630962528617298, 0.5498094873299009]],
 [94491    L. Takács
  Name: Name, dtype: object,
  253695,
  [0.8173851768730689, 0.6361050414184323]],
 [101366    J. Cascante
  Name: Name, dtype: object,
  242533,
  [0.851985990536594, 0.5586110330793346]],
 [97542    M. Brizuela
  Name: Name, dtype: object,
  252168,
  [0.8158707657612261, 0.6284543890007451]],
 [94956    21 U. Spajić
  Name: Name, dtype: object,
  215892,
  [0.7848922863033434, 0.6893109740058135]],
 [97885    21 V. Lystsov
  Name: Name, dtype: object,
  212341,
  [0.8873634338151904, 0.48668187581913946]],
 [89591    P. McNair
  Name: Name, dtype: object,
  213697,
  [0.8087736190784246, 0.6407694060549699]],
 [96868    Ferro
  Name: Name, dtype: object,
  242236,
  [0.7445945825692166, 0.7672499333728127]],
 [88253    D. Zakaria
  Name: Name, dtype: object,
  229261,
  [0.7195708168949692, 0.8157038140130344]],
 [90131    D. Luckassen
  Name: Name, dtype: object,
  224242,
  [0.8307656366283122, 0.5943405967860359]],
 [94888    A. Briançon
  Name: Name, dtype: object,
  223138,
  [0.7925907307875762, 0.6676148840806141]],
 [100680    F. Sierralta
  Name: Name, dtype: object,
  228681,
  [0.8235862839922937, 0.605365913962372]],
 [99864    H. Martínez
  Name: Name, dtype: object,
  235665,
  [0.8913526521041913, 0.47017085212826804]],
 [92281    J. Gomez
  Name: Name, dtype: object,
  225100,
  [0.7076125440829759, 0.8236723218454948]],
 [89974    Yeray
  Name: Name, dtype: object,
  227950,
  [0.6994100106836549, 0.8379086483754202]],
 [94625    21 Bruno Viana
  Name: Name, dtype: object,
  234226,
  [0.746462719081861, 0.7448823020916547]],
 [95056    N. Milenković
  Name: Name, dtype: object,
  238095,
  [0.760107968238612, 0.7176384478095229]],
 [91494    A. Barboza
  Name: Name, dtype: object,
  229749,
  [0.7507857426287069, 0.7344032652254256]],
 [100283    E. Godoy
  Name: Name, dtype: object,
  215178,
  [0.8392867363607674, 0.5503538568931661]],
 [95894    B. Blasi
  Name: Name, dtype: object,
  231538,
  [0.8163176634924741, 0.5948519587357516]],
 [88259    Palhinha
  Name: Name, dtype: object,
  229391,
  [0.663874952721629, 0.8916361125855765]],
 [88841    A. Laporte
  Name: Name, dtype: object,
  212218,
  [0.6537663347199998, 0.9101552844944683]],
 [92613    I. Šunjić
  Name: Name, dtype: object,
  244271,
  [0.7761429850292352, 0.6682399560798717]],
 [93617    A. Romagnoli
  Name: Name, dtype: object,
  210413,
  [0.6782581218249543, 0.8601041419613713]],
 [92692    He Chao
  Name: Name, dtype: object,
  224470,
  [0.8371743323905543, 0.5454986401832927]],
 [95305    Nathan
  Name: Name, dtype: object,
  225529,
  [0.8165771337129033, 0.5786146967209667]],
 [94558    David García
  Name: Name, dtype: object,
  225341,
  [0.7189765137471525, 0.7646555770874703]],
 [95111    21 A. Nkaka
  Name: Name, dtype: object,
  229040,
  [0.8469504252121088, 0.5093208957812848]],
 [92497    P. Hatzidiakos
  Name: Name, dtype: object,
  229150,
  [0.788197692692516, 0.62503801992207]],
 [96937    David Goldar
  Name: Name, dtype: object,
  222407,
  [0.824087136364031, 0.5487503093851059]],
 [94875    A. Erlingmark
  Name: Name, dtype: object,
  238270,
  [0.8146760012511777, 0.5651108303671225]],
 [93333    J. Elez
  Name: Name, dtype: object,
  218341,
  [0.8320267783202292, 0.5303501955735936]],
 [96839    Sori Mané
  Name: Name, dtype: object,
  251504,
  [0.799801274022741, 0.5898463259336403]],
 [89095    J. Stones
  Name: Name, dtype: object,
  203574,
  [0.6582238614238155, 0.8610485411398431]],
 [93316    M. Udol
  Name: Name, dtype: object,
  229236,
  [0.7797761542903461, 0.6201595143915177]],
 [93090    W. Hoedt
  Name: Name, dtype: object,
  216774,
  [0.7364707668841219, 0.7054571411350491]],
 [94510    A. Frías
  Name: Name, dtype: object,
  251886,
  [0.7409450700333989, 0.6966085621445378]],
 [93369    J. Robinson
  Name: Name, dtype: object,
  199027,
  [0.7711898766383899, 0.6362626301737774]],
 [100019    M. Andersen
  Name: Name, dtype: object,
  228419,
  [0.7549021081695296, 0.6678098637601607]],
 [89354    L. Romo
  Name: Name, dtype: object,
  243015,
  [0.7292715982461311, 0.7177957830627809]],
 [88013    Marquinhos
  Name: Name, dtype: object,
  207865,
  [0.6144522279831313, 0.9438673627577375]],
 [94155    M. Loum
  Name: Name, dtype: object,
  245021,
  [0.7478742174102389, 0.6777902702752543]],
 [94106    Aritz Elustondo
  Name: Name, dtype: object,
  226221,
  [0.6974474082040889, 0.7766778556014069]],
 [95441    E. Lomotey
  Name: Name, dtype: object,
  243995,
  [0.8149104222960493, 0.5432077474091618]],
 [99250    A. Disasi
  Name: Name, dtype: object,
  229942,
  [0.726231446917218, 0.7177650264617892]],
 [96243    M. Kilman
  Name: Name, dtype: object,
  245336,
  [0.7892272691598627, 0.5933830326800804]],
 [93146    P. Dawidowicz
  Name: Name, dtype: object,
  213404,
  [0.7350647284249593, 0.6961929616581759]],
 [101467    Pedrão
  Name: Name, dtype: object,
  258356,
  [0.8080322658124507, 0.5521209200420417]],
 [89666    C. Paterson
  Name: Name, dtype: object,
  210724,
  [0.7761472935218355, 0.6114537247594922]],
 [90125    S. Vegas
  Name: Name, dtype: object,
  219087,
  [0.7353693408995907, 0.6836242547793474]],
 [96538    S. O'Neill
  Name: Name, dtype: object,
  211581,
  [0.8436302444469372, 0.4660772862079771]],
 [96217    A. Mumin
  Name: Name, dtype: object,
  235662,
  [0.8025282139600324, 0.5466428118012419]],
 [90273    Gregore
  Name: Name, dtype: object,
  251410,
  [0.7331015558529816, 0.6758028064242356]],
 [97616    A. Pérez
  Name: Name, dtype: object,
  221312,
  [0.7710203792418331, 0.5996363783847423]],
 [95284    J. Nikolaou
  Name: Name, dtype: object,
  238619,
  [0.7904161564779608, 0.560684533930711]],
 [93822    M. Friedl
  Name: Name, dtype: object,
  237595,
  [0.7396366032523476, 0.6571301791781233]],
 [99108    Javi Sánchez
  Name: Name, dtype: object,
  245238,
  [0.7634707030892441, 0.6088414569559712]],
 [88614    N. Mukiele
  Name: Name, dtype: object,
  226166,
  [0.6564925500401286, 0.8190754262625618]],
 [95268    Glauder
  Name: Name, dtype: object,
  239608,
  [0.7764211529503001, 0.5798061231457182]],
 [99761    N. Phillips
  Name: Name, dtype: object,
  240926,
  [0.7323063649692467, 0.6641091603271037]],
 [91024    A. Djiku
  Name: Name, dtype: object,
  212219,
  [0.7113354258592102, 0.7047569658415668]],
 [96310    A. Dźwigała
  Name: Name, dtype: object,
  211362,
  [0.8045093149477527, 0.5199866135152179]],
 [92212    D. Hovorka
  Name: Name, dtype: object,
  240033,
  [0.7092916712185199, 0.7066418204349912]],
 [98794    Lyanco
  Name: Name, dtype: object,
  230672,
  [0.739237747098351, 0.6467014474136479]],
 [98379    A. Groiß
  Name: Name, dtype: object,
  245719,
  [0.8058384277105985, 0.5126932257548471]],
 [94333    L. Abram
  Name: Name, dtype: object,
  234178,
  [0.7065210947001599, 0.7038713393391893]],
 [98133    Relu
  Name: Name, dtype: object,
  248070,
  [0.8357959892634772, 0.44491904102120094]],
 [98817    A. Al Amri
  Name: Name, dtype: object,
  241197,
  [0.7357481411464643, 0.6418677727909556]],
 [96454    A. Esiti
  Name: Name, dtype: object,
  220921,
  [0.7253450115282059, 0.6612470489907295]],
 [91945    R. Bauer
  Name: Name, dtype: object,
  223765,
  [0.7343323474444973, 0.6428470094362829]],
 [99733    T. Iwanami
  Name: Name, dtype: object,
  232894,
  [0.7870874109807381, 0.5359726811009866]],
 [93690    D. Cavaré
  Name: Name, dtype: object,
  219803,
  [0.8043091915246336, 0.501606009631656]],
 [92695    J. Giménez
  Name: Name, dtype: object,
  216460,
  [0.6103142876687264, 0.8822155167022308]],
 [92459    A. Öztürk
  Name: Name, dtype: object,
  202889,
  [0.7381039851735809, 0.6293311213916164]],
 [96884    N. Casale
  Name: Name, dtype: object,
  239770,
  [0.8109735001206853, 0.4847082785291548]],
 [94304    J. Rodríguez
  Name: Name, dtype: object,
  244950,
  [0.7143187827081982, 0.6730062990035149]],
 [97445    D. Iorfa
  Name: Name, dtype: object,
  218658,
  [0.7433541570010477, 0.614200613392539]],
 [91543    E. Konsa
  Name: Name, dtype: object,
  227678,
  [0.6740532989403005, 0.7494123937918196]],
 [94630    S. Memišević
  Name: Name, dtype: object,
  235544,
  [0.7223852372376045, 0.6526402614682975]],
 [100615    Iván Márquez
  Name: Name, dtype: object,
  220385,
  [0.8104626805481153, 0.47736607481772003]],
 [96667    B. Kwiecień
  Name: Name, dtype: object,
  212736,
  [0.7869523089448158, 0.5186571153224073]],
 [100470    18 R. Brown
  Name: Name, dtype: object,
  203059,
  [0.8571414690502667, 0.3786990690810179]],
 [96014    M. Adams
  Name: Name, dtype: object,
  242708,
  [0.7731369248870007, 0.5442682177003921]],
 [96706    Jorge Meré
  Name: Name, dtype: object,
  223033,
  [0.7259316655642559, 0.6366099888885727]],
 [91899    H. Choudhury
  Name: Name, dtype: object,
  228332,
  [0.6812179821426444, 0.7221171309835535]],
 [96584    W. Zahibo
  Name: Name, dtype: object,
  206207,
  [0.7821953803092749, 0.5221786382139588]],
 [96922    L. Fröde
  Name: Name, dtype: object,
  227932,
  [0.7578764901309066, 0.5701343721834146]],
 [89061    M. Ginter
  Name: Name, dtype: object,
  207862,
  [0.6211707839261263, 0.8395483358884588]],
 [97721    21 M. Barać
  Name: Name, dtype: object,
  244648,
  [0.7601803733777988, 0.5648559829427882]],
 [88925    K. Ayhan
  Name: Name, dtype: object,
  207790,
  [0.6764583038206299, 0.725551467565143]],
 [91439    C. Romero
  Name: Name, dtype: object,
  232488,
  [0.6100823530020103, 0.8548134066252028]],
 [98100    Willyan
  Name: Name, dtype: object,
  251901,
  [0.7306201980980149, 0.6165243073971703]],
 [91923    A. Matusiwa
  Name: Name, dtype: object,
  239356,
  [0.6881133313980335, 0.6988589300042866]],
 [94397    D. Ćaleta-Car
  Name: Name, dtype: object,
  225263,
  [0.6486421103322084, 0.775772096072569]],
 [93245    20 U. Agbo
  Name: Name, dtype: object,
  226289,
  [0.7377354137091787, 0.5999385173218634]],
 [101768    A. Jackson
  Name: Name, dtype: object,
  204219,
  [0.8051731975620307, 0.4654940540753905]],
 [97771    P. Cissé
  Name: Name, dtype: object,
  228386,
  [0.6819603979256312, 0.7083778433168233]],
 [92396    A. Tuanzebe
  Name: Name, dtype: object,
  231485,
  [0.6878619495191614, 0.6923593974144892]],
 [97688    L. Jäger
  Name: Name, dtype: object,
  223427,
  [0.7779125700982699, 0.513518827563236]],
 [98076    L. Mühl
  Name: Name, dtype: object,
  233960,
  [0.7516421349430351, 0.5593135362334671]],
 [89236    Núrio Fortuna
  Name: Name, dtype: object,
  221994,
  [0.7255204780133813, 0.6098154516557884]],
 [89504    D. Bronn
  Name: Name, dtype: object,
  235565,
  [0.682527665942575, 0.6943128325189489]],
 [91838    M. Wöber
  Name: Name, dtype: object,
  231838,
  [0.6888528603824468, 0.6813937636045831]],
 [99004    L. Samson
  Name: Name, dtype: object,
  234282,
  [0.7649293071369216, 0.5302470480460478]],
 [91066    Fali
  Name: Name, dtype: object,
  229628,
  [0.6709086286000038, 0.7127791005981983]],
 [90872    A. Artean
  Name: Name, dtype: object,
  248111,
  [0.7538871323946303, 0.5459809717113355]],
 [98558    G. Magnani
  Name: Name, dtype: object,
  242392,
  [0.701321546840712, 0.646944794680048]],
 [95490    R. Krauße
  Name: Name, dtype: object,
  232406,
  [0.7231562944779122, 0.6017579004791521]],
 [90931    L. Donnelly
  Name: Name, dtype: object,
  215820,
  [0.7736324922297915, 0.5005699042123634]],
 [94238    Y. Mina
  Name: Name, dtype: object,
  220523,
  [0.624225237780093, 0.7927262755408742]],
 [100777    Philipe Sampaio
  Name: Name, dtype: object,
  224376,
  [0.7219823806096478, 0.5995849148993548]],
 [96830    T. Lockyer
  Name: Name, dtype: object,
  211363,
  [0.7305857937874896, 0.5809775098613825]],
 [98161    C. Awaziem
  Name: Name, dtype: object,
  232693,
  [0.6948016513369685, 0.650443821281987]],
 [96683    Catena
  Name: Name, dtype: object,
  243976,
  [0.6943525627822278, 0.6505027346414585]],
 [90775    J. Foyth
  Name: Name, dtype: object,
  237221,
  [0.6793794038027245, 0.6799772477206979]],
 [99369    Unai Núñez
  Name: Name, dtype: object,
  240900,
  [0.6245688018423468, 0.7877985846778479]],
 [89760    21 B. Addae
  Name: Name, dtype: object,
  210429,
  [0.7447163412905417, 0.5478416804645062]],
 [99322    J. Bednarek
  Name: Name, dtype: object,
  220570,
  [0.6529422649143433, 0.7287007620711174]],
 [89985    K. Amian
  Name: Name, dtype: object,
  231235,
  [0.6967428423553524, 0.641002143282187]],
 [97826    G. Rea
  Name: Name, dtype: object,
  215570,

In [107]:
get_player_recs(df_22_std,"Manchester City",["CB"],Def_essential_ft,def_weights_per_club, age_min = 23, age_max = 27, val = 100)

[[88013    Marquinhos
  Name: Name, dtype: object,
  207865,
  [0.9734699820138333, 0.976600062995886]],
 [88259    Palhinha
  Name: Name, dtype: object,
  229391,
  [0.9654394778982303, 0.9046118089021155]],
 [90045    J. Denayer
  Name: Name, dtype: object,
  220182,
  [0.9971653140353496, 0.8319741716026692]],
 [94397    D. Ćaleta-Car
  Name: Name, dtype: object,
  225263,
  [0.9808549154073354, 0.8333434129285952]],
 [88253    D. Zakaria
  Name: Name, dtype: object,
  229261,
  [0.9678491367792008, 0.8550226468446873]],
 [90188    C. Lenglet
  Name: Name, dtype: object,
  220440,
  [0.9703944645479388, 0.8484182732777651]],
 [93319    M. Senesi
  Name: Name, dtype: object,
  236506,
  [0.9868618677811424, 0.8115139612316551]],
 [90028    A. Diallo
  Name: Name, dtype: object,
  225711,
  [0.9697512594697697, 0.8386307754003489]],
 [88495    Mario Hermoso
  Name: Name, dtype: object,
  229668,
  [0.955976730766929, 0.8583876377351214]],
 [89216    P. Kimpembe
  Name: Name, dtype: object,
  225850,
  [0.9417003249470859, 0.8816258117763727]],
 [94661    A. Christensen
  Name: Name, dtype: object,
  213661,
  [0.9643681547107279, 0.8284815031758858]],
 [98232    T. Adarabioyo
  Name: Name, dtype: object,
  222104,
  [0.995397929496204, 0.7553259614323627]],
 [94651    R. Koch
  Name: Name, dtype: object,
  236532,
  [0.9850972811197318, 0.767371659707047]],
 [91543    E. Konsa
  Name: Name, dtype: object,
  227678,
  [0.9635191433607223, 0.788084703516782]],
 [88377    I. Sangaré
  Name: Name, dtype: object,
  235173,
  [0.9760705716526645, 0.7598792333382401]],
 [92396    A. Tuanzebe
  Name: Name, dtype: object,
  231485,
  [0.9785323036399647, 0.7546549308498248]],
 [88999    L. Martínez Quarta
  Name: Name, dtype: object,
  228708,
  [0.9555188674735966, 0.7935126504223631]],
 [89974    Yeray
  Name: Name, dtype: object,
  227950,
  [0.9374450875499234, 0.8269490826120245]],
 [97013    B. Engels
  Name: Name, dtype: object,
  210828,
  [0.9717261419973265, 0.7508250157695612]],
 [94531    B. Davies
  Name: Name, dtype: object,
  213017,
  [0.9968686765221767, 0.6990848220431313]],
 [94238    Y. Mina
  Name: Name, dtype: object,
  220523,
  [0.9454383540799794, 0.7934126378607188]],
 [96784    A. Webster
  Name: Name, dtype: object,
  207616,
  [0.9697591744995449, 0.7449823558234612]],
 [90738    Calero
  Name: Name, dtype: object,
  240289,
  [0.9631821617633938, 0.7540261575412572]],
 [96672    B. White
  Name: Name, dtype: object,
  231936,
  [0.958760542543809, 0.7626639540109549]],
 [96609    C. Mepham
  Name: Name, dtype: object,
  233201,
  [0.9992234499204927, 0.6702641095606563]],
 [88965    Kaimo Lima
  Name: Name, dtype: object,
  230381,
  [0.9526010603258745, 0.7582370172712508]],
 [94578    21 B. Kuscevic
  Name: Name, dtype: object,
  225236,
  [0.9890043511838285, 0.6759204483497988]],
 [92566    C. Montes
  Name: Name, dtype: object,
  229980,
  [0.9535130916592268, 0.7438923465265382]],
 [89065    D. Hancko
  Name: Name, dtype: object,
  247103,
  [0.9538044391730052, 0.7394813791945273]],
 [88925    K. Ayhan
  Name: Name, dtype: object,
  207790,
  [0.9448072688343961, 0.7489305013666162]],
 [96868    Ferro
  Name: Name, dtype: object,
  242236,
  [0.9376988532442885, 0.7617990540424802]],
 [87860    W. Ndidi
  Name: Name, dtype: object,
  226790,
  [0.8663687187746564, 0.9011764962492315]],
 [95256    Gabriel
  Name: Name, dtype: object,
  232580,
  [0.9218196611966643, 0.7885177077551064]],
 [89881    D. Martínez
  Name: Name, dtype: object,
  241569,
  [0.9431225479842446, 0.7322752725726464]],
 [98475    A. Ismajli
  Name: Name, dtype: object,
  258782,
  [0.9744925640470292, 0.6701020907674745]],
 [98825    C. Starfelt
  Name: Name, dtype: object,
  220821,
  [0.9872622040166706, 0.6416773442565809]],
 [95109    Vallejo
  Name: Name, dtype: object,
  225161,
  [0.9318854992820785, 0.7507294849661114]],
 [94601    P. Sandler
  Name: Name, dtype: object,
  234679,
  [0.9550347904659511, 0.702039578954722]],
 [96803    J. Lucumí
  Name: Name, dtype: object,
  231207,
  [0.9429312005161018, 0.7256423614836623]],
 [94510    A. Frías
  Name: Name, dtype: object,
  251886,
  [0.942983986489323, 0.7241311501190522]],
 [91024    A. Djiku
  Name: Name, dtype: object,
  212219,
  [0.9374207665233294, 0.7326455910898706]],
 [96279    Murilo
  Name: Name, dtype: object,
  240115,
  [0.948202432520958, 0.7070333695802414]],
 [96881    21 A. Wisdom
  Name: Name, dtype: object,
  201908,
  [0.9741622395161046, 0.6555144968990924]],
 [89398    M. Akanji
  Name: Name, dtype: object,
  229237,
  [0.9013162988140487, 0.7960285942619962]],
 [91942    P. Wiesinger
  Name: Name, dtype: object,
  239090,
  [0.9574392686143247, 0.6835532906673492]],
 [90421    M. Holgate
  Name: Name, dtype: object,
  225024,
  [0.9019737339092014, 0.7923378536601889]],
 [101615    J. Elliott
  Name: Name, dtype: object,
  238008,
  [0.9582405314366079, 0.6785789013246785]],
 [95588    J. Gorenc Stanković
  Name: Name, dtype: object,
  226129,
  [0.9349994823986318, 0.7242104309807874]],
 [89937    F. Guilbert
  Name: Name, dtype: object,
  227222,
  [0.9337630968131524, 0.7213909948947942]],
 [96426    J. Souttar
  Name: Name, dtype: object,
  212516,
  [0.9708015225207389, 0.6453981059277746]],
 [90125    S. Vegas
  Name: Name, dtype: object,
  219087,
  [0.942719597280832, 0.7005056799613465]],
 [89504    D. Bronn
  Name: Name, dtype: object,
  235565,
  [0.9230659431990338, 0.7360508229305961]],
 [98135    H. Wahl
  Name: Name, dtype: object,
  230855,
  [0.9399018029154642, 0.700601891490564]],
 [88373    S. Umtiti
  Name: Name, dtype: object,
  205600,
  [0.8930084008426262, 0.7922825167012749]],
 [96519    M. Mitrović
  Name: Name, dtype: object,
  237209,
  [0.9414954760213932, 0.6926931149773207]],
 [93617    A. Romagnoli
  Name: Name, dtype: object,
  210413,
  [0.8696787987667713, 0.8342205811730804]],
 [98462    Vítor Tormena
  Name: Name, dtype: object,
  246098,
  [0.9232934757480411, 0.7283490595771375]],
 [96846    J. Gnagnon
  Name: Name, dtype: object,
  231361,
  [0.9335088823135557, 0.7072520072779265]],
 [93940    Tomás Podstawski
  Name: Name, dtype: object,
  216449,
  [0.9685016857229021, 0.6365199689146769]],
 [96599    A. Çalık
  Name: Name, dtype: object,
  223046,
  [0.9717445270128486, 0.6295629058846955]],
 [96305    D. Doekhi
  Name: Name, dtype: object,
  232658,
  [0.9545829077237098, 0.6622452433330958]],
 [90365    G. Silva
  Name: Name, dtype: object,
  220702,
  [0.9501522552623358, 0.6685279575820288]],
 [95056    N. Milenković
  Name: Name, dtype: object,
  238095,
  [0.9206352486861192, 0.7247972455146972]],
 [98053    W. Faes
  Name: Name, dtype: object,
  235036,
  [0.9298555409862833, 0.7043405789449841]],
 [98185    M. Veljković
  Name: Name, dtype: object,
  221354,
  [0.9290534845776934, 0.7047659975978036]],
 [96681    21 F. Dagerstål
  Name: Name, dtype: object,
  224838,
  [0.9659241303981894, 0.6299696111042448]],
 [98521    21 G. Conti
  Name: Name, dtype: object,
  221219,
  [0.9392812037025539, 0.6814417216885369]],
 [99847    Rodrigo Becão
  Name: Name, dtype: object,
  238621,
  [0.9280791346548853, 0.7015239669082111]],
 [97384    M. Rose
  Name: Name, dtype: object,
  212487,
  [0.9668215379675997, 0.6220304717954921]],
 [91480    Edgar Ié
  Name: Name, dtype: object,
  210520,
  [0.931180553013661, 0.692079044434458]],
 [94304    J. Rodríguez
  Name: Name, dtype: object,
  244950,
  [0.9184282192438507, 0.7171959064410345]],
 [100125    J. Dunne
  Name: Name, dtype: object,
  235156,
  [0.9578233762189563, 0.6385057741955494]],
 [93092    W. Anton
  Name: Name, dtype: object,
  229476,
  [0.9204514641773637, 0.7104519351180981]],
 [101850    P. Bochniewicz
  Name: Name, dtype: object,
  220230,
  [0.9475836338262005, 0.6562625939417314]],
 [95367    D. Granli
  Name: Name, dtype: object,
  222472,
  [0.9853400865117707, 0.5796364094933673]],
 [94177    V. Vevatne
  Name: Name, dtype: object,
  214650,
  [0.9770303163136657, 0.5947911526872061]],
 [93256    T. Kongolo
  Name: Name, dtype: object,
  203485,
  [0.9362377987646135, 0.6748380626432895]],
 [97840    F. Kunze
  Name: Name, dtype: object,
  251429,
  [0.9430211164828803, 0.6595094029081799]],
 [99250    A. Disasi
  Name: Name, dtype: object,
  229942,
  [0.9066677009619452, 0.7240752108773068]],
 [91919    B. Rovira
  Name: Name, dtype: object,
  225812,
  [0.941919659974179, 0.654287903938989]],
 [96928    F. Benković
  Name: Name, dtype: object,
  244269,
  [0.9282525620434585, 0.6809078577259857]],
 [95992    Pleguezuelo
  Name: Name, dtype: object,
  222576,
  [0.9487515159937472, 0.6386417725725761]],
 [96340    N. Süle
  Name: Name, dtype: object,
  212190,
  [0.8497234105954705, 0.8302061989627203]],
 [93147    M. Matvienko
  Name: Name, dtype: object,
  229528,
  [0.9063139421000718, 0.7172404724132416]],
 [95733    D. Heintz
  Name: Name, dtype: object,
  206198,
  [0.9142532214834416, 0.7000438104807334]],
 [99920    P. Ceccaroni
  Name: Name, dtype: object,
  219956,
  [0.9764446063797002, 0.5769814174609863]],
 [97459    L. Krajnc
  Name: Name, dtype: object,
  205556,
  [0.9636341845420369, 0.6014531485972376]],
 [92005    K. Ajer
  Name: Name, dtype: object,
  224258,
  [0.8932553698777558, 0.7401023902100798]],
 [95900    J. Duverne
  Name: Name, dtype: object,
  229705,
  [0.9286565384251212, 0.6665398191263768]],
 [96203    K. Adams Nuhu
  Name: Name, dtype: object,
  225673,
  [0.9301327112638759, 0.6608900335113944]],
 [94782    I. Drešević
  Name: Name, dtype: object,
  235519,
  [0.941154286283785, 0.6312713220485016]],
 [93205    Javi Hernández
  Name: Name, dtype: object,
  244523,
  [0.9403359081165771, 0.6285762987340078]],
 [99827    A. Mawson
  Name: Name, dtype: object,
  208534,
  [0.9237733770803046, 0.6551193073970009]],
 [95977    Kim Min Jae
  Name: Name, dtype: object,
  237086,
  [0.908116194883286, 0.6834343094974065]],
 [94714    K. Rekik
  Name: Name, dtype: object,
  205193,
  [0.8845788053178096, 0.7285408352904316]],
 [99548    S. Knežević
  Name: Name, dtype: object,
  234817,
  [0.9525563543242631, 0.5941203986529963]],
 [90313    L. Fomba
  Name: Name, dtype: object,
  236721,
  [0.9179617574433601, 0.6614946799286847]],
 [98552    A. Hack
  Name: Name, dtype: object,
  231111,
  [0.9152659091293861, 0.6636899606908758]],
 [94113    M. Heyer
  Name: Name, dtype: object,
  238593,
  [0.9209084291009169, 0.6521611638071197]],
 [99704    E. Segura
  Name: Name, dtype: object,
  237245,
  [0.9266550510658706, 0.6402645087679842]],
 [94635    M. Lemos
  Name: Name, dtype: object,
  229270,
  [0.9307663132655808, 0.6321030453681996]],
 [96897    Lluís López
  Name: Name, dtype: object,
  234032,
  [0.9273012776093632, 0.638319022364758]],
 [91707    Kelivelson
  Name: Name, dtype: object,
  230452,
  [0.8942169859584979, 0.7016756975953529]],
 [98361    Óscar Gil
  Name: Name, dtype: object,
  216461,
  [0.9634075743405406, 0.5631727534545589]],
 [96576    I. Nedelcearu
  Name: Name, dtype: object,
  242614,
  [0.904148208645062, 0.6687957508999075]],
 [89236    Núrio Fortuna
  Name: Name, dtype: object,
  221994,
  [0.9144710900355149, 0.6466058288295229]],
 [92366    D. Saddiki
  Name: Name, dtype: object,
  243733,
  [0.9311378560839394, 0.6118649010050292]],
 [101426    N. Tafari
  Name: Name, dtype: object,
  256024,
  [0.9546471765189344, 0.5638543051628481]],
 [99375    D. Hyam
  Name: Name, dtype: object,
  221281,
  [0.9364516828552886, 0.5976382558897549]],
 [99299    G. Maripán
  Name: Name, dtype: object,
  219145,
  [0.8620449912540081, 0.7419608731406089]],
 [100593    R. Ivanov
  Name: Name, dtype: object,
  258599,
  [0.9415516313399054, 0.5834762535917395]],
 [100540    M. Miazga
  Name: Name, dtype: object,
  215565,
  [0.8960044840168961, 0.6699961567630418]],
 [91945    R. Bauer
  Name: Name, dtype: object,
  223765,
  [0.901078501097303, 0.6597641663594157]],
 [100681    J. Whatmough
  Name: Name, dtype: object,
  211166,
  [0.9334810363765734, 0.5947118225698499]],
 [93501    D. Sánchez
  Name: Name, dtype: object,
  220793,
  [0.8312982349774842, 0.7958599273120719]],
 [93473    J. Andersen
  Name: Name, dtype: object,
  224221,
  [0.8393368146929064, 0.7795266851859655]],
 [93017    J. Rassoul
  Name: Name, dtype: object,
  229064,
  [0.9100271750316018, 0.6391792323624629]],
 [96721    20 D. van Bruggen
  Name: Name, dtype: object,
  223813,
  [0.9428008606512234, 0.5729179974738499]],
 [100443    C. Burgess
  Name: Name, dtype: object,
  216744,
  [0.9547315791000176, 0.5488157817497531]],
 [96430    21 J. Hardeveld
  Name: Name, dtype: object,
  221986,
  [0.9364751599503679, 0.5843002637950325]],
 [95754    Pol García
  Name: Name, dtype: object,
  211323,
  [0.9073943685438466, 0.6412599503891749]],
 [90375    Rúben Vezo
  Name: Name, dtype: object,
  215399,
  [0.8540372239615518, 0.7465314509504366]],
 [97080    J. Ruiz
  Name: Name, dtype: object,
  234814,
  [0.9534602549824138, 0.5486296553840911]],
 [100215    C. Harries
  Name: Name, dtype: object,
  228637,
  [0.9646504892412281, 0.5260842884884376]],
 [93513    C. Connolly
  Name: Name, dtype: object,
  229605,
  [0.933573559570397, 0.5857435571871482]],
 [94452    Jorge Sáenz
  Name: Name, dtype: object,
  225106,
  [0.9045595775021124, 0.6429061340259249]],
 [98018    J. Vollert
  Name: Name, dtype: object,
  239668,
  [0.9738222540606292, 0.49823703135184233]],
 [89985    K. Amian
  Name: Name, dtype: object,
  231235,
  [0.881762784193206, 0.6773867464059584]],
 [96703    Eric Curbelo
  Name: Name, dtype: object,
  237442,
  [0.8934114990438777, 0.6543956466021519]],
 [95132    J. Torunarigha
  Name: Name, dtype: object,
  236947,
  [0.8583564481726615, 0.7223253583021968]],
 [99753    M. Flis
  Name: Name, dtype: object,
  213855,
  [0.9665339413834548, 0.508612119830955]],
 [97818    M. Reinthaler
  Name: Name, dtype: object,
  224421,
  [0.9574549442678667, 0.5259724187970141]],
 [96318    17 A. Tamata
  Name: Name, dtype: object,
  202153,
  [0.9231996198076918, 0.5916299005682143]],
 [98042    M. Hołownia
  Name: Name, dtype: object,
  245129,
  [0.9431203786270455, 0.5458872051039669]],
 [98040    J. Tah
  Name: Name, dtype: object,
  213331,
  [0.8347077687533749, 0.7594895099589755]],
 [100721    I. Paro
  Name: Name, dtype: object,
  240312,
  [0.9355448226489269, 0.5605097172379868]],
 [96489    Diego González
  Name: Name, dtype: object,
  227106,
  [0.9003082312783515, 0.6260597317151401]],
 [98226    L. Desmond
  Name: Name, dtype: object,
  226728,
  [0.9463891928172053, 0.5325892008940087]],
 [93215    20 Renato Neto
  Name: Name, dtype: object,
  199663,
  [0.8847547204711229, 0.653536453234227]],
 [97434    A. Sørensen
  Name: Name, dtype: object,
  221024,
  [0.9052191682635724, 0.6128354339841692]],
 [92497    P. Hatzidiakos
  Name: Name, dtype: object,
  229150,
  [0.8781317632261804, 0.6659174474477016]],
 [101321    H. Kessler
  Name: Name, dtype: object,
  255110,
  [0.91613923883154, 0.5889130620972546]],
 [95898    A. Maxsø
  Name: Name, dtype: object,
  212287,
  [0.8640589514910074, 0.6899128949221333]],
 [95540    J. Glesnes
  Name: Name, dtype: object,
  233400,
  [0.9033852702097349, 0.6113763547705273]],
 [93746    V. Lekhal
  Name: Name, dtype: object,
  213841,
  [0.906266718720987, 0.6047584856924911]],
 [101472    M. Caufriez
  Name: Name, dtype: object,
  228983,
  [0.910442855533823, 0.5946099209121676]],
 [91513    Patrick William
  Name: Name, dtype: object,
  252150,
  [0.8838545330831749, 0.6462614684134711]],
 [90861    R. Rojas
  Name: Name, dtype: object,
  246914,
  [0.8671634008068391, 0.6778443657451638]],
 [99584    S. Coulibaly
  Name: Name, dtype: object,
  231872,
  [0.9432364967932353, 0.5277056433372647]],
 [93146    P. Dawidowicz
  Name: Name, dtype: object,
  213404,
  [0.8568054702507856, 0.6962149707299875]],
 [91677    Alfa Semedo
  Name: Name, dtype: object,
  239641,
  [0.8833029751591416, 0.6436304684765879]],
 [90273    Gregore
  Name: Name, dtype: object,
  251410,
  [0.8587920845060865, 0.6917292233790575]],
 [89003    E. Dier
  Name: Name, dtype: object,
  202335,
  [0.8030900055999131, 0.800791342113412]],
 [98316    J. Nilsson
  Name: Name, dtype: object,
  210802,
  [0.8679420532082424, 0.6726093508282033]],
 [97417    J. Elvedi
  Name: Name, dtype: object,
  256705,
  [0.9003308149988763, 0.6084553726892824]],
 [101297    S. McLoughlin
  Name: Name, dtype: object,
  241534,
  [0.9483994466235002, 0.5104314827430754]],
 [97662    21 R. Gelmi
  Name: Name, dtype: object,
  227700,
  [0.9156935052691819, 0.5698000170081122]],
 [95119    M. Leitsch
  Name: Name, dtype: object,
  234843,
  [0.8735087250334074, 0.6529974223540506]],
 [98620    B. Galloway
  Name: Name, dtype: object,
  209852,
  [0.9481235829180273, 0.5056819823545728]],
 [93245    20 U. Agbo
  Name: Name, dtype: object,
  226289,
  [0.8905205822629991, 0.6185239565762566]],
 [99218    L. Dietz
  Name: Name, dtype: object,
  241995,
  [0.9233243028817012, 0.5526032974621626]],
 [90872    A. Artean
  Name: Name, dtype: object,
  248111,
  [0.9060016643861059, 0.5845855953657212]],
 [100422    J. Glad
  Name: Name, dtype: object,
  222557,
  [0.8986459550672088, 0.5972207114131173]],
 [93428    21 L. Spendlhofer
  Name: Name, dtype: object,
  208247,
  [0.9044751400474323, 0.5836431581133955]],
 [91797    20 L. Hyam
  Name: Name, dtype: object,
  194792,
  [0.908221571147397, 0.5731422531270906]],
 [89591    P. McNair
  Name: Name, dtype: object,
  213697,
  [0.8632449764786413, 0.661765207629891]],
 [99716    H. Moukoudi
  Name: Name, dtype: object,
  228732,
  [0.8437556484585117, 0.6954475428730635]],
 [96804    M. Clarke
  Name: Name, dtype: object,
  221600,
  [0.8519805100814566, 0.6768852368502649]],
 [96123    B. Tuiloma
  Name: Name, dtype: object,
  220886,
  [0.885107188928023, 0.6089765406115981]],
 [98964    D. Lavalée
  Name: Name, dtype: object,
  236712,
  [0.8830858698801285, 0.6119100071204747]],
 [95186    R. Pröpper
  Name: Name, dtype: object,
  208462,
  [0.8841419889310197, 0.6059209857879436]],
 [92686    19 S. Medojević
  Name: Name, dtype: object,
  207523,
  [0.8534803325033108, 0.6650387732449402]],
 [98402    Pablo Marí
  Name: Name, dtype: object,
  206654,
  [0.8244232315468479, 0.7180688875198616]],
 [93553    M. Niakhaté
  Name: Name, dtype: object,
  225859,
  [0.8392937538197717, 0.6883920071911854]],
 [95344    B. Ndoye
  Name: Name, dtype: object,
  215495,
  [0.8951889863131333, 0.5772316662880081]],
 [98975    G. Henriksson
  Name: Name, dtype: object,
  245722,
  [0.8994700934743431, 0.5677790149295185]],
 [99138    20 J. Blåbjerg
  Name: Name, dtype: object,
  213528,
  [0.9268219741413523, 0.5137688944760478]],
 [94710    David Costas
  Name: Name, dtype: object,
  219848,
  [0.8568518307777278, 0.6500675281567913]],
 [95626    21 E. Fryers
  Name: Name, dtype: object,
  206489,
  [0.9378401966833833, 0.48936172082212964]],
 [94619    D. Van den Buijs
  Name: Name, dtype: object,
  225531,
  [0.8991084820980313, 0.5599996940298807]],
 [88614    N. Mukiele
  Name: Name, dtype: object,
  226166,
  [0.7733355968516443, 0.8077988871500257]],
 [94168    J. Kerr
  Name: Name, dtype: object,
  225589,
  [0.8889293026624676, 0.5792540204193893]],
 [98299    A. Jones
  Name: Name, dtype: object,
  236315,
  [0.9054555380676365, 0.5457415079774102]],
 [97590    21 Jemerson
  Name: Name, dtype: object,
  215792,
  [0.8303855542327226, 0.6929924657978686]],
 [92212    D. Hovorka
  Name: Name, dtype: object,
  240033,
  [0.8260455717898781, 0.7011207253522983]],
 [97243    T. Deng
  Name: Name, dtype: object,
  228310,
  [0.8993851425363241, 0.5547375398126021]],
 [94155    M. Loum
  Name: Name, dtype: object,
  245021,
  [0.8396443652238907, 0.6632417090367786]],
 [93090    W. Hoedt
  Name: Name, dtype: object,
  216774,
  [0.803364848775597, 0.734521136454248]],
 [99759    S. van Beek
  Name: Name, dtype: object,
  213000,

In [108]:
get_player_recs(df_22_std,"Liverpool",["CB"],Def_essential_ft,def_weights_per_club)

[[95250    M. Friedrich
  Name: Name, dtype: object,
  222493,
  [0.9394417917096515, 0.6678204382536241]],
 [96324    D. Rugani
  Name: Name, dtype: object,
  211320,
  [0.908887140066463, 0.6867653728825636]],
 [97472    B. Mechele
  Name: Name, dtype: object,
  212204,
  [0.9184579634831856, 0.6656141596573523]],
 [101195    T. Borevković
  Name: Name, dtype: object,
  244377,
  [0.95401578814548, 0.5447607910248718]],
 [102132    M. Bani
  Name: Name, dtype: object,
  224378,
  [0.9578698655471181, 0.5370035085462195]],
 [98475    A. Ismajli
  Name: Name, dtype: object,
  258782,
  [0.9170624582736749, 0.6163993325352413]],
 [99829    S. Posch
  Name: Name, dtype: object,
  223671,
  [0.9367962665654749, 0.5695378034360898]],
 [101201    M. Bauer
  Name: Name, dtype: object,
  245347,
  [0.9779574106474591, 0.4862397458706619]],
 [99660    Juande
  Name: Name, dtype: object,
  255158,
  [0.9653591040576562, 0.5089784068944602]],
 [100899    C. Zesiger
  Name: Name, dtype: object,
  236369,
  [0.9808775661596282, 0.47576077000647726]],
 [96302    I. Diop
  Name: Name, dtype: object,
  231633,
  [0.8671499413712231, 0.6934471071700027]],
 [97645    I. Kutepov
  Name: Name, dtype: object,
  210468,
  [0.9121776083828635, 0.5933609034343529]],
 [97275    P. Lienhart
  Name: Name, dtype: object,
  231366,
  [0.8755250461231393, 0.6631970269780154]],
 [99379    M. Blažič
  Name: Name, dtype: object,
  238945,
  [0.9304836737946807, 0.5514399184315264]],
 [98376    R. Knoche
  Name: Name, dtype: object,
  203030,
  [0.8769772786052388, 0.6419464736665256]],
 [102393    B. Šerbečić
  Name: Name, dtype: object,
  242260,
  [1.0, 0.3918870781786743]],
 [98775    N. Schlotterbeck
  Name: Name, dtype: object,
  247819,
  [0.9105210038404165, 0.5682196522062753]],
 [95866    S. Schonlau
  Name: Name, dtype: object,
  214948,
  [0.8962262452125611, 0.5950305286165688]],
 [94625    21 Bruno Viana
  Name: Name, dtype: object,
  234226,
  [0.8496847945493473, 0.6831879526333624]],
 [95711    Duirval Diniz
  Name: Name, dtype: object,
  230401,
  [0.8849649078964448, 0.6133449618905576]],
 [96391    W. Orban
  Name: Name, dtype: object,
  204638,
  [0.8469612863931787, 0.681580556065144]],
 [97548    Maracás
  Name: Name, dtype: object,
  251681,
  [0.8713894215091079, 0.6327970493249572]],
 [100202    G. Miura
  Name: Name, dtype: object,
  237429,
  [0.9025362164293935, 0.5611437678816844]],
 [94099    Robson Bambu
  Name: Name, dtype: object,
  256343,
  [0.8918176138567919, 0.5803583418035216]],
 [100824    J. Worrall
  Name: Name, dtype: object,
  230708,
  [0.9072839600838557, 0.5452834957814051]],
 [98932    E. Ntim
  Name: Name, dtype: object,
  231472,
  [0.9560675185396972, 0.44661246732882776]],
 [94795    K. Akpoguma
  Name: Name, dtype: object,
  211856,
  [0.8576903021818824, 0.6335167273216352]],
 [97583    D. Zagadou
  Name: Name, dtype: object,
  238476,
  [0.836921425607808, 0.6741274962406939]],
 [100264    C. Gogoua
  Name: Name, dtype: object,
  253144,
  [0.9594046707435232, 0.43111445545394067]],
 [100765    Jesiel
  Name: Name, dtype: object,
  230776,
  [0.8977705722813734, 0.5512465865738561]],
 [97070    V. Alvarado
  Name: Name, dtype: object,
  209758,
  [0.9111721399969502, 0.5163623531623108]],
 [100733    A. Tanghe
  Name: Name, dtype: object,
  255400,
  [0.9028774762790898, 0.5318708730966171]],
 [94710    David Costas
  Name: Name, dtype: object,
  219848,
  [0.8660188948307174, 0.6030743117557227]],
 [96629    A. Appindangoye
  Name: Name, dtype: object,
  218353,
  [0.919334975293447, 0.49702081624898603]],
 [101755    21 F. Vicari
  Name: Name, dtype: object,
  215433,
  [0.8843318219085181, 0.5645133351985371]],
 [101008    B. Wilmot
  Name: Name, dtype: object,
  238389,
  [0.904089789903495, 0.5241639076522009]],
 [101076    Rodrigo Ely
  Name: Name, dtype: object,
  202445,
  [0.8643872523938423, 0.5996465256080871]],
 [101062    21 César
  Name: Name, dtype: object,
  215283,
  [0.914921821509304, 0.49072686140743516]],
 [98717    G. Canto
  Name: Name, dtype: object,
  227526,
  [0.9291816575717985, 0.4610058634852629]],
 [101996    M. Platt
  Name: Name, dtype: object,
  234261,
  [0.9820719108857435, 0.34930873742377005]],
 [92368    T. Sainsbury
  Name: Name, dtype: object,
  199000,
  [0.8496677267362069, 0.601677106803846]],
 [100255    J. Clarke-Salter
  Name: Name, dtype: object,
  230774,
  [0.9028265788272262, 0.49503237256699084]],
 [98886    S. Holmén
  Name: Name, dtype: object,
  209063,
  [0.8583677948224224, 0.5823680032478632]],
 [97992    21 S. Kverkvelia
  Name: Name, dtype: object,
  205469,
  [0.8870756417256965, 0.5251099725338089]],
 [100850    T. Inukai
  Name: Name, dtype: object,
  237754,
  [0.9020974768656937, 0.4929028092663833]],
 [97737    A. Pieper
  Name: Name, dtype: object,
  246836,
  [0.8346028836379564, 0.6234928102912393]],
 [97874    Pablo Santos
  Name: Name, dtype: object,
  239872,
  [0.8476703810660627, 0.597279521958848]],
 [98957    A. Poungouras
  Name: Name, dtype: object,
  236458,
  [0.9113789858178237, 0.47128223318837786]],
 [96341    T. Hübers
  Name: Name, dtype: object,
  234727,
  [0.8506779179724895, 0.5887913684821481]],
 [99322    J. Bednarek
  Name: Name, dtype: object,
  220570,
  [0.8225571291265882, 0.6398595517118465]],
 [96279    Murilo
  Name: Name, dtype: object,
  240115,
  [0.8157222346851999, 0.6472495484148639]],
 [96340    N. Süle
  Name: Name, dtype: object,
  212190,
  [0.7485901308487, 0.779544065366064]],
 [99195    M. van der Hoorn
  Name: Name, dtype: object,
  207725,
  [0.8919191141016476, 0.4952661070621148]],
 [99131    R. Burke
  Name: Name, dtype: object,
  221456,
  [0.8729257670400439, 0.5283235073102912]],
 [97671    E. Martínez
  Name: Name, dtype: object,
  253278,
  [0.862709844863397, 0.5459461563962987]],
 [99872    K. Schlotterbeck
  Name: Name, dtype: object,
  244068,
  [0.85645563949943, 0.5576579155445576]],
 [101799    J. Moya
  Name: Name, dtype: object,
  232004,
  [0.9111640314849605, 0.4482657127859654]],
 [99714    H. Marcelin
  Name: Name, dtype: object,
  242603,
  [0.8589119208318172, 0.5479398518657931]],
 [97436    Bremer
  Name: Name, dtype: object,
  239580,
  [0.79585719048631, 0.6696409990910428]],
 [96573    O. Ndah
  Name: Name, dtype: object,
  264383,
  [0.9307838342360798, 0.4033308192337416]],
 [99847    Rodrigo Becão
  Name: Name, dtype: object,
  238621,
  [0.8123972653326625, 0.6368893096338187]],
 [97508    J. Vásquez
  Name: Name, dtype: object,
  244349,
  [0.8406277789506966, 0.5785578770025651]],
 [101352    S. Kennedy
  Name: Name, dtype: object,
  258361,
  [0.9179026978103735, 0.4259083552754561]],
 [99721    S. Bell
  Name: Name, dtype: object,
  198352,
  [0.8572732954886498, 0.5449336206161554]],
 [92695    J. Giménez
  Name: Name, dtype: object,
  216460,
  [0.7263398770402426, 0.8001007574344782]],
 [99567    G. Hall
  Name: Name, dtype: object,
  204761,
  [0.8637279176555321, 0.5286019793632217]],
 [94238    Y. Mina
  Name: Name, dtype: object,
  220523,
  [0.7578067527827965, 0.7328139685411617]],
 [101279    S. Nkansah
  Name: Name, dtype: object,
  229756,
  [0.9282708737708971, 0.39604823661602867]],
 [99191    P. Bauer
  Name: Name, dtype: object,
  204496,
  [0.8317543569377049, 0.5826061202102896]],
 [89644    G. Dzhikiya
  Name: Name, dtype: object,
  229773,
  [0.7801521430550487, 0.6841863412757295]],
 [92163    H. Magnússon
  Name: Name, dtype: object,
  208522,
  [0.8047626805485251, 0.631143680900805]],
 [97773    S. Magkeev
  Name: Name, dtype: object,
  252235,
  [0.8277568992062991, 0.5857536084285736]],
 [91701    C. Mbemba
  Name: Name, dtype: object,
  210897,
  [0.7596660016656465, 0.7196615631671508]],
 [95966    C. Nelson
  Name: Name, dtype: object,
  200840,
  [0.872086934739349, 0.49736984340041]],
 [101523    A. Grant
  Name: Name, dtype: object,
  209210,
  [0.9096023981668456, 0.421113069707642]],
 [100586    M. Ødegaard
  Name: Name, dtype: object,
  202259,
  [0.914510828423177, 0.4108861421671354]],
 [98552    A. Hack
  Name: Name, dtype: object,
  231111,
  [0.8308031545519403, 0.5749656994819823]],
 [91130    21 M. Musacchio
  Name: Name, dtype: object,
  186547,
  [0.7515024796856804, 0.7311202760102246]],
 [94535    S. Botman
  Name: Name, dtype: object,
  251809,
  [0.7536556831448372, 0.7259945976685016]],
 [101512    A. MacDonald
  Name: Name, dtype: object,
  205655,
  [0.8818270815505457, 0.47167842595567844]],
 [88092    M. Hinteregger
  Name: Name, dtype: object,
  201922,
  [0.729635971426885, 0.7677059700391495]],
 [89999    K. Zouma
  Name: Name, dtype: object,
  204311,
  [0.736948354166211, 0.7463205665638464]],
 [95648    A. Izzo
  Name: Name, dtype: object,
  216145,
  [0.7459850920239361, 0.7274987434077174]],
 [99727    G. Edmundson
  Name: Name, dtype: object,
  228888,
  [0.8762332296290248, 0.47043114726845847]],
 [101036    R. Capellini
  Name: Name, dtype: object,
  263550,
  [0.9356855605778235, 0.3530079938595034]],
 [100192    Vitao
  Name: Name, dtype: object,
  253400,
  [0.8325795712806484, 0.5555948828544819]],
 [100015    J. Rodon
  Name: Name, dtype: object,
  229266,
  [0.8003276518416775, 0.6189939492678789]],
 [93062    F. Tomori
  Name: Name, dtype: object,
  232756,
  [0.7467648641767684, 0.7237686055983598]],
 [95132    J. Torunarigha
  Name: Name, dtype: object,
  236947,
  [0.783791716328931, 0.6494496563036125]],
 [96175    F. Ceccherini
  Name: Name, dtype: object,
  210964,
  [0.7960256876342111, 0.6243919271867909]],
 [98882    T. Baumgartl
  Name: Name, dtype: object,
  223641,
  [0.8074386315504913, 0.6009669046803042]],
 [98589    S. Barreiro
  Name: Name, dtype: object,
  214129,
  [0.8555709418058314, 0.5032816374936051]],
 [99328    M. Cacutalua
  Name: Name, dtype: object,
  220878,
  [0.9040206839466711, 0.406896329404032]],
 [94349    R. Lauritsen
  Name: Name, dtype: object,
  225948,
  [0.8001110534115399, 0.6082917117267054]],
 [98121    P. Mainka
  Name: Name, dtype: object,
  216199,
  [0.7894048042862907, 0.6256770723279392]],
 [101552    N. Gyömbér
  Name: Name, dtype: object,
  220061,
  [0.8373681101022057, 0.5300829520407637]],
 [96932    Lourival Dinisco
  Name: Name, dtype: object,
  230415,
  [0.852399247227398, 0.4954178635801513]],
 [100417    E. Ersoy
  Name: Name, dtype: object,
  224489,
  [0.8488255324445045, 0.5015964065339432]],
 [99402    D. Maresic
  Name: Name, dtype: object,
  235673,
  [0.8389010016223387, 0.5210738367252482]],
 [99358    J. Cooper
  Name: Name, dtype: object,
  216481,
  [0.8174811109010777, 0.5623406580083472]],
 [100259    M. Hosseini
  Name: Name, dtype: object,
  243549,
  [0.8652301764008667, 0.4670352272622402]],
 [100537    A. Shabanov
  Name: Name, dtype: object,
  244381,
  [0.8226931274775222, 0.5501342306328814]],
 [96926    L. Cooper
  Name: Name, dtype: object,
  189456,
  [0.7503631037808925, 0.6923090466579794]],
 [96599    A. Çalık
  Name: Name, dtype: object,
  223046,
  [0.8226309481847507, 0.5472859245095805]],
 [98762    Pombaxinho
  Name: Name, dtype: object,
  230383,
  [0.8581529835406475, 0.4766272734071295]],
 [92711    S. Gigot
  Name: Name, dtype: object,
  219581,
  [0.7344464398303613, 0.7190209506240136]],
 [101883    F. Torres
  Name: Name, dtype: object,
  254959,
  [0.9273500256055711, 0.33595520371105947]],
 [89840    J. Koundé
  Name: Name, dtype: object,
  241486,
  [0.6689603105415406, 0.844965445929952]],
 [97550    M. Pearson
  Name: Name, dtype: object,
  208014,
  [0.8273614125156841, 0.5287657908119958]],
 [98585    S. Svarnas
  Name: Name, dtype: object,
  245540,
  [0.8226866101826363, 0.5372470055257815]],
 [102227    B. Tomiak
  Name: Name, dtype: object,
  262119,
  [0.9364924967485718, 0.30626753816898905]],
 [100593    R. Ivanov
  Name: Name, dtype: object,
  258599,
  [0.8552127811504895, 0.4636501237503498]],
 [90881    S. de Vrij
  Name: Name, dtype: object,
  198176,
  [0.6604771785555825, 0.8454022688036776]],
 [100688    Léo Andrade
  Name: Name, dtype: object,
  259771,
  [0.8847246014250416, 0.3997860436248826]],
 [97128    João Basso
  Name: Name, dtype: object,
  236255,
  [0.7990536937213212, 0.5657851520496298]],
 [101216    N. Knothe
  Name: Name, dtype: object,
  239401,
  [0.9056383255367472, 0.3534583728983384]],
 [102729    21 D. Arboleda
  Name: Name, dtype: object,
  227740,
  [0.9083685347957369, 0.34762984907850264]],
 [98784    R. Le Normand
  Name: Name, dtype: object,
  233486,
  [0.725405645336847, 0.7082025926846666]],
 [91623    M. Keane
  Name: Name, dtype: object,
  207599,
  [0.69114461173861, 0.7703765704998234]],
 [95729    Édundo Oliveira
  Name: Name, dtype: object,
  230389,
  [0.7838942604697764, 0.5854496445628308]],
 [102315    J. Olowu
  Name: Name, dtype: object,
  241864,
  [0.9377628808312393, 0.28145873706778274]],
 [101738    H. Carter
  Name: Name, dtype: object,
  242751,
  [0.8853692955635711, 0.3846548873032164]],
 [101747    S. Çiftpınar
  Name: Name, dtype: object,
  239050,
  [0.8733007679067455, 0.40767719552526827]],
 [100080    K. Dermaku
  Name: Name, dtype: object,
  230143,
  [0.8488062689264769, 0.45556153564826773]],
 [102247    A. Sylla
  Name: Name, dtype: object,
  256743,
  [0.9497693396643397, 0.2558211116044308]],
 [101336    J. Turnbull
  Name: Name, dtype: object,
  206170,
  [0.8674930614908701, 0.4173351862724027]],
 [101060    M. Burda
  Name: Name, dtype: object,
  244383,
  [0.8040895157182589, 0.5404205123903015]],
 [100569    20 A. Murillo
  Name: Name, dtype: object,
  225574,
  [0.8543911829178676, 0.4343175517919659]],
 [95699    J. Brooks
  Name: Name, dtype: object,
  204082,
  [0.7089588242029689, 0.7204492301018572]],
 [101820    M. Kreuzriegler
  Name: Name, dtype: object,
  256967,
  [0.874070502591452, 0.39105343095856937]],
 [101596    21 Álex Zalaya
  Name: Name, dtype: object,
  235224,
  [0.8684496881108471, 0.4012003346759796]],
 [102311    P. Kalambayi
  Name: Name, dtype: object,
  233383,
  [0.8909170920175946, 0.3563947825021726]],
 [102424    J. Aguayo
  Name: Name, dtype: object,
  258053,
  [0.9465264706964059, 0.24631239811819094]],
 [102520    C. Maghoma
  Name: Name, dtype: object,
  231144,
  [0.9086636196442941, 0.3208180340793004]],
 [99654    M. Camara
  Name: Name, dtype: object,
  244401,
  [0.8018628212450655, 0.5314506815182537]],
 [100869    N. Ferraresi
  Name: Name, dtype: object,
  246388,
  [0.7932953699908687, 0.5472412043840555]],
 [100097    B. Gibson
  Name: Name, dtype: object,
  200408,
  [0.769346380225261, 0.5940295185515388]],
 [98786    M. Caldara
  Name: Name, dtype: object,
  220477,
  [0.7309925712234805, 0.6696407144444882]],
 [100708    N. Pérez
  Name: Name, dtype: object,
  244206,
  [0.7317345928689859, 0.6676153664845961]],
 [101231    20 M. Camporese
  Name: Name, dtype: object,
  201914,
  [0.8120359612760562, 0.5072997010594673]],
 [101927    F. Rawson
  Name: Name, dtype: object,
  223852,
  [0.8831466042328528, 0.36659304165696727]],
 [100596    B. Ampuero
  Name: Name, dtype: object,
  225396,
  [0.8253532135817317, 0.47972260336900896]],
 [102402    T. Dallison
  Name: Name, dtype: object,
  213653,
  [0.8880744225809795, 0.35462134720263394]],
 [101572    V. Huerta
  Name: Name, dtype: object,
  214404,
  [0.8488564367021395, 0.4305563143779237]],
 [88541    Juiano Mestres
  Name: Name, dtype: object,
  230225,
  [0.6877218851518461, 0.7465866582539348]],
 [101976    V. Ozornwafor
  Name: Name, dtype: object,
  251258,
  [0.8972470283730098, 0.3329681553946739]],
 [101752    M. Al Fatil
  Name: Name, dtype: object,
  210134,
  [0.8243395050282296, 0.4765102255077628]],
 [89061    M. Ginter
  Name: Name, dtype: object,
  207862,
  [0.6470718944884242, 0.8249479194927332]],
 [98040    J. Tah
  Name: Name, dtype: object,
  213331,
  [0.7106637766601989, 0.6955089384947183]],
 [101739    A. Deneumostier
  Name: Name, dtype: object,
  254176,
  [0.855786947746353, 0.40907205621857445]],
 [99716    H. Moukoudi
  Name: Name, dtype: object,
  228732,
  [0.7343736046045682, 0.6476008412653709]],
 [95962    Alson Botelho
  Name: Name, dtype: object,
  230253,
  [0.7444735226551676, 0.6257703563182762]],
 [95206    K. Itakura
  Name: Name, dtype: object,
  233152,
  [0.7341181412686677, 0.6453599280086109]],
 [102203    J. Silva
  Name: Name, dtype: object,
  222643,
  [0.8669809133969468, 0.38274232292014765]],
 [93661    Lucas Veríssimo
  Name: Name, dtype: object,
  235688,
  [0.6877871353696573, 0.7362657728257403]],
 [101363    Dinis Almeida
  Name: Name, dtype: object,
  234665,
  [0.7899327713662766, 0.5314568852555798]],
 [90666    A. Vallci
  Name: Name, dtype: object,
  243661,
  [0.7710772152434566, 0.5679601598562175]],
 [100651    P. Kapp
  Name: Name, dtype: object,
  239820,
  [0.8640124396809811, 0.3824416938811852]],
 [102493    21 G. Zajkov
  Name: Name, dtype: object,
  223568,
  [0.8291756827033475, 0.4507108785284577]],
 [101412    21 Jeong Seung Hyun
  Name: Name, dtype: object,
  227790,
  [0.8340671647677367, 0.4405764796251241]],
 [102454    C. Masterson
  Name: Name, dtype: object,
  232102,
  [0.9124187044245559, 0.2859561126800925]],
 [100933    T. Knipping
  Name: Name, dtype: object,
  211723,
  [0.8099203743740099, 0.48706383313818774]],
 [102017    S. Foss
  Name: Name, dtype: object,
  242975,
  [0.8764237984573678, 0.3548007694002751]],
 [101720    J. Boller
  Name: Name, dtype: object,
  247409,
  [0.8955223902989073, 0.3161090543984133]],
 [99299    G. Maripán
  Name: Name, dtype: object,
  219145,
  [0.707001466187257, 0.6875288870629771]],
 [100710    P. Downing
  Name: Name, dtype: object,
  192496,
  [0.8459925160249732, 0.40907900007392917]],
 [101540    M. Jenz
  Name: Name, dtype: object,
  241494,
  [0.8526853167738065, 0.3942732428812648]],
 [98424    D. O'Shea
  Name: Name, dtype: object,
  235405,
  [0.7612779443371147, 0.5738745047210702]],
 [99175    A. Callens
  Name: Name, dtype: object,
  211522,
  [0.7300815895454372, 0.6338933240484357]],
 [100916    D. Gugganig
  Name: Name, dtype: object,
  250780,
  [0.8061345149045736, 0.4836524043124336]],
 [95438    R. Araujo
  Name: Name, dtype: object,
  253163,
  [0.6822588494972541, 0.7273868303849722]],
 [101041    J. Gundersen
  Name: Name, dtype: object,
  228238,
  [0.8546538918646792, 0.386225932286885]],
 [101649    P. Lemonnier
  Name: Name, dtype: object,
  223880,
  [0.8335891557853604, 0.42692751376915433]],
 [102320    D. Bettella
  Name: Name, dtype: object,
  248171,
  [0.8655829947823203, 0.36367275197862264]],
 [99759    S. van Beek
  Name: Name, dtype: object,
  213000,
  [0.7500168598972434, 0.5882149573635769]],
 [95324    J. Vestergaard
  Name: Name, dtype: object,
  202849,
  [0.6864098435432614, 0.7130254459753907]],
 [102099    E. Capradossi
  Name: Name, dtype: object,
  215376,
  [0.7833728504018717, 0.5210982445072951]],
 [101861    Z. Šarlija
  Name: Name, dtype: object,
  251343,
  [0.8678506043613473, 0.35414241671504276]],
 [100278    J. Müller
  Name: Name, dtype: object,
  234381,
  [0.8023004368080555, 0.48218059549784154]],
 [98780    M. Lovato
  Name: Name, dtype: object,
  258946,
  [0.750704117831688, 0.5820536088933344]],
 [89888    J. Gouweleeuw
  Name: Name, dtype: object,
  202201,
  [0.6786770485359496, 0.7232945395423054]],
 [96711    I. Diveev
  Name: Name, dtype: object,
  245703,
  [0.7063465714636841, 0.6677423972993434]],
 [99005    G. Corujo
  Name: Name, dtype: object,
  253289,
  [0.7647109440370341, 0.5497941901860952]],
 [98451    M. Kumbulla
  Name: Name, dtype: object,
  245426,
  [0.7257316955440112, 0.6259554273394261]],
 [100542    M. Erlić
  Name: Name, dtype: object,
  244456,
  [0.7482355327643029, 0.581144974669271]],
 [94661    A. Christensen
  Name: Name, dtype: object,
  213661,
  [0.6335493133586004, 0.8072234535444746]],
 [98778    J. Fitzwater
  Name: Name, dtype: object,
  231139,
  [0.798113063102045, 0.48201620600580614]],
 [97222    Domingos Duarte
  Name: Name, dtype: object,

In [109]:
get_player_recs(df_22_std,"FC Barcelona",["CB"],Def_essential_ft,def_weights_per_club)

[[89061    M. Ginter
  Name: Name, dtype: object,
  207862,
  [0.9759302281700118, 0.8815359970174212]],
 [88397    Éder Militão
  Name: Name, dtype: object,
  240130,
  [0.9443736657572159, 0.8360099497017297]],
 [89840    J. Koundé
  Name: Name, dtype: object,
  241486,
  [0.9283980436334522, 0.8575857652502339]],
 [89398    M. Akanji
  Name: Name, dtype: object,
  229237,
  [0.9548722052327286, 0.8011019133323763]],
 [90733    J. Matip
  Name: Name, dtype: object,
  197061,
  [0.9092702490742487, 0.8771277788852602]],
 [94661    A. Christensen
  Name: Name, dtype: object,
  213661,
  [0.9425134429495874, 0.8064332169161973]],
 [89095    J. Stones
  Name: Name, dtype: object,
  203574,
  [0.9006823275542403, 0.8842783284417025]],
 [87655    D. Alaba
  Name: Name, dtype: object,
  197445,
  [0.8956115712394193, 0.8819776988975037]],
 [91623    M. Keane
  Name: Name, dtype: object,
  207599,
  [0.933722338572113, 0.7955934672923592]],
 [93404    N. Aguerd
  Name: Name, dtype: object,
  244749,
  [0.9690168051264813, 0.7223708497336903]],
 [93617    A. Romagnoli
  Name: Name, dtype: object,
  210413,
  [0.902101163952656, 0.8399363761493199]],
 [88495    Mario Hermoso
  Name: Name, dtype: object,
  229668,
  [0.893771047482795, 0.8513555684218739]],
 [94922    21 Bastos
  Name: Name, dtype: object,
  216655,
  [0.9672590128703021, 0.7026884613030838]],
 [92281    J. Gomez
  Name: Name, dtype: object,
  225100,
  [0.911142571328123, 0.8125663540820616]],
 [90045    J. Denayer
  Name: Name, dtype: object,
  220182,
  [0.9138857292294537, 0.79860627670178]],
 [94814    Luiz Felipe
  Name: Name, dtype: object,
  236355,
  [0.936048512164467, 0.7484191646385243]],
 [94795    K. Akpoguma
  Name: Name, dtype: object,
  211856,
  [0.9817103546635183, 0.6413588045627793]],
 [90881    S. de Vrij
  Name: Name, dtype: object,
  198176,
  [0.8630523704610765, 0.8694515540215185]],
 [98634    Jorge Cuenca
  Name: Name, dtype: object,
  237522,
  [0.9779849347548283, 0.6350866212133754]],
 [88988    A. Mandi
  Name: Name, dtype: object,
  201143,
  [0.8775964708050829, 0.823401372877517]],
 [92193    P. Dummett
  Name: Name, dtype: object,
  204355,
  [0.9414909494412719, 0.6890221078359349]],
 [93319    M. Senesi
  Name: Name, dtype: object,
  236506,
  [0.8888863502252369, 0.7852491778460513]],
 [94420    J. Egan
  Name: Name, dtype: object,
  204936,
  [0.9257470087216887, 0.7110426652751461]],
 [88648    N. Aké
  Name: Name, dtype: object,
  208920,
  [0.8938208143522871, 0.7717768125162336]],
 [94478    S. Taniguchi
  Name: Name, dtype: object,
  233225,
  [0.9548495134418051, 0.6483615713052823]],
 [95297    R. Holding
  Name: Name, dtype: object,
  228295,
  [0.9086814580028252, 0.7383979911503663]],
 [92514    A. Bastoni
  Name: Name, dtype: object,
  237383,
  [0.8703970917323325, 0.8101896446917645]],
 [89974    Yeray
  Name: Name, dtype: object,
  227950,
  [0.8663607075225339, 0.8156285381069011]],
 [89839    E. Tapsoba
  Name: Name, dtype: object,
  247263,
  [0.8502091505981859, 0.8467830258567065]],
 [99250    A. Disasi
  Name: Name, dtype: object,
  229942,
  [0.9181159299236322, 0.7116029893222295]],
 [99310    L. Šatka
  Name: Name, dtype: object,
  209232,
  [0.9778320261315381, 0.5892980038376702]],
 [92015    N. Elvedi
  Name: Name, dtype: object,
  221491,
  [0.8924702782407685, 0.7571987396568021]],
 [98418    T. Phete
  Name: Name, dtype: object,
  231688,
  [0.9600091035078409, 0.623573655633359]],
 [94558    David García
  Name: Name, dtype: object,
  225341,
  [0.8792906757223967, 0.7787638607824704]],
 [96325    Vincente Dourado
  Name: Name, dtype: object,
  230285,
  [0.894411428697582, 0.7488971931603272]],
 [94651    R. Koch
  Name: Name, dtype: object,
  236532,
  [0.8990425401151787, 0.7396783763984286]],
 [100097    B. Gibson
  Name: Name, dtype: object,
  200408,
  [0.9630837224166482, 0.6112890564810359]],
 [89233    H. Maguire
  Name: Name, dtype: object,
  203263,
  [0.8136511440990604, 0.9006594770477887]],
 [90602    N. Stark
  Name: Name, dtype: object,
  212977,
  [0.9048853913721913, 0.7199176722024359]],
 [93880    J. Stephens
  Name: Name, dtype: object,
  202697,
  [0.925299561362497, 0.6777449495735944]],
 [100015    J. Rodon
  Name: Name, dtype: object,
  229266,
  [0.9497900210054226, 0.6283492365153723]],
 [89547    Diego Carlos
  Name: Name, dtype: object,
  219693,
  [0.8516949562789161, 0.8215457135899743]],
 [97108    Paulo Oliveira
  Name: Name, dtype: object,
  210679,
  [0.9211034114712541, 0.6801971591616217]],
 [94262    M. Simakan
  Name: Name, dtype: object,
  243854,
  [0.9061404064796131, 0.7001672944067824]],
 [91553    D. Djené
  Name: Name, dtype: object,
  217940,
  [0.8407341318598335, 0.8291729462596699]],
 [89615    P. Schuurs
  Name: Name, dtype: object,
  241854,
  [0.9085393634106981, 0.6942054209816104]],
 [94274    S. Luperto
  Name: Name, dtype: object,
  220534,
  [0.9470552433392991, 0.6174848166252714]],
 [93668    Sergi Gómez
  Name: Name, dtype: object,
  199577,
  [0.8879733046902062, 0.7338456354040706]],
 [96324    D. Rugani
  Name: Name, dtype: object,
  211320,
  [0.8915350883421695, 0.7244746496562162]],
 [91543    E. Konsa
  Name: Name, dtype: object,
  227678,
  [0.8726228847338379, 0.7613891008266142]],
 [93997    T. Tomiyasu
  Name: Name, dtype: object,
  232938,
  [0.9180265669657446, 0.6717148389194558]],
 [90775    J. Foyth
  Name: Name, dtype: object,
  237221,
  [0.9001906016731165, 0.7055299962873298]],
 [97128    João Basso
  Name: Name, dtype: object,
  236255,
  [0.9554615206264437, 0.5943821555822528]],
 [99108    Javi Sánchez
  Name: Name, dtype: object,
  245238,
  [0.9337444608391716, 0.633440336414076]],
 [97702    N. Rapp
  Name: Name, dtype: object,
  227511,
  [0.9592376502996783, 0.5813447409163687]],
 [95977    Kim Min Jae
  Name: Name, dtype: object,
  237086,
  [0.9210168231846573, 0.6560393212978753]],
 [90421    M. Holgate
  Name: Name, dtype: object,
  225024,
  [0.8560754402924082, 0.7812925242510705]],
 [89216    P. Kimpembe
  Name: Name, dtype: object,
  225850,
  [0.8049573764426784, 0.8815619591984548]],
 [93416    L. Dunk
  Name: Name, dtype: object,
  199915,
  [0.8552762520246444, 0.7813096367536418]],
 [95256    Gabriel
  Name: Name, dtype: object,
  232580,
  [0.8497828121701313, 0.7873783345291694]],
 [90375    Rúben Vezo
  Name: Name, dtype: object,
  215399,
  [0.8875437779937513, 0.710314800739407]],
 [88614    N. Mukiele
  Name: Name, dtype: object,
  226166,
  [0.84141172700641, 0.7989974819652936]],
 [89857    Andrei Girotto
  Name: Name, dtype: object,
  226515,
  [0.8666048323227844, 0.7468829062315843]],
 [100753    H. Souttar
  Name: Name, dtype: object,
  229901,
  [0.9548210087652013, 0.5707911571233845]],
 [97548    Maracás
  Name: Name, dtype: object,
  251681,
  [0.9198334562093395, 0.6368901466339948]],
 [96915    K. Günter
  Name: Name, dtype: object,
  204451,
  [0.8992889754948347, 0.6764556290472367]],
 [96930    Jang Hyeon Soo
  Name: Name, dtype: object,
  211005,
  [0.8874323551210098, 0.6957000660107794]],
 [96069    F. Uduokhai
  Name: Name, dtype: object,
  232144,
  [0.8678443638339415, 0.7288625145890755]],
 [101008    B. Wilmot
  Name: Name, dtype: object,
  238389,
  [0.9609666579115569, 0.5442364692275925]],
 [96926    L. Cooper
  Name: Name, dtype: object,
  189456,
  [0.8856746450745671, 0.6921531151523445]],
 [94340    M. Lacroix
  Name: Name, dtype: object,
  244067,
  [0.8598167923735787, 0.7427710441157999]],
 [94625    21 Bruno Viana
  Name: Name, dtype: object,
  234226,
  [0.8634734964496532, 0.7278745191143319]],
 [96182    21 V. Jovanović
  Name: Name, dtype: object,
  233219,
  [0.8970395150764772, 0.658960756814587]],
 [98316    J. Nilsson
  Name: Name, dtype: object,
  210802,
  [0.8969482405712924, 0.6551275130433508]],
 [100032    Montero
  Name: Name, dtype: object,
  244938,
  [0.9174924776572971, 0.6117018183837261]],
 [95211    B. Chardonnet
  Name: Name, dtype: object,
  215410,
  [0.896074479788134, 0.6466464304526852]],
 [90425    Josué Chiamulera
  Name: Name, dtype: object,
  230375,
  [0.7898284391657977, 0.8525664392901507]],
 [97773    S. Magkeev
  Name: Name, dtype: object,
  252235,
  [0.9215461366116389, 0.586114005212676]],
 [88770    20 S. Wuytens
  Name: Name, dtype: object,
  188416,
  [0.8611322577239986, 0.7042019732630974]],
 [91387    J. Teze
  Name: Name, dtype: object,
  245211,
  [0.8895369781671852, 0.6462436611377363]],
 [89591    P. McNair
  Name: Name, dtype: object,
  213697,
  [0.8882174943181462, 0.6478925863868479]],
 [93637    Tiago Djaló
  Name: Name, dtype: object,
  252339,
  [0.8822764220525813, 0.6583870624547545]],
 [97581    B. Šutalo
  Name: Name, dtype: object,
  255891,
  [0.8992857128201416, 0.6240468538479913]],
 [90863    Patric
  Name: Name, dtype: object,
  206098,
  [0.8557663827865808, 0.7085543730797741]],
 [97488    R. Dickie
  Name: Name, dtype: object,
  223159,
  [0.9111959287280377, 0.5986558663809558]],
 [93146    P. Dawidowicz
  Name: Name, dtype: object,
  213404,
  [0.8673577216680581, 0.6847189014832588]],
 [89681    André Ramalho
  Name: Name, dtype: object,
  210007,
  [0.851175538957783, 0.7157022312760454]],
 [94682    A. Toșca
  Name: Name, dtype: object,
  233512,
  [0.9120264190892201, 0.5943986485689706]],
 [90763    J. Tarkowski
  Name: Name, dtype: object,
  202695,
  [0.7969795688224335, 0.82058102880542]],
 [89378    M. Tisserand
  Name: Name, dtype: object,
  216247,
  [0.866836655151627, 0.6814402846375092]],
 [90563    E. Ndicka
  Name: Name, dtype: object,
  236403,
  [0.8241582430399299, 0.7650709441905171]],
 [90093    A. Rüdiger
  Name: Name, dtype: object,
  205452,
  [0.7769339873596555, 0.8577861927528602]],
 [97252    P. Retsos
  Name: Name, dtype: object,
  234986,
  [0.8639972050434672, 0.6850373502334745]],
 [94130    Marcão
  Name: Name, dtype: object,
  234426,
  [0.837809537539505, 0.7330472651200769]],
 [89593    E. Álvarez
  Name: Name, dtype: object,
  235844,
  [0.8265824100941643, 0.7550844813368911]],
 [91243    J. Veltman
  Name: Name, dtype: object,
  208004,
  [0.8128739873073524, 0.7816072637812257]],
 [88494    L. Hernández
  Name: Name, dtype: object,
  220814,
  [0.7764945522344061, 0.8527883996094365]],
 [98089    Unai Bilbao
  Name: Name, dtype: object,
  229360,
  [0.9016903272719562, 0.6053687469034011]],
 [94381    T. Chalobah
  Name: Name, dtype: object,
  230918,
  [0.8720686970759275, 0.6636144459070359]],
 [95733    D. Heintz
  Name: Name, dtype: object,
  206198,
  [0.8663359983990638, 0.6744694842255278]],
 [98076    L. Mühl
  Name: Name, dtype: object,
  233960,
  [0.9233377272065483, 0.5614483545548756]],
 [96672    B. White
  Name: Name, dtype: object,
  231936,
  [0.8431974421792908, 0.7194045384116624]],
 [97222    Domingos Duarte
  Name: Name, dtype: object,
  234835,
  [0.8176666495525067, 0.7683280570588003]],
 [88925    K. Ayhan
  Name: Name, dtype: object,
  207790,
  [0.837310069917667, 0.7270141031979815]],
 [88457    F. Schär
  Name: Name, dtype: object,
  210047,
  [0.8280809059275197, 0.7449641063329868]],
 [88009    M. Halstenberg
  Name: Name, dtype: object,
  210665,
  [0.8258574834336176, 0.748148888134083]],
 [99729    A. Seko
  Name: Name, dtype: object,
  247264,
  [0.9366284122005556, 0.5287846872583627]],
 [96703    Eric Curbelo
  Name: Name, dtype: object,
  237442,
  [0.8965121943825567, 0.6077268748357797]],
 [98475    A. Ismajli
  Name: Name, dtype: object,
  258782,
  [0.8833612826609473, 0.6301947728010502]],
 [89091    K. Laifis
  Name: Name, dtype: object,
  234774,
  [0.8445284551466853, 0.7052610531664701]],
 [87691    T. Delaney
  Name: Name, dtype: object,
  193283,
  [0.7728293423457766, 0.8464252597356088]],
 [101464    H. Araki
  Name: Name, dtype: object,
  247266,
  [0.9193276076459517, 0.5565823148445843]],
 [89985    K. Amian
  Name: Name, dtype: object,
  231235,
  [0.8730495924399132, 0.6476452369068434]],
 [97948    21 V. Regini
  Name: Name, dtype: object,
  193686,
  [0.9104721985073456, 0.5723852456629202]],
 [97802    R. Oxford
  Name: Name, dtype: object,
  225908,
  [0.898703523770023, 0.5950957167882291]],
 [96340    N. Süle
  Name: Name, dtype: object,
  212190,
  [0.7794212412919473, 0.8290781710384999]],
 [90738    Calero
  Name: Name, dtype: object,
  240289,
  [0.8342373932715768, 0.7197902737203474]],
 [92711    S. Gigot
  Name: Name, dtype: object,
  219581,
  [0.8190743180708916, 0.7491120689897122]],
 [96999    E. Tercero
  Name: Name, dtype: object,
  239822,
  [0.9298046530848417, 0.52592104994439]],
 [89354    L. Romo
  Name: Name, dtype: object,
  243015,
  [0.8166830201083767, 0.7476127224890508]],
 [95744    N. Araújo
  Name: Name, dtype: object,
  192041,
  [0.8466714655949927, 0.685574727318826]],
 [98978    S. Hatanaka
  Name: Name, dtype: object,
  245785,
  [0.8888379925133943, 0.6022558307120219]],
 [97056    D. Biraschi
  Name: Name, dtype: object,
  213938,
  [0.8741483687158524, 0.6306810584122787]],
 [89999    K. Zouma
  Name: Name, dtype: object,
  204311,
  [0.793004584988501, 0.7887397899831933]],
 [97522    Z. Vyner
  Name: Name, dtype: object,
  225072,
  [0.923640408339974, 0.5293257035996217]],
 [94535    S. Botman
  Name: Name, dtype: object,
  251809,
  [0.8063621843190762, 0.7588183752737117]],
 [98424    D. O'Shea
  Name: Name, dtype: object,
  235405,
  [0.8913988946403094, 0.5905353839758243]],
 [91942    P. Wiesinger
  Name: Name, dtype: object,
  239090,
  [0.866633459349446, 0.6377151501179756]],
 [95866    S. Schonlau
  Name: Name, dtype: object,
  214948,
  [0.8625679324825664, 0.6447025332026735]],
 [96363    W. Harding
  Name: Name, dtype: object,
  228225,
  [0.9327636993207801, 0.5050305276721204]],
 [99255    J. Hoogma
  Name: Name, dtype: object,
  231823,
  [0.8837222055956045, 0.6016482785737177]],
 [98780    M. Lovato
  Name: Name, dtype: object,
  258946,
  [0.8890882206933552, 0.5909348721228819]],
 [98185    M. Veljković
  Name: Name, dtype: object,
  221354,
  [0.8541175394521902, 0.6589212289443209]],
 [90198    D. Amartey
  Name: Name, dtype: object,
  212883,
  [0.8239132350987882, 0.7180945975227719]],
 [96706    Jorge Meré
  Name: Name, dtype: object,
  223033,
  [0.8639180413103229, 0.6391096053625693]],
 [92163    H. Magnússon
  Name: Name, dtype: object,
  208522,
  [0.8479188047262748, 0.6704946062929641]],
 [94676    J. O'Connell
  Name: Name, dtype: object,
  212300,
  [0.8269887921407082, 0.7112844585150457]],
 [96279    Murilo
  Name: Name, dtype: object,
  240115,
  [0.8385917583031445, 0.6880527525495996]],
 [88253    D. Zakaria
  Name: Name, dtype: object,
  229261,
  [0.7753003302827896, 0.8127337973839864]],
 [91739    J. Bijol
  Name: Name, dtype: object,
  244238,
  [0.8651042289449485, 0.6352149756987826]],
 [90223    16 Rodrigo Caio
  Name: Name, dtype: object,
  203324,
  [0.824706109062589, 0.7137524005510313]],
 [90028    A. Diallo
  Name: Name, dtype: object,
  225711,
  [0.7867033401435102, 0.7879159669565277]],
 [96951    Dani Calvo
  Name: Name, dtype: object,
  219180,
  [0.8804429743792261, 0.6029666815752233]],
 [89065    D. Hancko
  Name: Name, dtype: object,
  247103,
  [0.8283867374899049, 0.704749839947408]],
 [90407    M. Sarr
  Name: Name, dtype: object,
  235454,
  [0.843037023161468, 0.6757958786414214]],
 [99716    H. Moukoudi
  Name: Name, dtype: object,
  228732,
  [0.8454861044145364, 0.6695943179187964]],
 [93501    D. Sánchez
  Name: Name, dtype: object,
  220793,
  [0.7880264907373619, 0.7761202675731613]],
 [96940    José Amo
  Name: Name, dtype: object,
  231320,
  [0.8947495160848343, 0.5643413733792739]],
 [97737    A. Pieper
  Name: Name, dtype: object,
  246836,
  [0.8419101680408131, 0.6676052612509024]],
 [97803    H. Delcroix
  Name: Name, dtype: object,
  237440,
  [0.8633339574312671, 0.6248942974014386]],
 [91237    B. Godfrey
  Name: Name, dtype: object,
  225793,
  [0.8212871111630896, 0.7069326474206875]],
 [95413    B. Djimsiti
  Name: Name, dtype: object,
  208165,
  [0.7836156594141617, 0.780734394684871]],
 [93553    M. Niakhaté
  Name: Name, dtype: object,
  225859,
  [0.8285715160110778, 0.6900286013601978]],
 [93580    N. Cozza
  Name: Name, dtype: object,
  239136,
  [0.8619378579678277, 0.623129513185792]],
 [93473    J. Andersen
  Name: Name, dtype: object,
  224221,
  [0.7895700603848945, 0.7648807536749692]],
 [95138    I. Reyes
  Name: Name, dtype: object,
  252008,
  [0.9143553754910821, 0.5180807116965204]],
 [95238    J. Knight
  Name: Name, dtype: object,
  237213,
  [0.8960649735451189, 0.5538561692797008]],
 [94099    Robson Bambu
  Name: Name, dtype: object,
  256343,
  [0.8763310379167892, 0.5923918772422936]],
 [87912    R. Tapia
  Name: Name, dtype: object,
  220673,
  [0.7726801371396135, 0.7943832716547223]],
 [93397    Z. Vanheusden
  Name: Name, dtype: object,
  241103,
  [0.8299080574594553, 0.6785548877677998]],
 [87750    W. McKennie
  Name: Name, dtype: object,
  238744,
  [0.7756299461464095, 0.785432163284952]],
 [91480    Edgar Ié
  Name: Name, dtype: object,
  210520,
  [0.8447393253095696, 0.6479989943560296]],
 [100192    Vitao
  Name: Name, dtype: object,
  253400,
  [0.8877267135610029, 0.5624117648029706]],
 [98674    E. Roco
  Name: Name, dtype: object,
  212225,
  [0.847747127039739, 0.6410948620549685]],
 [100514    C. Hountondji
  Name: Name, dtype: object,
  219680,
  [0.8554717020887536, 0.6257058921099082]],
 [98135    H. Wahl
  Name: Name, dtype: object,
  230855,
  [0.84205983145708, 0.6510358233783776]],
 [97998    José León
  Name: Name, dtype: object,
  223120,
  [0.9077350854696602, 0.5213383638353136]],
 [94578    21 B. Kuscevic
  Name: Name, dtype: object,
  225236,
  [0.852113730419841, 0.6304378326217288]],
 [95587    21 Nélson Monte
  Name: Name, dtype: object,
  222598,
  [0.8665865154444585, 0.6018241102131706]],
 [93205    Javi Hernández
  Name: Name, dtype: object,
  244523,
  [0.8805929839333455, 0.5737407590558483]],
 [92358    Rúben Semedo
  Name: Name, dtype: object,
  216778,
  [0.801726654662973, 0.7280544500425395]],
 [98220    A. Hoffmann
  Name: Name, dtype: object,
  199779,
  [0.8485440715976115, 0.6356337035445891]],
 [96803    J. Lucumí
  Name: Name, dtype: object,
  231207,
  [0.8246131324167869, 0.6824307165608939]],
 [94531    B. Davies
  Name: Name, dtype: object,
  213017,
  [0.846560279863154, 0.6389100943914512]],
 [91835    F. Miguel
  Name: Name, dtype: object,
  226130,
  [0.858321258058033, 0.6156784876866233]],
 [93843    Tuta
  Name: Name, dtype: object,
  247182,
  [0.8380066038485088, 0.6548882188323292]],
 [91259    T. Mings
  Name: Name, dtype: object,
  212419,
  [0.7766692100324384, 0.7756560706002931]],
 [93070    J. Todibo
  Name: Name, dtype: object,
  245388,
  [0.8095524321335074, 0.7100494495894997]],
 [98040    J. Tah
  Name: Name, dtype: object,
  213331,
  [0.7989755166005591, 0.7306848255075572]],
 [99369    Unai Núñez
  Name: Name, dtype: object,
  240900,
  [0.7800676836404089, 0.7668900714566539]],
 [95622    M. Lode
  Name: Name, dtype: object,
  242160,
  [0.8722572820496466, 0.5849621878753519]],
 [96609    C. Mepham
  Name: Name, dtype: object,
  233201,
  [0.8474107568521844, 0.6336481680314873]],
 [99375    D. Hyam
  Name: Name, dtype: object,
  221281,
  [0.8823826507844685, 0.5645744847746946]],
 [89504    D. Bronn
  Name: Name, dtype: object,
  235565,
  [0.8156683899549209, 0.6961761130363373]],
 [93890    J. Gradit
  Name: Name, dtype: object,
  221284,
  [0.8221798287635559, 0.6831504516537633]],
 [95117    S. Cáceres
  Name: Name, dtype: object,
  253257,
  [0.8434518524036003, 0.6408375959138944]],
 [94397    D. Ćaleta-Car
  Name: Name, dtype: object,
  225263,
  [0.775287905195537, 0.7745140673329486]],
 [93233    Joaquín
  Name: Name, dtype: object,
  232132,
  [0.8119380412450182, 0.7008457677595331]],
 [99901    F. Kent
  Name: Name, dtype: object,
  220140,
  [0.9078897179242444, 0.5109794986049481]],
 [95250    M. Friedrich

In [112]:
df_17["Lindel" in df_17["Name"]]

KeyError: False